docs/rackerlabs-wadl2swagger/openstack/wadls/os-aggregates-v2.1.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2013-2014 OpenStack Foundation, All Rights Reserved -->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <resources xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://servers.api.openstack.com"
              xml:id="os-aggregates-v2.1">
        <resource id="os-aggregates" path="/v2.1/os-aggregates">
         <method name="POST" rax:id="createaggregate">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create aggregate">
               <para role="shortdesc">Creates an aggregate, given its
                name and availability zone.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "aggregate": {
        "name": "name",
        "availability_zone": "nova"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="201">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "aggregate": {
        "availability_zone": "nova",
        "created_at": "2013-08-18T12:17:55.751757",
        "deleted": 0,
        "deleted_at": null,
        "id": 1,
        "name": "name",
        "updated_at": null
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
         <method name="GET" rax:id="listaggregate">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List aggregates">
               <para role="shortdesc">Lists aggregates id, name, and
                availability_zone for an aggregate.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "aggregate": {
        "name": "name",
        "availability_zone": "nova"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "aggregates": [
        {
            "availability_zone": "nova",
            "created_at": "2013-08-18T12:17:56.856455",
            "deleted": 0,
            "deleted_at": null,
            "hosts": [],
            "id": 1,
            "metadata": {
                "availability_zone": "nova"
            },
            "name": "name",
            "updated_at": null
        }
    ]
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc> 
                  <param name="X-OpenStack-Request-ID"
                         style="header"
                         required="false"
                         type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Returns a unique identifier to help provide
        tracking for the request. Provider must configure middleware
        to provide the request_id.</para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
      </resource>
                
                
                <resource id="aggregate-id" path="/v2.1/os-aggregates/{aggregate_id}">
         <method name="GET" rax:id="showaggregate">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Show aggregate details">
               <para role="shortdesc">Shows the details of an aggregate,
                hosts and metadata included.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "aggregate": {
        "name": "name",
        "availability_zone": "nova"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "aggregate": {
        "availability_zone": "nova",
        "created_at": "2013-08-18T12:17:56.380226",
        "deleted": 0,
        "deleted_at": null,
        "hosts": [],
        "id": 1,
        "metadata": {
            "availability_zone": "nova"
        },
        "name": "name",
        "updated_at": null
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc> 
                  <param name="X-OpenStack-Request-ID"
                         style="header"
                         required="false"
                         type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Returns a unique identifier to help provide
        tracking for the request. Provider must configure middleware
        to provide the request_id.</para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
         <method name="GET" rax:id="updateaggregate">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Update aggregate">
               <para role="shortdesc">Updates either or both the name and
                availability zone for a specified aggregate.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "aggregate": {
        "name": "newname",
        "availability_zone": "nova2"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "aggregate": {
        "availability_zone": "nova2",
        "created_at": "2013-08-18T12:17:56.259751",
        "deleted": 0,
        "deleted_at": null,
        "hosts": [],
        "id": 1,
        "metadata": {
            "availability_zone": "nova2"
        },
        "name": "newname",
        "updated_at": "2013-08-18T12:17:56.286720"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc> 
                  <param name="X-OpenStack-Request-ID"
                         style="header"
                         required="false"
                         type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Returns a unique identifier to help provide
        tracking for the request. Provider must configure middleware
        to provide the request_id.</para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
      </resource>
                    
                    
                    <resource id="action" path="/v2.1/os-aggregates/{aggregate_id}/action">
         <method name="POST" rax:id="addhost">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Add host">
               <para role="shortdesc">Adds a host to the specified
                aggregate.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "add_host": {
        "host": "21549b2f665945baaa7101926a00143c"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="202">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "aggregate": {
        "availability_zone": "nova",
        "created_at": "2013-08-18T12:17:56.297823",
        "deleted": 0,
        "deleted_at": null,
        "hosts": [
            "21549b2f665945baaa7101926a00143c"
        ],
        "id": 1,
        "metadata": {
            "availability_zone": "nova"
        },
        "name": "name",
        "updated_at": null
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
         <method name="POST" rax:id="aggregatemetadata">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create or update aggregate metadata">
               <para role="shortdesc">Creates or replaces metadata for an
                aggregate.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "set_metadata": {
        "metadata": {
            "key": "value"
        }
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "aggregate": {
        "availability_zone": "nova",
        "created_at": "2013-08-18T12:17:55.959571",
        "deleted": 0,
        "deleted_at": null,
        "hosts": [],
        "id": 1,
        "metadata": {
            "availability_zone": "nova",
            "key": "value"
        },
        "name": "name",
        "updated_at": null
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
         <method name="POST" rax:id="removeaggregate">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Remove host">
               <para role="shortdesc">Removes a host from the specified
                aggregate.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "remove_host": {
        "host": "bf1454b3d71145d49fca2101c56c728d"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="202">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "aggregate": {
        "availability_zone": "nova",
        "created_at": "2013-08-18T12:17:56.990581",
        "deleted": 0,
        "deleted_at": null,
        "hosts": [],
        "id": 1,
        "metadata": {
            "availability_zone": "nova"
        },
        "name": "name",
        "updated_at": null
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
      </resource>
                        
                        
                        
                    
                
            
    </resources>
    <!-- *******************************************************-->
    <!--             Aggregates                           -->
    <!--*******************************************************-->
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="createaggregate">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="addhost">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>

    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="showaggregate">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                 <param name="X-OpenStack-Request-ID"
                   style="header"
                   required="false"
                   type="xsd:string">
    
</param>
            </representation>
        </response>
    </method>

    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listaggregate">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                 <param name="X-OpenStack-Request-ID"
                   style="header"
                   required="false"
                   type="xsd:string">
    
</param>
            </representation>
        </response>
    </method>

    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="aggregatemetadata">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>

    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="removeaggregate">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>

    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="updateaggregate">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                 <param name="X-OpenStack-Request-ID"
                   style="header"
                   required="false"
                   type="xsd:string">
    
</param>
            </representation>
        </response>
    </method>
</wadl:application>
