docs/rackerlabs-wadl2swagger/openstack/wadls/os-block-device-mapping-v2-boot.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2013-2014 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent os-block-device-mapping-v2-boot.wadl -->
<!--*******************************************************-->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <wadl:grammars xmlns:db="http://docbook.org/ns/docbook"
                  xmlns="http://wadl.dev.java.net/2009/02">
      <wadl:include href="14203-os-block-device-mapping-v2-boot-xsd-1.xsd"/>
      <wadl:include href="14203-os-block-device-mapping-v2-boot-xsd-2.xsd"/>
   </wadl:grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:db="http://docbook.org/ns/docbook"
              xmlns:common="http://docs.openstack.org/common/api/v1.0"
              xmlns:csapi="http://docs.openstack.org/compute/api/v2"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://servers.api.openstack.com"
              xml:id="block_device_mapping_v2">
        <resource id="Servers" path="/v2/{tenant_id}/servers">
         <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Server list">
            <para>A list of servers. Each server contains IDs, names,
                and links. Other attributes are omitted.</para>
        </wadl:doc>
         <param name="tenant_id" style="template" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The tenant ID in a multi-tenancy
                            cloud.</para>
                    </wadl:doc>
                </param>
         <method name="GET" rax:id="listServers">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List servers">
               <para role="shortdesc">Lists IDs, names, and links for all
                servers.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/xml">
                  <param name="changes-since"
                         style="query"
                         required="false"
                         type="xsd:dateTime">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>A time/date stamp for when the server last
                        changed status.</para>
                     </wadl:doc>
                  </param>
                  <param name="image" style="query" required="false" type="xsd:anyURI">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Name of the image in URL
                    format.</para>
                     </wadl:doc>
                  </param>
                  <param name="flavor" style="query" required="false" type="xsd:anyURI">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Name of the flavor in URL
                    format.</para>
                     </wadl:doc>
                  </param>
                  <param name="name" style="query" required="false" type="regexp">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Name of the server as a
                        string; can be queried with regular
                        expressions. Realize that ?name=bob returns both
                        bob and bobb. If you need to match bob only, you can use
                        a regular expression matching the syntax of the
                        underlying database server implemented for
                        Compute (such as MySQL or PostgreSQL).</para>
                     </wadl:doc>
                  </param>
                  <param name="marker" style="query" required="false" type="csapi:UUID">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>UUID of the server at which you want to set
                        a marker.</para>
                     </wadl:doc>
                  </param>
                  <param name="limit" style="query" required="false" type="xsd:int">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Integer value for the limit of values to
                        return.</para>
                     </wadl:doc>
                  </param>
                  <param name="status"
                         style="query"
                         required="false"
                         type="csapi:ServerStatus">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Value of the status of the server so that
                        you can filter on "ACTIVE" for
                    example.</para>
                     </wadl:doc>
                  </param>
                  <param name="host" style="query" required="false" type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Name of the host as a
                    string.</para>
                     </wadl:doc>
                  </param> 
               </representation>
            </request>
            <response status="200 203">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "servers": [
        {
            "id": "616fb98f-46ca-475e-917e-2563e5a8cd19",
            "links": [
                {
                    "href": "http://openstack.example.com/v2/openstack/servers/616fb98f-46ca-475e-917e-2563e5a8cd19",
                    "rel": "self"
                },
                {
                    "href": "http://openstack.example.com/openstack/servers/616fb98f-46ca-475e-917e-2563e5a8cd19",
                    "rel": "bookmark"
                }
            ],
            "name": "new-server-test"
        }
    ]
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml" element="csapi:servers">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <xsdxt:code>
                        <programlisting language="xml">&lt;?xml version='1.0' encoding='UTF-8'?&gt;
&lt;servers xmlns:atom="http://www.w3.org/2005/Atom" xmlns="http://docs.openstack.org/compute/api/v1.1"&gt;
  &lt;server name="new-server-test" id="b626796d-d585-4874-b178-78c65289bba4"&gt;
    &lt;atom:link href="http://openstack.example.com/v2/openstack/servers/b626796d-d585-4874-b178-78c65289bba4" rel="self"/&gt;
    &lt;atom:link href="http://openstack.example.com/openstack/servers/b626796d-d585-4874-b178-78c65289bba4" rel="bookmark"/&gt;
  &lt;/server&gt;
&lt;/servers&gt;</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <param name="servers"
                         style="plain"
                         required="true"
                         type="csapi:ServersWithOnlyIDsNamesLinks"
                         path="/csapi:servers/atom:link[@rel='servers']/@href">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>List of servers.</para>
                    </wadl:doc>
                    <link resource_type="#ServerList" rel="servers"/>
                  </param>
                  <param name="next"
                         style="plain"
                         type="xsd:anyURI"
                         path="/csapi:servers/atom:link[@rel='next']/@href">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Moves to the next item in
                            the list.</para>
                     </wadl:doc>
                    <link resource_type="#ServerList" rel="next"/>
                  </param>
                  <param name="previous"
                         style="plain"
                         type="xsd:anyURI"
                         path="/csapi:servers/atom:link[@rel='previous']/@href">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Moves to the previous item
                            in the list.</para>
                     </wadl:doc>
                    <link resource_type="#ServerList" rel="previous"/>
                  </param>
               </representation>
            </response>
            <!-- Common Faults --> 
            <response>
               <representation mediaType="application/xml" element="csapi:computeFault"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="503">
               <representation mediaType="application/xml" element="csapi:serviceUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="400">
               <representation mediaType="application/xml" element="csapi:badRequest"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="403">
               <representation mediaType="application/xml" element="csapi:forbidden"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="405">
               <representation mediaType="application/xml" element="csapi:badMethod"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="413">
               <representation mediaType="application/xml" element="csapi:overLimit"/>
               <representation mediaType="application/json"/>
            </response>
            </method>
         <method name="POST" rax:id="createServer">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create server">
               <para role="shortdesc">Creates a server with a block
                device mapping.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "server": {
        "name": "new-server-test",
        "imageRef": "http://openstack.example.com/openstack/images/70a599e0-31e7-49b7-b260-868f441e862b",
        "flavorRef": "http://openstack.example.com/openstack/flavors/1",
        "metadata": {
            "My Server Name": "Apache1"
        },
        "personality": [
            {
                "path": "/etc/banner.txt",
                "contents": "ICAgICAgDQoiQSBjbG91ZCBkb2VzIG5vdCBrbm93IHdoeSBpdCBtb3ZlcyBpbiBqdXN0IHN1Y2ggYSBkaXJlY3Rpb24gYW5kIGF0IHN1Y2ggYSBzcGVlZC4uLkl0IGZlZWxzIGFuIGltcHVsc2lvbi4uLnRoaXMgaXMgdGhlIHBsYWNlIHRvIGdvIG5vdy4gQnV0IHRoZSBza3kga25vd3MgdGhlIHJlYXNvbnMgYW5kIHRoZSBwYXR0ZXJucyBiZWhpbmQgYWxsIGNsb3VkcywgYW5kIHlvdSB3aWxsIGtub3csIHRvbywgd2hlbiB5b3UgbGlmdCB5b3Vyc2VsZiBoaWdoIGVub3VnaCB0byBzZWUgYmV5b25kIGhvcml6b25zLiINCg0KLVJpY2hhcmQgQmFjaA=="
            }
        ],
        "block_device_mapping_v2": [
            {
                "device_name": "/dev/sdb1",
                "source_type": "blank",
                "destination_type": "local",
                "delete_on_termination": "True",
                "guest_format": "swap",
                "boot_index": "-1"
            },
            {
                "device_name": "/dev/sda1",
                "source_type": "volume",
                "destination_type": "volume",
                "uuid": "fake-volume-id-1",
                "boot_index": "0"
            }
        ]
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml" element="csapi:server">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;server xmlns="http://docs.openstack.org/compute/api/v1.1" imageRef="http://openstack.example.com/openstack/images/70a599e0-31e7-49b7-b260-868f441e862b" flavorRef="http://openstack.example.com/openstack/flavors/1" name="new-server-test"&gt;
  &lt;metadata&gt;
    &lt;meta key="My Server Name"&gt;Apache1&lt;/meta&gt;
  &lt;/metadata&gt;
  &lt;personality&gt;
    &lt;file path="/etc/banner.txt"&gt;
        ICAgICAgDQoiQSBjbG91ZCBkb2VzIG5vdCBrbm93IHdoeSBp
        dCBtb3ZlcyBpbiBqdXN0IHN1Y2ggYSBkaXJlY3Rpb24gYW5k
        IGF0IHN1Y2ggYSBzcGVlZC4uLkl0IGZlZWxzIGFuIGltcHVs
        c2lvbi4uLnRoaXMgaXMgdGhlIHBsYWNlIHRvIGdvIG5vdy4g
        QnV0IHRoZSBza3kga25vd3MgdGhlIHJlYXNvbnMgYW5kIHRo
        ZSBwYXR0ZXJucyBiZWhpbmQgYWxsIGNsb3VkcywgYW5kIHlv
        dSB3aWxsIGtub3csIHRvbywgd2hlbiB5b3UgbGlmdCB5b3Vy
        c2VsZiBoaWdoIGVub3VnaCB0byBzZWUgYmV5b25kIGhvcml6
        b25zLiINCg0KLVJpY2hhcmQgQmFjaA==
    &lt;/file&gt;
  &lt;/personality&gt;
  &lt;block_device_mapping_v2&gt;
    &lt;mapping device_name="/dev/sdb1" source_type="blank" destination_type="local" delete_on_termination="True" guest_format="swap" boot_index="-1"&gt;&lt;/mapping&gt;
    &lt;mapping device_name="/dev/sda1" source_type="volume" destination_type="volume" uuid="fake-volume-id-1" boot_index="0"&gt;&lt;/mapping&gt;
  &lt;/block_device_mapping_v2&gt;
&lt;/server&gt;</programlisting>
                     </xsdxt:code>
                  </wadl:doc> 
                  <param name="security_groups"
                         style="plain"
                         required="false"
                         type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>A <code>security_groups</code>
                        object.</para>
                     </wadl:doc>
                  </param>
                  <param name="security_group"
                         style="plain"
                         required="false"
                         type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>One or more
                            <code>security_group</code> objects.
                        Specify the name of the security group in the
                            <code>name</code> attribute. If you omit
                        this attribute, the server is created in the
                            <code>default</code> security
                        group.</para>
                     </wadl:doc>
                  </param>
                  <param name="user_data"
                         style="plain"
                         required="false"
                         type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Configuration information or
                        scripts to use upon launch. Must be Base64
                        encoded.</para>
                     </wadl:doc>
                  </param>
                  <param name="availability_zone"
                         style="plain"
                         required="false"
                         type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The availability zone in which
                        to launch the server.</para>
                     </wadl:doc>
                  </param>
                  <param name="server"
                         style="plain"
                         required="true"
                         type="csapi:ServerForCreate"
                         path="/csapi:server">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="server">
                        <para>server.</para>
                     </wadl:doc>
                  </param>
                  <param name="imageRef"
                         style="plain"
                         required="true"
                         type="csapi:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="imageRef">
                        <para>The image reference for the desired image
                        for your server instance.</para>
                        <para>Specify as an ID or full
                    URL.</para>
                     </wadl:doc>
                  </param>
                  <param name="flavorRef"
                         style="plain"
                         required="true"
                         type="csapi:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="flavorRef">
                        <para>The flavor reference for the desired flavor
                        for your server instance.</para>
                        <para>Specify as an ID or full
                    URL.</para>
                     </wadl:doc>
                  </param>
                  <param name="networks"
                         style="plain"
                         type="xsd:string"
                         required="false">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>A <code>networks</code> object. By default,
                        the server instance is provisioned with all
                        isolated networks for the tenant.</para>
                        <para>Optionally, you can create one or more NICs
                        on the server.</para>
                        <para>To provision the server instance with a NIC
                        for a network, specify the UUID of the network
                        in the <code>uuid</code> attribute in a
                        <code>networks</code> object.</para>
                        <para>To provision the server instance with a NIC
                        for an already existing port, specify the
                        port-id in the <code>port</code> attribute in
                        a <code>networks</code> object.</para>
                        <para>You can specify multiple NICs on the
                        server.</para>
                     </wadl:doc>
                  </param>
                  <param name="uuid" style="plain" type="xsd:string" required="false">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>To provision the server instance with a NIC
                        for a network, specify the UUID of the network
                        in the <code>uuid</code> attribute in a
                        <code>networks</code> object. Required if you
                        omit the <code>port</code> attribute.</para>
                     </wadl:doc>
                  </param>
                  <param name="port" style="plain" type="xsd:string" required="false">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>To provision the server instance with a NIC
                        for an already existing port, specify the
                        port-id in the <code>port</code> attribute in
                        a <code>networks</code> object. Required if
                        you omit the <code>uuid</code>
                        attribute.</para>
                     </wadl:doc>
                  </param>
                  <param name="fixed_ip"
                         style="plain"
                         type="xsd:string"
                         required="false">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>A fixed IPv4 address for the NIC. Valid with
                        a <code>neutron</code> or
                            <code>nova-networks</code> network.</para>
                     </wadl:doc>
                  </param>
                  <param name="name" style="plain" required="true" type="csapi:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="name">
                        <para>The server name.</para>
                     </wadl:doc>
                  </param>
                  <param name="metadata"
                         style="plain"
                         required="false"
                         type="csapi:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="metadata">
                        <para>Metadata key and value pairs. The maximum
                        size of the metadata key and value is 255
                        bytes each.</para>
                     </wadl:doc>
                  </param>
                  <param name="personality"
                         style="plain"
                         required="false"
                         type="csapi:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="personality">
                        <para>File path and contents (text only) to inject
                        into the server at launch. The maximum size of
                        the file path data is 255 bytes. The maximum
                        limit refers to the number of bytes in the
                        decoded data and not the number of characters
                        in the encoded data.</para>
                     </wadl:doc>
                  </param>
                  <param name="block_device_mapping_v2"
                         style="plain"
                         type="csapi:string"
                         required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Enables booting the server from a volume
                    when additional parameters are given.</para>
                     </wadl:doc>
                  </param>
                  <param name="device_name"
                         style="plain"
                         type="csapi:string"
                         required="true"
                         path="$.parameters.block_device_mapping_v2.device_name">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Describes a path to the device for the
                    volume you want to use to boot the
                    server.</para>
                     </wadl:doc>
                  </param>
                  <param name="source_type"
                         style="plain"
                         type="csapi:string"
                         required="true"
                         path="$.parameters.block_device_mapping_v2.source_type">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Describes the volume source type for the
                    volume. Choices are "blank", "snapshot", "volume", or "image".</para>
                    </wadl:doc>
                    </param>
                  <param name="destination_type"
                         style="plain"
                         type="csapi:string"
                         required="false"
                         path="$.parameters.block_device_mapping_v2.destination_type">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Describes where the volume comes from.
                    Choices are "local" or "volume". When using
                    "volume" the volume ID </para>
                     </wadl:doc>
                    </param>
                  <param name="delete_on_termination"
                         style="plain"
                         type="csapi:string"
                         required="true"
                         path="$.parameters.block_device_mapping_v2.delete_on_termination">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>To delete the boot volume when the server stops, specify
                     <code>true</code>. Otherwise, specify <code>false</code>.</para>
                     </wadl:doc>
                    </param>
                  <param name="guest_format"
                         style="plain"
                         type="csapi:string"
                         required="true"
                         path="$.parameters.block_device_mapping_v2.guest_format">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Specifies the guest server disk file system format, such
                    as "ephemeral" or "swap".</para>
                     </wadl:doc>
                    </param>
                  <param name="delete_on_termination"
                         style="plain"
                         type="csapi:string"
                         required="true"
                         path="$.parameters.block_device_mapping_v2.delete_on_termination">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>To delete the boot volume when the server stops, specify
                     <code>true</code>. Otherwise, specify <code>false</code>.</para>
                     </wadl:doc>
                    </param>
                  <param name="boot_index"
                         style="plain"
                         type="csapi:string"
                         required="true"
                         path="$.parameters.block_device_mapping_v2.boot_index">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Indicates a number designating the boot order of the
                    device. Use -1 for the boot volume, choose 0 for
                    an attached volume.</para>
                     </wadl:doc>
                    </param>
                  <param name="config_drive"
                         style="plain"
                         type="csapi:string"
                         required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Enables metadata injection in a server through a
                     configuration drive.</para>
                        <para>To enable a configuration drive, specify
                     <code>true</code>. Otherwise, specify <code>false</code>.
                     </para>
                     </wadl:doc>
                  </param> 
                  <param name="block_device_mapping_v2"
                         style="plain"
                         required="true"
                         type="csapi:blockDeviceMapping"
                         path="/csapi:server">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                               xml:lang="EN"
                               title="block_device_mapping_v2">
                        <para>block_device_mapping_v2.</para>
                    </wadl:doc>
                  </param>
                  <param name="device_name"
                         style="plain"
                         type="xsd:string"
                         required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>A device name where the volume is
                            attached in the system at /dev/dev_name.
                            This value is typically vda.</para>
                    </wadl:doc>
                  </param>
                  <param name="source_type"
                         style="plain"
                         type="xsd:string"
                         required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Either <code>snap</code> or any other
                            value, including a blank string.
                                <code>snap</code> means that the
                            volume was created from a snapshot.</para>
                    </wadl:doc>
                  </param>
                  <param name="destination_type"
                         style="plain"
                         type="xsd:string"
                         required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Either <code>snap</code> or any other
                            value, including a blank string.
                                <code>snap</code> means that the
                            volume was created from a snapshot.</para>
                    </wadl:doc>
                  </param>
                  <param name="delete_on_termination"
                         style="plain"
                         type="xsd:bool"
                         required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Set to True (or 1) to delete the volume
                            when the instance is deleted. Set to False
                            (or 0) to retain the volume when the
                            instance is deleted.</para>
                    </wadl:doc>
                  </param>
                  <param name="guest_format"
                         style="plain"
                         type="xsd:string"
                         required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Guest format.</para>
                    </wadl:doc>
                  </param>
                  <param name="uuid" style="plain" type="csapi:uuid" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The device ID.</para>
                    </wadl:doc>
                  </param>
                  <param name="boot_index"
                         style="plain"
                         type="xsd:string"
                         required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The boot index.</para>
                    </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="202">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "server": {
        "adminPass": "N4x7wFX6iN8D",
        "id": "babd1af0-4fc6-4529-b32f-aad69811ccf5",
        "links": [
            {
                "href": "http://openstack.example.com/v2/openstack/servers/babd1af0-4fc6-4529-b32f-aad69811ccf5",
                "rel": "self"
            },
            {
                "href": "http://openstack.example.com/openstack/servers/babd1af0-4fc6-4529-b32f-aad69811ccf5",
                "rel": "bookmark"
            }
        ]
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml" element="csapi:server">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="xml">&lt;?xml version='1.0' encoding='UTF-8'?&gt;
&lt;server xmlns:atom="http://www.w3.org/2005/Atom" xmlns="http://docs.openstack.org/compute/api/v1.1" id="fdbce07b-097e-4ab1-8141-b1c847861aa1" adminPass="zA62GVkFvN74"&gt;
  &lt;metadata/&gt;
  &lt;atom:link href="http://openstack.example.com/v2/openstack/servers/fdbce07b-097e-4ab1-8141-b1c847861aa1" rel="self"/&gt;
  &lt;atom:link href="http://openstack.example.com/openstack/servers/fdbce07b-097e-4ab1-8141-b1c847861aa1" rel="bookmark"/&gt;
&lt;/server&gt;</programlisting>
                     </xsdxt:code>
                  </wadl:doc> 
                  <param name="security_groups"
                         style="plain"
                         required="false"
                         type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>A <code>security_groups</code>
                        object.</para>
                     </wadl:doc>
                  </param>
                  <param name="security_group"
                         style="plain"
                         required="false"
                         type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>One or more
                            <code>security_group</code> objects.
                        Specify the name of the security group in the
                            <code>name</code> attribute. If you omit
                        this attribute, the server is created in the
                            <code>default</code> security
                        group.</para>
                     </wadl:doc>
                  </param>
                  <param name="user_data"
                         style="plain"
                         required="false"
                         type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Configuration information or
                        scripts to use upon launch. Must be Base64
                        encoded.</para>
                     </wadl:doc>
                  </param>
                  <param name="availability_zone"
                         style="plain"
                         required="false"
                         type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The availability zone in which
                        to launch the server.</para>
                     </wadl:doc>
                  </param>
                  <param name="server"
                         style="plain"
                         required="true"
                         type="csapi:ServerForCreate"
                         path="/csapi:server">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="server">
                        <para>server.</para>
                     </wadl:doc>
                  </param>
                  <param name="imageRef"
                         style="plain"
                         required="true"
                         type="csapi:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="imageRef">
                        <para>The image reference for the desired image
                        for your server instance.</para>
                        <para>Specify as an ID or full
                    URL.</para>
                     </wadl:doc>
                  </param>
                  <param name="flavorRef"
                         style="plain"
                         required="true"
                         type="csapi:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="flavorRef">
                        <para>The flavor reference for the desired flavor
                        for your server instance.</para>
                        <para>Specify as an ID or full
                    URL.</para>
                     </wadl:doc>
                  </param>
                  <param name="networks"
                         style="plain"
                         type="xsd:string"
                         required="false">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>A <code>networks</code> object. By default,
                        the server instance is provisioned with all
                        isolated networks for the tenant.</para>
                        <para>Optionally, you can create one or more NICs
                        on the server.</para>
                        <para>To provision the server instance with a NIC
                        for a network, specify the UUID of the network
                        in the <code>uuid</code> attribute in a
                        <code>networks</code> object.</para>
                        <para>To provision the server instance with a NIC
                        for an already existing port, specify the
                        port-id in the <code>port</code> attribute in
                        a <code>networks</code> object.</para>
                        <para>You can specify multiple NICs on the
                        server.</para>
                     </wadl:doc>
                  </param>
                  <param name="uuid" style="plain" type="xsd:string" required="false">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>To provision the server instance with a NIC
                        for a network, specify the UUID of the network
                        in the <code>uuid</code> attribute in a
                        <code>networks</code> object. Required if you
                        omit the <code>port</code> attribute.</para>
                     </wadl:doc>
                  </param>
                  <param name="port" style="plain" type="xsd:string" required="false">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>To provision the server instance with a NIC
                        for an already existing port, specify the
                        port-id in the <code>port</code> attribute in
                        a <code>networks</code> object. Required if
                        you omit the <code>uuid</code>
                        attribute.</para>
                     </wadl:doc>
                  </param>
                  <param name="fixed_ip"
                         style="plain"
                         type="xsd:string"
                         required="false">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>A fixed IPv4 address for the NIC. Valid with
                        a <code>neutron</code> or
                            <code>nova-networks</code> network.</para>
                     </wadl:doc>
                  </param>
                  <param name="name" style="plain" required="true" type="csapi:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="name">
                        <para>The server name.</para>
                     </wadl:doc>
                  </param>
                  <param name="metadata"
                         style="plain"
                         required="false"
                         type="csapi:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="metadata">
                        <para>Metadata key and value pairs. The maximum
                        size of the metadata key and value is 255
                        bytes each.</para>
                     </wadl:doc>
                  </param>
                  <param name="personality"
                         style="plain"
                         required="false"
                         type="csapi:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="personality">
                        <para>File path and contents (text only) to inject
                        into the server at launch. The maximum size of
                        the file path data is 255 bytes. The maximum
                        limit refers to the number of bytes in the
                        decoded data and not the number of characters
                        in the encoded data.</para>
                     </wadl:doc>
                  </param>
                  <param name="block_device_mapping_v2"
                         style="plain"
                         type="csapi:string"
                         required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Enables booting the server from a volume
                    when additional parameters are given.</para>
                     </wadl:doc>
                  </param>
                  <param name="device_name"
                         style="plain"
                         type="csapi:string"
                         required="true"
                         path="$.parameters.block_device_mapping_v2.device_name">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Describes a path to the device for the
                    volume you want to use to boot the
                    server.</para>
                     </wadl:doc>
                  </param>
                  <param name="source_type"
                         style="plain"
                         type="csapi:string"
                         required="true"
                         path="$.parameters.block_device_mapping_v2.source_type">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Describes the volume source type for the
                    volume. Choices are "blank", "snapshot", "volume", or "image".</para>
                    </wadl:doc>
                    </param>
                  <param name="destination_type"
                         style="plain"
                         type="csapi:string"
                         required="false"
                         path="$.parameters.block_device_mapping_v2.destination_type">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Describes where the volume comes from.
                    Choices are "local" or "volume". When using
                    "volume" the volume ID </para>
                     </wadl:doc>
                    </param>
                  <param name="delete_on_termination"
                         style="plain"
                         type="csapi:string"
                         required="true"
                         path="$.parameters.block_device_mapping_v2.delete_on_termination">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>To delete the boot volume when the server stops, specify
                     <code>true</code>. Otherwise, specify <code>false</code>.</para>
                     </wadl:doc>
                    </param>
                  <param name="guest_format"
                         style="plain"
                         type="csapi:string"
                         required="true"
                         path="$.parameters.block_device_mapping_v2.guest_format">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Specifies the guest server disk file system format, such
                    as "ephemeral" or "swap".</para>
                     </wadl:doc>
                    </param>
                  <param name="delete_on_termination"
                         style="plain"
                         type="csapi:string"
                         required="true"
                         path="$.parameters.block_device_mapping_v2.delete_on_termination">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>To delete the boot volume when the server stops, specify
                     <code>true</code>. Otherwise, specify <code>false</code>.</para>
                     </wadl:doc>
                    </param>
                  <param name="boot_index"
                         style="plain"
                         type="csapi:string"
                         required="true"
                         path="$.parameters.block_device_mapping_v2.boot_index">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Indicates a number designating the boot order of the
                    device. Use -1 for the boot volume, choose 0 for
                    an attached volume.</para>
                     </wadl:doc>
                    </param>
                  <param name="config_drive"
                         style="plain"
                         type="csapi:string"
                         required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Enables metadata injection in a server through a
                     configuration drive.</para>
                        <para>To enable a configuration drive, specify
                     <code>true</code>. Otherwise, specify <code>false</code>.
                     </para>
                     </wadl:doc>
                  </param> 
               </representation>
            </response>
            <response status="422">
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml" element="csapi:UnprocessableEntity"/>
            </response>
            <!-- All other common faults except build in progess -->
        
            <response>
               <representation mediaType="application/xml" element="csapi:computeFault"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="503">
               <representation mediaType="application/xml" element="csapi:serviceUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="400">
               <representation mediaType="application/xml" element="csapi:badRequest"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="403">
               <representation mediaType="application/xml" element="csapi:forbidden"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="405">
               <representation mediaType="application/xml" element="csapi:badMethod"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="413">
               <representation mediaType="application/xml" element="csapi:overLimit"/>
               <representation mediaType="application/json"/>
            </response>
            
            <response status="404">
               <representation mediaType="application/xml" element="csapi:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="415">
               <representation mediaType="application/xml" element="csapi:badMediaType"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="400">
               <representation mediaType="application/xml" element="csapi:NetworkNotFound"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="503">
               <representation mediaType="application/xml" element="csapi:serverCapacityUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
            </method>
      </resource>
    </resources>

    <!--*******************************************************-->
    <!--               Resource Types                          -->
    <!--*******************************************************-->

    
    

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!-- Servers -->
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:csapi="http://docs.openstack.org/compute/api/v2"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="createServer">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml" element="csapi:server">
                 
            <param name="security_groups"
                   style="plain"
                   required="false"
                   type="xsd:string">
                
            </param>
            <param name="security_group"
                   style="plain"
                   required="false"
                   type="xsd:string">
                
            </param>
            <param name="user_data"
                   style="plain"
                   required="false"
                   type="xsd:string">
                
            </param>
            <param name="availability_zone"
                   style="plain"
                   required="false"
                   type="xsd:string">
                
            </param>
            <param name="server"
                   style="plain"
                   required="true"
                   type="csapi:ServerForCreate"
                   path="/csapi:server">
                
            </param>
            <param name="imageRef"
                   style="plain"
                   required="true"
                   type="csapi:string">
                
            </param>
            <param name="flavorRef"
                   style="plain"
                   required="true"
                   type="csapi:string">
                
            </param>
            <param name="networks"
                   style="plain"
                   type="xsd:string"
                   required="false">
                
            </param>
            <param name="uuid" style="plain" type="xsd:string" required="false">
                
            </param>
            <param name="port" style="plain" type="xsd:string" required="false">
                
            </param>
            <param name="fixed_ip"
                   style="plain"
                   type="xsd:string"
                   required="false">
                
            </param>
            <param name="name" style="plain" required="true" type="csapi:string">
                
            </param>
            <param name="metadata"
                   style="plain"
                   required="false"
                   type="csapi:string">
                
            </param>
            <param name="personality"
                   style="plain"
                   required="false"
                   type="csapi:string">
                
            </param>
            <param name="block_device_mapping_v2"
                   style="plain"
                   type="csapi:string"
                   required="false">
                    
            </param>
            <param name="device_name"
                   style="plain"
                   type="csapi:string"
                   required="true"
                   path="$.parameters.block_device_mapping_v2.device_name">
                    
            </param>
            <param name="source_type"
                   style="plain"
                   type="csapi:string"
                   required="true"
                   path="$.parameters.block_device_mapping_v2.source_type">
                    
                    </param>
            <param name="destination_type"
                   style="plain"
                   type="csapi:string"
                   required="false"
                   path="$.parameters.block_device_mapping_v2.destination_type">
                    
                    </param>
            <param name="delete_on_termination"
                   style="plain"
                   type="csapi:string"
                   required="true"
                   path="$.parameters.block_device_mapping_v2.delete_on_termination">
                    
                    </param>
           <param name="guest_format"
                   style="plain"
                   type="csapi:string"
                   required="true"
                   path="$.parameters.block_device_mapping_v2.guest_format">
                    
                    </param>
           <param name="delete_on_termination"
                   style="plain"
                   type="csapi:string"
                   required="true"
                   path="$.parameters.block_device_mapping_v2.delete_on_termination">
                    
                    </param>
           <param name="boot_index"
                   style="plain"
                   type="csapi:string"
                   required="true"
                   path="$.parameters.block_device_mapping_v2.boot_index">
                    
                    </param>
            <param name="config_drive"
                   style="plain"
                   type="csapi:string"
                   required="false">
                    
            </param> 
            <param name="block_device_mapping_v2"
                   style="plain"
                   required="true"
                   type="csapi:blockDeviceMapping"
                   path="/csapi:server">
                    
                </param>
                <param name="device_name"
                   style="plain"
                   type="xsd:string"
                   required="true">
                    
                </param>
                <param name="source_type"
                   style="plain"
                   type="xsd:string"
                   required="true">
                    
                </param>
                <param name="destination_type"
                   style="plain"
                   type="xsd:string"
                   required="true">
                    
                </param>
                <param name="delete_on_termination"
                   style="plain"
                   type="xsd:bool"
                   required="true">
                    
                </param>
                <param name="guest_format"
                   style="plain"
                   type="xsd:string"
                   required="true">
                    
                </param>
                <param name="uuid" style="plain" type="csapi:uuid" required="true">
                    
                </param>
                <param name="boot_index"
                   style="plain"
                   type="xsd:string"
                   required="true">
                    
                </param>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml" element="csapi:server">
                 
            <param name="security_groups"
                   style="plain"
                   required="false"
                   type="xsd:string">
                
            </param>
            <param name="security_group"
                   style="plain"
                   required="false"
                   type="xsd:string">
                
            </param>
            <param name="user_data"
                   style="plain"
                   required="false"
                   type="xsd:string">
                
            </param>
            <param name="availability_zone"
                   style="plain"
                   required="false"
                   type="xsd:string">
                
            </param>
            <param name="server"
                   style="plain"
                   required="true"
                   type="csapi:ServerForCreate"
                   path="/csapi:server">
                
            </param>
            <param name="imageRef"
                   style="plain"
                   required="true"
                   type="csapi:string">
                
            </param>
            <param name="flavorRef"
                   style="plain"
                   required="true"
                   type="csapi:string">
                
            </param>
            <param name="networks"
                   style="plain"
                   type="xsd:string"
                   required="false">
                
            </param>
            <param name="uuid" style="plain" type="xsd:string" required="false">
                
            </param>
            <param name="port" style="plain" type="xsd:string" required="false">
                
            </param>
            <param name="fixed_ip"
                   style="plain"
                   type="xsd:string"
                   required="false">
                
            </param>
            <param name="name" style="plain" required="true" type="csapi:string">
                
            </param>
            <param name="metadata"
                   style="plain"
                   required="false"
                   type="csapi:string">
                
            </param>
            <param name="personality"
                   style="plain"
                   required="false"
                   type="csapi:string">
                
            </param>
            <param name="block_device_mapping_v2"
                   style="plain"
                   type="csapi:string"
                   required="false">
                    
            </param>
            <param name="device_name"
                   style="plain"
                   type="csapi:string"
                   required="true"
                   path="$.parameters.block_device_mapping_v2.device_name">
                    
            </param>
            <param name="source_type"
                   style="plain"
                   type="csapi:string"
                   required="true"
                   path="$.parameters.block_device_mapping_v2.source_type">
                    
                    </param>
            <param name="destination_type"
                   style="plain"
                   type="csapi:string"
                   required="false"
                   path="$.parameters.block_device_mapping_v2.destination_type">
                    
                    </param>
            <param name="delete_on_termination"
                   style="plain"
                   type="csapi:string"
                   required="true"
                   path="$.parameters.block_device_mapping_v2.delete_on_termination">
                    
                    </param>
           <param name="guest_format"
                   style="plain"
                   type="csapi:string"
                   required="true"
                   path="$.parameters.block_device_mapping_v2.guest_format">
                    
                    </param>
           <param name="delete_on_termination"
                   style="plain"
                   type="csapi:string"
                   required="true"
                   path="$.parameters.block_device_mapping_v2.delete_on_termination">
                    
                    </param>
           <param name="boot_index"
                   style="plain"
                   type="csapi:string"
                   required="true"
                   path="$.parameters.block_device_mapping_v2.boot_index">
                    
                    </param>
            <param name="config_drive"
                   style="plain"
                   type="csapi:string"
                   required="false">
                    
            </param> 
         </representation>
        </response>
        <response status="422">
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml" element="csapi:UnprocessableEntity"/>
        </response>
        <!-- All other common faults except build in progess -->
        
        <response>
            <representation mediaType="application/xml" element="csapi:computeFault"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="csapi:serviceUnavailable"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="csapi:badRequest"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="csapi:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="csapi:forbidden"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="405">
            <representation mediaType="application/xml" element="csapi:badMethod"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="413">
            <representation mediaType="application/xml" element="csapi:overLimit"/>
            <representation mediaType="application/json"/>
        </response>
            
        <response status="404">
            <representation mediaType="application/xml" element="csapi:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response> 
        <response status="415">
            <representation mediaType="application/xml" element="csapi:badMediaType"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="csapi:NetworkNotFound"/>
            <representation mediaType="application/json"/>
        </response> 
        <response status="503">
            <representation mediaType="application/xml" element="csapi:serverCapacityUnavailable"/>
            <representation mediaType="application/json"/>
        </response>
            </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:csapi="http://docs.openstack.org/compute/api/v2"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listServers">
        
        <request>
            <representation mediaType="application/xml">
                <param name="changes-since"
                   style="query"
                   required="false"
                   type="xsd:dateTime">
                
            </param>
            <param name="image" style="query" required="false" type="xsd:anyURI">
                
            </param>
            <param name="flavor" style="query" required="false" type="xsd:anyURI">
                
            </param>
            <param name="name" style="query" required="false" type="regexp">
                
            </param>
            <param name="marker" style="query" required="false" type="csapi:UUID">
                
            </param>
            <param name="limit" style="query" required="false" type="xsd:int">
                
            </param>
            <param name="status"
                   style="query"
                   required="false"
                   type="csapi:ServerStatus">
                
            </param>
            <param name="host" style="query" required="false" type="xsd:string">
                
            </param> 
         </representation>
        </request>
        <response status="200 203">
            <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml" element="csapi:servers">
                
                <param name="servers"
                   style="plain"
                   required="true"
                   type="csapi:ServersWithOnlyIDsNamesLinks"
                   path="/csapi:servers/atom:link[@rel='servers']/@href">
                    
                    
                </param>
                <param name="next"
                   style="plain"
                   type="xsd:anyURI"
                   path="/csapi:servers/atom:link[@rel='next']/@href">
                    
                    
                </param>
                <param name="previous"
                   style="plain"
                   type="xsd:anyURI"
                   path="/csapi:servers/atom:link[@rel='previous']/@href">
                    
                    
                </param>
            </representation>
        </response>
        <!-- Common Faults --> 
        <response>
            <representation mediaType="application/xml" element="csapi:computeFault"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="csapi:serviceUnavailable"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="csapi:badRequest"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="csapi:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="csapi:forbidden"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="405">
            <representation mediaType="application/xml" element="csapi:badMethod"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="413">
            <representation mediaType="application/xml" element="csapi:overLimit"/>
            <representation mediaType="application/json"/>
        </response>
            </method>
</wadl:application>
