docs/rackerlabs-wadl2swagger/openstack/wadls/os-extended-server-attributes-v2.1.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2014 OpenStack Foundation, All Rights Reserved -->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <resources xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
              xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://servers.api.openstack.com"
              xml:id="os-extended-server-attributes-v2.1">
        <resource id="servers" path="/v2.1/servers">
         <method name="GET" rax:id="returnserverdetails">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Shows server details">
               <para role="shortdesc">Shows details for a specified
                server.</para>
            </wadl:doc>
            <request> </request>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "server": {
        "addresses": {
            "private": [
                {
                    "addr": "192.168.0.3",
                    "mac_addr": "aa:bb:cc:dd:ee:ff",
                    "type": "fixed",
                    "version": 4
                }
            ]
        },
        "created": "2013-09-16T02:55:07Z",
        "flavor": {
            "id": "1",
            "links": [
                {
                    "href": "http://openstack.example.com/flavors/1",
                    "rel": "bookmark"
                }
            ]
        },
        "host_id": "3bf189131c61d0e71b0a8686a897a0f50d1693b48c47b721fe77155b",
        "id": "c278163e-36f9-4cf2-b1ac-80db4c63f7a8",
        "image": {
            "id": "70a599e0-31e7-49b7-b260-868f441e862b",
            "links": [
                {
                    "href": "http://glance.openstack.example.com/images/70a599e0-31e7-49b7-b260-868f441e862b",
                    "rel": "bookmark"
                }
            ]
        },
        "key_name": null,
        "links": [
            {
                "href": "http://openstack.example.com/v3/servers/c278163e-36f9-4cf2-b1ac-80db4c63f7a8",
                "rel": "self"
            },
            {
                "href": "http://openstack.example.com/servers/c278163e-36f9-4cf2-b1ac-80db4c63f7a8",
                "rel": "bookmark"
            }
        ],
        "metadata": {
            "My Server Name": "Apache1"
        },
        "name": "new-server-test",
        "os-extended-server-attributes:host": "c5f474bf81474f9dbbc404d5b2e4e9b3",
        "os-extended-server-attributes:hypervisor_hostname": "fake-mini",
        "os-extended-server-attributes:instance_name": "instance-00000001",
        "progress": 0,
        "status": "ACTIVE",
        "tenant_id": "openstack",
        "updated": "2013-09-16T02:55:08Z",
        "user_id": "fake"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc> 
                  <param name="X-OpenStack-Request-ID"
                         style="header"
                         required="false"
                         type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Returns a unique identifier to help provide
        tracking for the request. Provider must configure middleware
        to provide the request_id.</para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
      </resource>
                
                
                <resource id="details" path="/v2.1/servers/details">
         <method name="GET" rax:id="returnlistdetails">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Lists server details for user">
               <para role="shortdesc">Lists server details for a
                specified user.</para>
            </wadl:doc>
            <request> </request>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "servers": [
        {
            "addresses": {
                "private": [
                    {
                        "addr": "192.168.0.3",
                        "mac_addr": "aa:bb:cc:dd:ee:ff",
                        "type": "fixed",
                        "version": 4
                    }
                ]
            },
            "created": "2013-09-16T02:55:03Z",
            "flavor": {
                "id": "1",
                "links": [
                    {
                        "href": "http://openstack.example.com/flavors/1",
                        "rel": "bookmark"
                    }
                ]
            },
            "host_id": "63cf07a9fd82e1d2294926ec5c0d2e1e0ca449224246df75e16f23dc",
            "id": "a8c1c13d-ec7e-47c7-b4ff-077f72c1ca46",
            "image": {
                "id": "70a599e0-31e7-49b7-b260-868f441e862b",
                "links": [
                    {
                        "href": "http://glance.openstack.example.com/images/70a599e0-31e7-49b7-b260-868f441e862b",
                        "rel": "bookmark"
                    }
                ]
            },
            "key_name": null,
            "links": [
                {
                    "href": "http://openstack.example.com/v3/servers/a8c1c13d-ec7e-47c7-b4ff-077f72c1ca46",
                    "rel": "self"
                },
                {
                    "href": "http://openstack.example.com/servers/a8c1c13d-ec7e-47c7-b4ff-077f72c1ca46",
                    "rel": "bookmark"
                }
            ],
            "metadata": {
                "My Server Name": "Apache1"
            },
            "name": "new-server-test",
            "os-extended-server-attributes:host": "bc8efe4fdb7148a4bb921a2b03d17de6",
            "os-extended-server-attributes:hypervisor_hostname": "fake-mini",
            "os-extended-server-attributes:instance_name": "instance-00000001",
            "progress": 0,
            "status": "ACTIVE",
            "tenant_id": "openstack",
            "updated": "2013-09-16T02:55:05Z",
            "user_id": "fake"
        }
    ]
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc> 
                  <param name="X-OpenStack-Request-ID"
                         style="header"
                         required="false"
                         type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Returns a unique identifier to help provide
        tracking for the request. Provider must configure middleware
        to provide the request_id.</para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
      </resource>
                    
                
            
    </resources>
    <!-- *******************************************************-->
    <!--        OS extended server attributes        -->
    <!--*******************************************************-->
    <method xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="returnserverdetails">
        
        <request> </request>
        <response status="200">
            <representation mediaType="application/json">
                 <param name="X-OpenStack-Request-ID"
                   style="header"
                   required="false"
                   type="xsd:string">
    
</param>
            </representation>
        </response>
    </method>
    <method xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="returnlistdetails">
        
        <request> </request>
        <response status="200">
            <representation mediaType="application/json">
                 <param name="X-OpenStack-Request-ID"
                   style="header"
                   required="false"
                   type="xsd:string">
    
</param>
            </representation>
        </response>
    </method>
</wadl:application>
