docs/rackerlabs-wadl2swagger/openstack/wadls/os-interface.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2012-2014 OpenStack Foundation, All Rights Reserved -->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <resources xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:db="http://docbook.org/ns/docbook"
              xmlns:csapi="http://docs.openstack.org/compute/api/v2"
              xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:common="http://docs.openstack.org/common/api/v1.0"
              xmlns:atom="http://www.w3.org/2005/Atom"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://servers.api.openstack.com"
              xml:id="os-interface-v2">
        <resource path="/v2/{tenant_id}/servers/{server_id}/os-interface"
                id="os-interface">
         <param name="tenant_id" style="template" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The ID for the tenant or account in a multi-tenancy cloud.</para>
                    </wadl:doc>
                </param>
         <param name="server_id" style="template" type="csapi:UUID">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                                <para>The UUID for the server of interest to you.</para>
                            </wadl:doc>
                        </param>
         <method name="POST" rax:id="createAttachInterface">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create interface">
               <para role="shortdesc">Creates and uses a port interface to attach the port to a server
                instance.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "interfaceAttachment": {
        "port_id": "ce531f90-199f-48c0-816c-13e38010b442"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;interfaceAttachment&gt;
   &lt;port_id&gt;ce531f90-199f-48c0-816c-13e38010b442&lt;/port_id&gt;
&lt;/interfaceAttachment&gt;</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <param name="interfaceAttachment"
                         style="plain"
                         type="xsd:string"
                         required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Specify the <code>interfaceAttachment</code> action in the request
                            body.</para>
                    </wadl:doc>
                  </param>
                  <param name="port_id" style="plain" type="csapi:uuid" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The ID of the port for which you want to create an interface.</para>
                    </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="202">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "interfaceAttachment": {
        "fixed_ips": [
            {
                "ip_address": "192.168.1.1",
                "subnet_id": "f8a6e8f8-c2ec-497c-9f23-da9616de54ef"
            }
        ],
        "mac_addr": "fa:16:3e:4c:2c:30",
        "net_id": "3cb9bc59-5699-4588-a4b1-b87f96708bc6",
        "port_id": "ce531f90-199f-48c0-816c-13e38010b442",
        "port_state": "ACTIVE"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="xml">&lt;?xml version='1.0' encoding='UTF-8'?&gt;
&lt;interfaceAttachment&gt;
  &lt;net_id&gt;3cb9bc59-5699-4588-a4b1-b87f96708bc6&lt;/net_id&gt;
  &lt;port_id&gt;ce531f90-199f-48c0-816c-13e38010b442&lt;/port_id&gt;
  &lt;fixed_ips&gt;
    &lt;fixed_ip&gt;
      &lt;subnet_id&gt;f8a6e8f8-c2ec-497c-9f23-da9616de54ef&lt;/subnet_id&gt;
      &lt;ip_address&gt;192.168.1.3&lt;/ip_address&gt;
    &lt;/fixed_ip&gt;
  &lt;/fixed_ips&gt;
  &lt;port_state&gt;ACTIVE&lt;/port_state&gt;
  &lt;mac_addr&gt;fa:16:3e:4c:2c:30&lt;/mac_addr&gt;
&lt;/interfaceAttachment&gt;</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <param name="fixed_ips"
                         style="plain"
                         type="xsd:string"
                         required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Fixed IP addresses with subnet IDs.</para>
                    </wadl:doc>
                  </param>
                  <param name="mac_addr" style="plain" type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The MAC address.</para>
                    </wadl:doc>
                  </param>
                  <param name="net_id" style="plain" type="csapi:uuid" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The network ID.</para>
                    </wadl:doc>
                  </param>
                  <param name="port_id" style="plain" type="csapi:uuid" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The port ID.</para>
                    </wadl:doc>
                  </param>
                  <param name="port_state"
                         style="plain"
                         type="xsd:string"
                         required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Port state">
                        <para>The port state.</para>
                    </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
         <method name="GET" rax:id="listAttachedInterfaces">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List interfaces">
               <para role="shortdesc">Lists port interfaces.</para>
            </wadl:doc>
            <response status="202">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "interfaceAttachments": [
        {
            "port_state": "ACTIVE",
            "fixed_ips": [
                {
                    "subnet_id": "f8a6e8f8-c2ec-497c-9f23-da9616de54ef",
                    "ip_address": "192.168.1.3"
                }
            ],
            "net_id": "3cb9bc59-5699-4588-a4b1-b87f96708bc6",
            "port_id": "ce531f90-199f-48c0-816c-13e38010b442",
            "mac_addr": "fa:16:3e:4c:2c:30"
        }
    ]
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="xml">&lt;?xml version='1.0' encoding='UTF-8'?&gt;
&lt;interfaceAttachments&gt;
  &lt;interfaceAttachment&gt;
    &lt;port_state&gt;ACTIVE&lt;/port_state&gt;
    &lt;fixed_ips&gt;
      &lt;fixed_ip&gt;
        &lt;subnet_id&gt;f8a6e8f8-c2ec-497c-9f23-da9616de54ef&lt;/subnet_id&gt;
        &lt;ip_address&gt;192.168.1.3&lt;/ip_address&gt;
      &lt;/fixed_ip&gt;
    &lt;/fixed_ips&gt;
    &lt;port_id&gt;ce531f90-199f-48c0-816c-13e38010b442&lt;/port_id&gt;
    &lt;net_id&gt;3cb9bc59-5699-4588-a4b1-b87f96708bc6&lt;/net_id&gt;
    &lt;mac_addr&gt;fa:16:3e:4c:2c:30&lt;/mac_addr&gt;
  &lt;/interfaceAttachment&gt;
&lt;/interfaceAttachments&gt;
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <param name="port_state"
                         style="plain"
                         type="xsd:string"
                         required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The port state.</para>
                    </wadl:doc>
                  </param>
                  <param name="fixed_ips"
                         style="plain"
                         type="xsd:string"
                         required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Fixed IP addresses with subnet IDs.</para>
                    </wadl:doc>
                  </param>
                  <param name="mac_addr" style="plain" type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The MAC address.</para>
                    </wadl:doc>
                  </param>
                  <param name="net_id" style="plain" type="csapi:uuid" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The network ID.</para>
                    </wadl:doc>
                  </param>
                  <param name="port_id" style="plain" type="csapi:uuid" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The port ID.</para>
                    </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
      </resource>
                            
                            
                            <resource path="/v2/{tenant_id}/servers/{server_id}/os-interface/{attachment_id}"
                id="attachment_id">
         <param name="tenant_id" style="template" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The ID for the tenant or account in a multi-tenancy cloud.</para>
                    </wadl:doc>
                </param>
         <param name="server_id" style="template" type="csapi:UUID">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                                <para>The UUID for the server of interest to you.</para>
                            </wadl:doc>
                        </param>
         <param name="attachment_id" style="template" type="csapi:UUID">
                                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                                        <para>The interface ID.</para>
                                    </wadl:doc>
                                </param>
         <method name="GET" rax:id="showAttachedInterface">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Show attached interface information">
               <para role="shortdesc">Shows information about a specified port interface.</para>
            </wadl:doc>
            <response status="202">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "interfaceAttachment": {
        "port_state": "ACTIVE",
        "fixed_ips": [
            {
                "subnet_id": "f8a6e8f8-c2ec-497c-9f23-da9616de54ef",
                "ip_address": "192.168.1.3"
            }
        ],
        "net_id": "3cb9bc59-5699-4588-a4b1-b87f96708bc6",
        "port_id": "ce531f90-199f-48c0-816c-13e38010b442",
        "mac_addr": "fa:16:3e:4c:2c:30"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;interfaceAttachment&gt;
  &lt;port_state&gt;ACTIVE&lt;/port_state&gt;
  &lt;fixed_ips&gt;
    &lt;fixed_ip&gt;
      &lt;subnet_id&gt;b6e47749-6bf0-4d6e-ae4b-ba6b5e238510&lt;/subnet_id&gt;
      &lt;ip_address&gt;192.168.123.131&lt;/ip_address&gt;
    &lt;/fixed_ip&gt;
  &lt;/fixed_ips&gt;
  &lt;port_id&gt;89e64f2e-86bd-4c19-9155-4548b36fdcb2&lt;/port_id&gt;
  &lt;net_id&gt;a9efd207-2c1a-4cdd-a296-d3c7c3211302&lt;/net_id&gt;
  &lt;mac_addr&gt;fa:16:3e:a4:1c:12&lt;/mac_addr&gt;
&lt;/interfaceAttachment&gt;
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
         <method name="DELETE" rax:id="deleteAttachedInterface">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Detach interface">
               <para role="shortdesc">Detaches a specified port interface.</para>
            </wadl:doc>
            <response status="202"/>
         </method>
      </resource>
                                
                                
                                
                            
                        
    </resources>
    <method xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:csapi="http://docs.openstack.org/compute/api/v2"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:atom="http://www.w3.org/2005/Atom"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="createAttachInterface">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml">
                
                <param name="interfaceAttachment"
                   style="plain"
                   type="xsd:string"
                   required="true">
                    
                </param>
                <param name="port_id" style="plain" type="csapi:uuid" required="true">
                    
                </param>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml">
                
                <param name="fixed_ips"
                   style="plain"
                   type="xsd:string"
                   required="true">
                    
                </param>
                <param name="mac_addr" style="plain" type="xsd:string" required="true">
                    
                </param>
                <param name="net_id" style="plain" type="csapi:uuid" required="true">
                    
                </param>
                <param name="port_id" style="plain" type="csapi:uuid" required="true">
                    
                </param>
                <param name="port_state"
                   style="plain"
                   type="xsd:string"
                   required="true">
                    
                </param>
            </representation>
        </response>
    </method>
    <method xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:csapi="http://docs.openstack.org/compute/api/v2"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:atom="http://www.w3.org/2005/Atom"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listAttachedInterfaces">
        
        <response status="202">
            <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml">
                
                <param name="port_state"
                   style="plain"
                   type="xsd:string"
                   required="true">
                    
                </param>
                <param name="fixed_ips"
                   style="plain"
                   type="xsd:string"
                   required="true">
                    
                </param>
                <param name="mac_addr" style="plain" type="xsd:string" required="true">
                    
                </param>
                <param name="net_id" style="plain" type="csapi:uuid" required="true">
                    
                </param>
                <param name="port_id" style="plain" type="csapi:uuid" required="true">
                    
                </param>
            </representation>
        </response>
    </method>
    <method xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:csapi="http://docs.openstack.org/compute/api/v2"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:atom="http://www.w3.org/2005/Atom"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="showAttachedInterface">
        
        <response status="202">
            <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml">
                
            </representation>
        </response>
    </method>
    <method xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:csapi="http://docs.openstack.org/compute/api/v2"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:atom="http://www.w3.org/2005/Atom"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="deleteAttachedInterface">
        
        <response status="202"/>
    </method>
</wadl:application>
