docs/rackerlabs-wadl2swagger/openstack/wadls/os-image-v2.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2012-2014 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent os-image-2.2.wadl               -->
<!--*******************************************************-->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <wadl:grammars xmlns:db="http://docbook.org/ns/docbook"
                  xmlns="http://wadl.dev.java.net/2009/02">
      <wadl:include href="16216-os-image-v2-xsd-1.xsd"/>
      <wadl:include href="16216-os-image-v2-xsd-2.xsd"/>
   </wadl:grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:db="http://docbook.org/ns/docbook"
              xmlns:common="http://docs.openstack.org/common/api/v1.0"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns:imageapi="http://docs.openstack.org/image/api/v2"
              xmlns:csapi="http://docs.openstack.org/image/api/v2"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://glance.example.com/"
              xml:id="os-image-v2">
        <resource id="versions" path="/">
         <method name="GET" rax:id="listVersions-image-v2">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List API versions">
               <para role="shortdesc">Lists information about all Image
                Service API versions.</para>
            </wadl:doc>
            <response status="200 300">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "versions": [
        {
            "status": "CURRENT",
            "id": "v2.2",
            "links": [
                {
                    "href": "http://23.253.228.211:9292/v2/",
                    "rel": "self"
                }
            ]
        },
        {
            "status": "SUPPORTED",
            "id": "v2.1",
            "links": [
                {
                    "href": "http://23.253.228.211:9292/v2/",
                    "rel": "self"
                }
            ]
        },
        {
            "status": "SUPPORTED",
            "id": "v2.0",
            "links": [
                {
                    "href": "http://23.253.228.211:9292/v2/",
                    "rel": "self"
                }
            ]
        },
        {
            "status": "CURRENT",
            "id": "v1.1",
            "links": [
                {
                    "href": "http://23.253.228.211:9292/v1/",
                    "rel": "self"
                }
            ]
        },
        {
            "status": "SUPPORTED",
            "id": "v1.0",
            "links": [
                {
                    "href": "http://23.253.228.211:9292/v1/",
                    "rel": "self"
                }
            ]
        }
    ]
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
      </resource>
            
        
        <resource id="Images" path="/v2/images">
         <method name="GET" rax:id="listImages-v2">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List images">
               <para role="shortdesc">Lists public virtual machine (VM)
                images. (Since Image API v2.0.)</para>
               <para>Returns a subset of the larger collection of images
                and a link that you can use to get the next set of
                images. You should always check for the presence of a
                    <code>next</code> link and use it as the URI in a
                subsequent HTTP GET request. You should follow this
                pattern until a <code>next</code> link is no longer
                provided. The next link preserves any query parameters
                that you send in your initial request. You can use the
                    <code>first</code> link to jump back to the first
                page of the collection. If you prefer to paginate
                through images manually, use the <code>limit</code>
                and <code>marker</code> parameters.</para>
               <para>The list operation accepts several types of query
                parameters that let you filter the results of the
                returned collection.</para>
               <para>A client can provide direct comparison filters using
                most image attributes, such as
                    <code>name=Ubuntu</code>,
                    <code>visibility=public</code>, and so on. A
                client cannot filter on tags or anything defined as a
                    <code>link</code> in the json-schema, such as
                self, file, or schema.</para>
               <para>You can use the <code>size_min</code> and
                    <code>size_max</code> query parameters to perform
                greater-than and less-than filtering of images based
                on their <code>size</code> attribute. The size is
                measured in bytes and refers to the size of an image
                when it is stored on disk.</para>
               <para>For example, sending a <code>size_min</code> filter
                of 1048576 and <code>size_max</code> of 4194304
                filters the container to include only images that are
                between 1 and 4 MB.</para>
               <para>You can sort the results of this operation by using
                the <code>sort_key</code> and <code>sort_dir</code>
                parameters. The API uses the natural sorting of
                whatever image attribute is provided as the
                    <code>sort_key</code>.</para>
               <para>You can see a list of VM images which status is in
                <code>active</code>, <code>queued</code>, or
                <code>saving</code>
               </para>.
        </wadl:doc>
            <request>
               <representation mediaType="application/json">
                
                  <param name="limit" style="query" required="false" type="xsd:dateTime">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Use to request a specific page size. Expect a response
            to a limited request to return between zero and limit
            items. The typical pattern of limit and marker is to make
            an initial limited request and then to use the ID of the
            last image from the response as the marker parameter in a
            subsequent limited request.</para>
                     </wadl:doc>
                  </param>
                  <param name="marker" style="query" required="false" type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Specifies the ID of the last-seen image. The typical
            pattern of limit and marker is to make an initial limited
            request and then to use the ID of the last image from the
            response as the marker parameter in a subsequent limited
            request.</para>
                     </wadl:doc>
                  </param>
                  <param name="name" style="query" required="false" type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Filter parameter. Name of the image as a string.</para>
                     </wadl:doc>
                  </param>
                  <param name="visibility"
                         style="query"
                         required="false"
                         type="imageapi:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Filter parameter. Image visibility. Valid values are
                <code>public</code>, <code>private</code>, and
                <code>shared</code>. Default is <code>public</code>,
                <code>private</code>, and <code>shared</code> images
            with <code>accepted</code> member status.</para>
                     </wadl:doc>
                  </param>
                  <param name="member_status"
                         style="query"
                         required="false"
                         type="imageapi:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Filter parameter. Only show images with the specified
            member status. Valid values are <code>accepted</code>,
                <code>pending</code>, <code>rejected</code>, and
                <code>all</code>. Default is
            <code>accepted</code>.</para>
                     </wadl:doc>
                  </param>
                  <param name="owner"
                         style="query"
                         required="false"
                         type="imageapi:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Filter parameter. Shows images shared with me by the
            specified owner, where the owner is indicated by tenant
            ID.</para>
                     </wadl:doc>
                  </param>
                  <param name="status" style="query" required="false" type="xsd:int">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Filter parameter. The image status, such as queued,
            saving, active, killed, deleted, and
            pending_delete.</para>
                     </wadl:doc>
                  </param>
                  <param name="size_min"
                         style="query"
                         required="false"
                         type="xsd:string"
                         default="ALL">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Filter parameter. Value of the minimum size of the image
            in bytes.</para>
                     </wadl:doc>
                  </param>
                  <param name="size_max"
                         style="query"
                         required="false"
                         type="xsd:string"
                         default="ALL">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Filter parameter. Value of the maximum size of the image
            in bytes.</para>
                     </wadl:doc>
                  </param>
                  <param name="sort_key"
                         style="query"
                         required="false"
                         type="xsd:string"
                         default="ALL">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Sort key. All image attributes can be used as the
            sort_key, except tags and link attributes. Default is
                <code>created_at</code>.</para>
                     </wadl:doc>
                  </param>
                  <param name="sort_dir"
                         style="query"
                         required="false"
                         type="xsd:string"
                         default="ALL">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Sort direction. Valid values are <code>asc</code>
            (ascending) and <code>desc</code> (descending). Default is
                <code>desc</code>.</para>
                     </wadl:doc>
                  </param>
                  <param name="tag"
                         style="query"
                         required="false"
                         type="xsd:string"
                         default="ALL">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Image tag. For example,
            <code>?tag="cirros"</code>.</para>
                     </wadl:doc>
                  </param> 
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "images": [
        {
            "status": "active",
            "name": "cirros-0.3.2-x86_64-disk",
            "tags": [],
            "container_format": "bare",
            "created_at": "2014-11-07T17:07:06Z",
            "disk_format": "qcow2",
            "updated_at": "2014-11-07T17:19:09Z",
            "visibility": "public",
            "self": "/v2/images/1bea47ed-f6a9-463b-b423-14b9cca9ad27",
            "min_disk": 0,
            "protected": false,
            "id": "1bea47ed-f6a9-463b-b423-14b9cca9ad27",
            "file": "/v2/images/1bea47ed-f6a9-463b-b423-14b9cca9ad27/file",
            "checksum": "64d7c1cd2b6f60c92c14662941cb7913",
            "owner": "5ef70662f8b34079a6eddb8da9d75fe8",
            "size": 13167616,
            "min_ram": 0,
            "schema": "/v2/schemas/image"
        },
        {
            "status": "active",
            "name": "F17-x86_64-cfntools",
            "tags": [],
            "container_format": "bare",
            "created_at": "2014-10-30T08:23:39Z",
            "disk_format": "qcow2",
            "updated_at": "2014-11-03T16:40:10Z",
            "visibility": "public",
            "self": "/v2/images/781b3762-9469-4cec-b58d-3349e5de4e9c",
            "min_disk": 0,
            "protected": false,
            "id": "781b3762-9469-4cec-b58d-3349e5de4e9c",
            "file": "/v2/images/781b3762-9469-4cec-b58d-3349e5de4e9c/file",
            "checksum": "afab0f79bac770d61d24b4d0560b5f70",
            "owner": "5ef70662f8b34079a6eddb8da9d75fe8",
            "size": 476704768,
            "min_ram": 0,
            "schema": "/v2/schemas/image"
        }
    ],
    "schema": "/v2/schemas/images",
    "first": "/v2/images"
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc> 
                  <param name="images" style="plain" required="true" type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>An <code>images</code> object.</para>
                     </wadl:doc>
                  </param> 
                  <param name="status" style="plain" required="true" type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The image status.</para>
                     </wadl:doc>
                  </param>
                
                  <param name="name" style="plain" required="true" type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The name of the image.</para>
                     </wadl:doc>
                  </param> 
                  <param name="tag" style="template" type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" title="Tag">
                        <para>Image tag.</para>
                     </wadl:doc>
                  </param> 
                  <param name="container_format"
                         style="plain"
                         required="true"
                         type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The container format of image. Valid values are ami,
            ari, aki, bare, and ovf.</para>
                     </wadl:doc>
                  </param>
                
                  <param name="created_at"
                         style="plain"
                         required="true"
                         type="xsd:datetime">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The date and time when the image was created.</para>
                     </wadl:doc>
                  </param> 
                  <param name="disk_format"
                         style="plain"
                         required="true"
                         type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The disk format of the image. Valid values are
            ami, ari, aki, vhd, vmdk, raw, qcow2, vdi, and iso.</para>
                     </wadl:doc>
                  </param>
                
                  <param name="updated_at"
                         style="plain"
                         required="true"
                         type="xsd:datetime">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The date and time when the image was last updated.</para>
                     </wadl:doc>
                  </param> 
                  <param name="min_disk" style="plain" required="true" type="xsd:int">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The minimum disk size required to boot the image, in
            GBs.</para>
                     </wadl:doc>
                  </param>
                
                  <param name="protected"
                         style="plain"
                         required="true"
                         type="xsd:boolean">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Defines whether the image can be deleted.</para>
                     </wadl:doc>
                  </param> 
                  <param name="id" style="plain" required="true" type="csapi:uuid">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The unique ID for the image.</para>
                     </wadl:doc>
                  </param> 
                  <param name="min_ram" style="plain" required="true" type="csapi:uuid">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The minimum amount of RAM required to boot the image, in MBs.</para>
                     </wadl:doc>
                  </param>
                
                  <param name="checksum" style="plain" required="true" type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Hash of the image data used. The Image Service uses this value for
       verification.</para>
                     </wadl:doc>
                  </param> 
                  <param name="owner" style="plain" required="true" type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The ID of the owner, or tenant, of the image.</para>
                     </wadl:doc>
                  </param>
                
                  <param name="visibility"
                         style="plain"
                         required="true"
                         type="xsd:boolean">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The image visibility.</para>
                     </wadl:doc>
                  </param> 
                  <param name="virtual_size"
                         style="plain"
                         required="true"
                         type="xsd:int">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The virtual size of the image.</para>
                     </wadl:doc>
                  </param>
                
                  <param name="properties" style="plain" required="true" type="xsd:dict">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Properties, if any, that are associated with the image.</para>
                     </wadl:doc>
                  </param> 
               </representation>
            </response>
         </method>
         <method name="POST" rax:id="createImage-v2">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create image">
               <para role="shortdesc">Creates a virtual machine (VM)
                image. (Since Image API v2.0.)</para>
               <para>Created with a <code>Location</code> header that
                contains the newly-created URI for the image. Response
                body represents the created image entity.</para>
               <para>Synchronous Postconditions</para>
               <itemizedlist>
                  <listitem>
                     <para>With correct permissions, you can see
                    the image status as <code>queued</code> through API
                    calls.</para>
                  </listitem>
                  <listitem>
                     <para>With correct permissions, you can see
                    the image status as <code>active</code> through API
                    calls if you created the image with
                    <code>Location</code> header.</para>
                  </listitem>
               </itemizedlist>
            </wadl:doc>
            <request>
               <representation mediaType="application/json" element="image">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "id": "e7db3b45-8db7-47ad-8109-3fb55c2c24fd",
    "name": "Ubuntu 12.10",
    "tags": [
        "ubuntu",
        "quantal"
    ]
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <param name="name" style="plain" type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Name for the image. The
                            name of an image is not unique to a Image
                            Service node. The API cannot expect users
                            to know the names of images owned by
                            others.</para>
                     </wadl:doc>
                  </param>
                  <param name="id" style="plain" type="csapi:uuid" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The image
                        ID.</para>
                     </wadl:doc>
                  </param>
                  <param name="visibility"
                         style="plain"
                         type="xsd:string"
                         required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Image visibility. Public or private.
                            Default is public.</para>
                    </wadl:doc>
                  </param>
                  <param name="tags" style="plain" type="xsd:dict" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Image tags.</para>
                    </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="201">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "status": "queued",
    "name": "test-001",
    "tags": [],
    "container_format": "bare",
    "created_at": "2014-11-11T20:47:55Z",
    "disk_format": "qcow2",
    "updated_at": "2014-11-11T20:47:55Z",
    "visibility": "private",
    "self": "/v2/images/b2173dd3-7ad6-4362-baa6-a68bce3565ca",
    "min_disk": 0,
    "protected": false,
    "id": "b2173dd3-7ad6-4362-baa6-a68bce3565ca",
    "file": "/v2/images/b2173dd3-7ad6-4362-baa6-a68bce3565ca/file",
    "owner": "b4eedccc6fb74fa8a7ad6b08382b852b",
    "min_ram": 0,
    "schema": "/v2/schemas/image"
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc> 
                  <param name="status" style="plain" required="true" type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The image status.</para>
                     </wadl:doc>
                  </param> 
                  <param name="container_format"
                         style="plain"
                         required="true"
                         type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The container format of image. Valid values are ami,
            ari, aki, bare, and ovf.</para>
                     </wadl:doc>
                  </param>
                
                  <param name="min_ram" style="plain" required="true" type="csapi:uuid">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The minimum amount of RAM required to boot the image, in MBs.</para>
                     </wadl:doc>
                  </param> 
                  <param name="updated_at"
                         style="plain"
                         required="true"
                         type="xsd:datetime">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The date and time when the image was last updated.</para>
                     </wadl:doc>
                  </param>
                
                  <param name="owner" style="plain" required="true" type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The ID of the owner, or tenant, of the image.</para>
                     </wadl:doc>
                  </param> 
                  <param name="min_disk" style="plain" required="true" type="xsd:int">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The minimum disk size required to boot the image, in
            GBs.</para>
                     </wadl:doc>
                  </param>
                
                  <param name="tag" style="template" type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" title="Tag">
                        <para>Image tag.</para>
                     </wadl:doc>
                  </param> 
                  <param name="visibility"
                         style="plain"
                         required="true"
                         type="xsd:boolean">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The image visibility.</para>
                     </wadl:doc>
                  </param>
                
                  <param name="id" style="plain" required="true" type="csapi:uuid">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The unique ID for the image.</para>
                     </wadl:doc>
                  </param> 
                  <param name="size" style="plain" required="true" type="xsd:int">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The size of the image data, in bytes.</para>
                     </wadl:doc>
                  </param>
 
                  <param name="virtual_size"
                         style="plain"
                         required="true"
                         type="xsd:int">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The virtual size of the image.</para>
                     </wadl:doc>
                  </param>
                
                  <param name="name" style="plain" required="true" type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The name of the image.</para>
                     </wadl:doc>
                  </param> 
                  <param name="checksum" style="plain" required="true" type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Hash of the image data used. The Image Service uses this value for
       verification.</para>
                     </wadl:doc>
                  </param>
                
                  <param name="created_at"
                         style="plain"
                         required="true"
                         type="xsd:datetime">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The date and time when the image was created.</para>
                     </wadl:doc>
                  </param> 
                  <param name="disk_format"
                         style="plain"
                         required="true"
                         type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The disk format of the image. Valid values are
            ami, ari, aki, vhd, vmdk, raw, qcow2, vdi, and iso.</para>
                     </wadl:doc>
                  </param>
                
                  <param name="properties" style="plain" required="true" type="xsd:dict">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Properties, if any, that are associated with the image.</para>
                     </wadl:doc>
                  </param> 
                  <param name="protected"
                         style="plain"
                         required="true"
                         type="xsd:boolean">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Defines whether the image can be deleted.</para>
                     </wadl:doc>
                  </param>
                  <!--<param
                    xmlns="http://wadl.dev.java.net/2009/02"
                    name="location" style="plain" type="xsd:anyURI"
                    required="true"
                    path="/common:version/atom:link[@rel='self']/@href">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN">
                        <para>The location for the image identified by
                            a URI.</para>
                    </wadl:doc>
                    <link resource_type="#createImage" rel="self"/>
                </param>-->
               </representation>
            </response>
         </method>
      </resource>
      <resource path="/v2/images/{image_id}" id="image_id">
         <method name="GET" rax:id="getImage-v2">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Get image details">
               <para role="shortdesc">Gets details for a specified image.
                (Since Image API v2.0.)</para>
               <para>Response body is a single image entity.</para>
               <para>Preconditions</para>
               <itemizedlist>
                  <listitem>
                     <para>The specified image must exist.</para>
                  </listitem>
               </itemizedlist>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                
                  <param name="image_id"
                         style="template"
                         type="csapi:uuid"
                         required="true">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Image ID">
                        <para>Image ID stored through the image API.
            Typically a UUID.</para>
                     </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "status": "active",
    "name": "cirros-0.3.2-x86_64-disk",
    "tags": [],
    "container_format": "bare",
    "created_at": "2014-05-05T17:15:10Z",
    "disk_format": "qcow2",
    "updated_at": "2014-05-05T17:15:11Z",
    "visibility": "public",
    "self": "/v2/images/1bea47ed-f6a9-463b-b423-14b9cca9ad27",
    "min_disk": 0,
    "protected": false,
    "id": "1bea47ed-f6a9-463b-b423-14b9cca9ad27",
    "file": "/v2/images/1bea47ed-f6a9-463b-b423-14b9cca9ad27/file",
    "checksum": "64d7c1cd2b6f60c92c14662941cb7913",
    "owner": "5ef70662f8b34079a6eddb8da9d75fe8",
    "size": 13167616,
    "min_ram": 0,
    "schema": "/v2/schemas/image"
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
         <method name="PATCH" rax:id="updateImage-v2">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Update image">
               <para role="shortdesc">Updates a specified image. (Since
                Image API v2.0.)</para>
               <para>Request body must conform to one of the following
                media types:</para>
               <itemizedlist spacing="compact">
                  <listitem>
                    <para>application/openstack-images-v2.0-json-patch</para>
                  </listitem>
                  <listitem>
                    <para>application/openstack-images-v2.1-json-patch
                        (Since Image API v2.2)</para>
                  </listitem>
               </itemizedlist>
               <para>You can also use the <command>PATCH</command> method to add or remove
                image properties.</para>
               <para>For information about the <command>PATCH</command> method and the
                available media types, see <link xlink:href="http://docs.openstack.org/api/openstack-image-service/2.0/content/appendix-b-http-patch-media-types.html">Appendix B: HTTP PATCH media types</link> in the
                    <citetitle>OpenStack Image Service API v2
                    Reference</citetitle>.</para>
               <para>Preconditions</para>
               <itemizedlist>
                  <listitem>
                     <para>When adding or replacing a new location
                    to the specified image, you need to set disk_format
                    and container_format in the image.</para>
                  </listitem>
                  <listitem>
                     <para>When locations of the specified image
                    is replaced by replacing operation, the old location
                    needs to be set in the image on ahead.</para>
                  </listitem>
               </itemizedlist>
               <para>Synchronous Postconditions</para>
               <itemizedlist>
                  <listitem>
                     <para>With correct permissions, you can see
                    the updated values of the image's attributes.
                    </para>
                  </listitem>
                  <listitem>
                     <para>With correct permissions, you can see
                    the image status as <code>active</code> through API calls
                    after adding a location to the image which had no
                    location.</para>
                  </listitem>
                  <listitem>
                     <para>With correct permissions, you can see
                    the image status as <code>queued</code> through API calls
                    after removing all locations from the image
                    </para>
                  </listitem>
               </itemizedlist>
               <para>Troubleshooting</para>
               <itemizedlist>
                  <listitem>
                     <para>If you can not update locations you might
                    lack some infomation in your requests. Ensure you meet
                    the preconditions then investigate the your API
                    requests.</para>
                  </listitem>
               </itemizedlist>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">[
    {
        "op": "replace",
        "path": "/name",
        "value": "Fedora 17"
    },
    {
        "op": "replace",
        "path": "/tags",
        "value": [
            "fedora",
            "beefy"
        ]
    }
]</programlisting>
                     </xsdxt:code>
                  </wadl:doc> 
                  <param name="image_id"
                         style="template"
                         type="csapi:uuid"
                         required="true">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Image ID">
                        <para>Image ID stored through the image API.
            Typically a UUID.</para>
                     </wadl:doc>
                  </param> 
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "id": "da3b75d9-3f4a-40e7-8a2c-bfab23927dea",
    "name": "Fedora 17",
    "status": "active",
    "visibility": "public",
    "size": 2254249,
    "checksum": "2cec138d7dae2aa59038ef8c9aec2390",
    "tags": [
        "fedora",
        "beefy"
    ],
    "created_at": "2012-08-10T19:23:50Z",
    "updated_at": "2012-08-12T11:11:33Z",
    "self": "/v2/images/da3b75d9-3f4a-40e7-8a2c-bfab23927dea",
    "file": "/v2/images/da3b75d9-3f4a-40e7-8a2c-bfab23927dea/file",
    "schema": "/v2/schemas/image"
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
         <method name="DELETE" rax:id="deleteImage-v2">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Delete image">
               <para role="shortdesc">Deletes a specified image. (Since
                Image API v2.0.)</para>
               <para>You cannot delete images with the 'protected'
                attribute set to true (boolean); </para>
               <para>Preconditions</para>
               <itemizedlist>
                  <listitem>
                     <para>You can delete an image in all status
                    except <code>deleted</code>.</para>
                  </listitem>
                  <listitem>
                     <para>You must first set the 'protected' attribute
                    to <code>false</code> (boolean) and then perform
                    the delete.</para>
                  </listitem>
               </itemizedlist>
               <para>Synchronous Postconditions</para>
               <itemizedlist>
                  <listitem>
                     <para>The response is empty and returns the
                    HTTP 204 status code.</para>
                  </listitem>
                  <listitem>
                     <para>The image is deleted in images index.
                    </para>
                  </listitem>
                  <listitem>
                     <para>The binary image data managed by OpenStack
                    Image Service is deleted from the storage node if the
                    deleted image stores image data in the node.</para>
                  </listitem>
               </itemizedlist>
               <para>TroubleShooting</para>
               <itemizedlist>
                  <listitem>
                     <para>The response returns the HTTP 403 status
                    code when the 'protected' attribute is set to
                    <code>true</code> even if you have a correct permissions.
                    Ensure you meet the preconditions then investigate
                    the attribute.</para>
                  </listitem>
               </itemizedlist>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                
                  <param name="image_id"
                         style="template"
                         type="csapi:uuid"
                         required="true">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Image ID">
                        <para>Image ID stored through the image API.
            Typically a UUID.</para>
                     </wadl:doc>
                  </param> 
               </representation>
            </request>
            <response status="204"/>
            <response status="403"/>
         </method>
      </resource>
                    
                    
                    
                    <resource id="file" path="/v2/images/{image_id}/file">
         <method name="PUT" rax:id="storeImageFile-v2">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Upload binary image data">
               <para role="shortdesc">Uploads binary image data. (Since
                Image API v2.0.)</para>
               <para>Set the <code>Content-Type</code> request header to
                    <code>application/octet-stream</code>.</para>
               <para>Example call: <code>curl -i -X PUT -H "X-Auth-Token:
                    $token" -H "Content-Type:
                    application/octet-stream" -d
                    @/home/glance/ubuntu-12.10.qcow2
                    $image_url/v2/images/{image_id}/file</code>
               </para>
               <para>Preconditions</para>
               <itemizedlist>
                  <listitem>
                     <para>The specified image must exist before you
                    store binary image data.</para>
                  </listitem>
                  <listitem>
                     <para>You need to set disk_format and container_format
                    in the image before you store the data.</para>
                  </listitem>
                  <listitem>
                     <para>You can only store the data into a image which
                    status is <code>queued</code>.</para>
                  </listitem>
                  <listitem>
                     <para>The user must have enough image strage quota
                    remaining to store the data.</para>
                  </listitem>
                  <listitem>
                     <para>Size of the data must be less than OpenStack
                    Image Service restricts.</para>
                  </listitem>
               </itemizedlist>
               <para>Synchronous Postconditions</para>
               <itemizedlist>
                  <listitem>
                     <para>With correct permissions, you can see the
                    image status as <code>active</code> via API calls.
                    </para>
                  </listitem>
                  <listitem>
                     <para>With correct access, you can see the stored
                    data in the storage system that OpenStack Image Service
                    manages.</para>
                  </listitem>
               </itemizedlist>
               <para>Troubleshooting</para>
               <itemizedlist>
                  <listitem>
                     <para>If you can not store the data you might lack
                    some infomation in your requests or exceed the quota
                    you are allowed to use. Ensure you meet the preconditions
                    then investigate the your API requests.</para>
                  </listitem>
                  <listitem>
                     <para>The storage backends for storing the data need
                    enough free storage space to match the size of the data.
                    </para>
                  </listitem>
               </itemizedlist>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                
                  <param name="image_id"
                         style="template"
                         type="csapi:uuid"
                         required="true">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Image ID">
                        <para>Image ID stored through the image API.
            Typically a UUID.</para>
                     </wadl:doc>
                  </param> 
               </representation>
            </request>
            <response status="204"/>
         </method>
         <method name="GET" rax:id="getImageFile-v2">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Download binary image data">
               <para role="shortdesc">Downloads binary image data. (Since
                Image API v2.0.)</para>
               <para>Example call: <code>curl -i -X GET -H "X-Auth-Token:
                    $token"
                    $image_url/v2/images/{image_id}/file</code>
               </para>
               <para>The response body contains the raw binary data that
                represents the actual virtual disk. The
                    <code>Content-Type</code> header contains the
                value <code>application/octet-stream</code>. The
                    <code>Content-MD5</code> header contains an MD5
                checksum of the image data. Clients are encouraged to
                verify the integrity of the image data they receive by
                using this checksum.</para>
               <para/>
               <para>Preconditions</para>
               <itemizedlist>
                  <listitem>
                     <para>The specified images must exist.</para>
                  </listitem>
               </itemizedlist>
               <para>Synchronous Postconditions</para>
               <itemizedlist>
                  <listitem>
                     <para>You can download the binary image data
                    in your machine if the specified image has image
                    data.</para>
                  </listitem>
                  <listitem>
                     <para>If image data exists, you receive the
                    HTTP 200 status code.</para>
                  </listitem>
                  <listitem>
                     <para>If no image data exists, you receive
                    the HTTP 204 status code.</para>
                  </listitem>
               </itemizedlist>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <param name="image_id"
                         style="template"
                         type="csapi:uuid"
                         required="true">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Image ID">
                        <para>Image ID stored through the image API.
            Typically a UUID.</para>
                     </wadl:doc>
                  </param> 
               </representation>
            </request>
            <response status="200 204"/>
         </method>
      </resource>
                        
                        
                    
                    <resource path="/v2/images/{image_id}/tags/{tag}" id="tag">
         <param name="tag" style="template" type="xsd:string">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" title="Tag">
               <para>Image tag.</para>
            </wadl:doc>
         </param>
         <method name="PUT" rax:id="addImageTag-v2">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Add image tag">
               <para role="shortdesc">Adds a specified tag to a specified
                image. (Since Image API v2.0.)</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <param name="image_id"
                         style="template"
                         type="csapi:uuid"
                         required="true">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Image ID">
                        <para>Image ID stored through the image API.
            Typically a UUID.</para>
                     </wadl:doc>
                  </param> 
                  <param name="tag" style="template" type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" title="Tag">
                        <para>Image tag.</para>
                     </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="204"/>
         </method>
         <method name="DELETE" rax:id="deleteImageTag-v2">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Delete image tag">
               <para role="shortdesc">Deletes a specified tag from a
                specified image. (Since Image API v2.0.)</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                
                  <param name="image_id"
                         style="template"
                         type="csapi:uuid"
                         required="true">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Image ID">
                        <para>Image ID stored through the image API.
            Typically a UUID.</para>
                     </wadl:doc>
                  </param> 
                  <param name="tag" style="template" type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" title="Tag">
                        <para>Image tag.</para>
                     </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="204"/>
         </method>
      </resource>
                            
 
                            
                        
                    <resource id="Members" path="/v2/images/{image_id}/members">
         <method name="GET" rax:id="listImageMembers-v2">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List image members">
               <para role="shortdesc">Lists the tenants with whom this
                image has been shared. (Since Image API v2.1.)</para>
               <para>If a user with whom this image is shared makes this
                call, the member list contains only information for
                that user.</para>
               <para>If a user with whom this image has not been shared
                makes this call, the call returns the HTTP 404 status
                code.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <param name="image_id"
                         style="template"
                         type="csapi:uuid"
                         required="true">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Image ID">
                        <para>Image ID stored through the image API.
            Typically a UUID.</para>
                     </wadl:doc>
                  </param> 
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "members": [
        {
            "created_at": "2013-10-07T17:58:03Z",
            "image_id": "dbc999e3-c52f-4200-bedd-3b18fe7f87fe",
            "member_id": "123456789",
            "schema": "/v2/schemas/member",
            "status": "pending",
            "updated_at": "2013-10-07T17:58:03Z"
        },
        {
            "created_at": "2013-10-07T17:58:55Z",
            "image_id": "dbc999e3-c52f-4200-bedd-3b18fe7f87fe",
            "member_id": "987654321",
            "schema": "/v2/schemas/member",
            "status": "accepted",
            "updated_at": "2013-10-08T12:08:55Z"
        }
    ],
    "schema": "/v2/schemas/members"
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
            <response status="404"/>
         </method>
         <method name="POST" rax:id="createImageMember-v2">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create image member">
               <para role="shortdesc">Adds a specified tenant ID as an
                image member. (Since Image API v2.1.)</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "member": "8989447062e04a818baf9e073fd04fa7"
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc> 
                  <param name="image_id"
                         style="template"
                         type="csapi:uuid"
                         required="true">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Image ID">
                        <para>Image ID stored through the image API.
            Typically a UUID.</para>
                     </wadl:doc>
                  </param> 
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "created_at": "2013-09-20T19:22:19Z",
    "image_id": "a96be11e-8536-4910-92cb-de50aa19dfe6",
    "member_id": "8989447062e04a818baf9e073fd04fa7",
    "schema": "/v2/schemas/member",
    "status": "pending",
    "updated_at": "2013-09-20T19:25:31Z"
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
      </resource>
      <resource path="/v2/images/{image_id}/members/{member_id}" id="member_id">
         <param name="member_id" style="template" type="xsd:string">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Members">
               <para>Image member ID. For example, the tenant
            ID of the user with whom the image is being
        shared.</para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="getImageMember-v2">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Show image member details">
               <para role="shortdesc">Shows image member details.</para>
               <para>Response body is a single image member entity.
                (Since Image API 2.2.)</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                
                  <param name="image_id"
                         style="template"
                         type="csapi:uuid"
                         required="true">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Image ID">
                        <para>Image ID stored through the image API.
            Typically a UUID.</para>
                     </wadl:doc>
                  </param> 
                  <param name="member_id" style="template" type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Members">
                        <para>Image member ID. For example, the tenant
            ID of the user with whom the image is being
        shared.</para>
                     </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "status": "pending",
    "created_at": "2013-11-26T07:21:21Z",
    "updated_at": "2013-11-26T07:21:21Z",
    "image_id": "0ae74cc5-5147-4239-9ce2-b0c580f7067e",
    "member_id": "8989447062e04a818baf9e073fd04fa7",
    "schema": "/v2/schemas/member"
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
         <method name="DELETE" rax:id="deleteImageMember-v2">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Delete image member">
               <para role="shortdesc">Deletes a specified tenant ID from
                the member list of the specified image. (Since Image
                API v2.1.)</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                
                  <param name="image_id"
                         style="template"
                         type="csapi:uuid"
                         required="true">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Image ID">
                        <para>Image ID stored through the image API.
            Typically a UUID.</para>
                     </wadl:doc>
                  </param>
                
                  <param name="member_id" style="template" type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Members">
                        <para>Image member ID. For example, the tenant
            ID of the user with whom the image is being
        shared.</para>
                     </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="204"/>
         </method>
         <method name="PUT" rax:id="updateImageMember-v2">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Update image member">
               <para role="shortdesc">Sets the specified status for the
                specified member of the specified image. (Since Image
                API v2.1.)</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "status": "accepted"
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc> 
                  <param name="image_id"
                         style="template"
                         type="csapi:uuid"
                         required="true">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Image ID">
                        <para>Image ID stored through the image API.
            Typically a UUID.</para>
                     </wadl:doc>
                  </param> 
                  <param name="member_id" style="template" type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Members">
                        <para>Image member ID. For example, the tenant
            ID of the user with whom the image is being
        shared.</para>
                     </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "created_at": "2013-09-20T19:22:19Z",
    "image_id": "a96be11e-8536-4910-92cb-de50aa19dfe6",
    "member_id": "8989447062e04a818baf9e073fd04fa7",
    "schema": "/v2/schemas/member",
    "status": "accepted",
    "updated_at": "2013-09-20T20:15:31Z"
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
      </resource>
                            
 
                            
                            
                        
                
    </resources>
    <!--*******************************************************-->
    <!--               Resource Types                          -->
    <!--*******************************************************-->
    
    
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v2"
           xmlns:csapi="http://docs.openstack.org/image/api/v2"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listVersions-image-v2">
        
        <response status="200 300">
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
    <!-- images methods -->
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v2"
           xmlns:csapi="http://docs.openstack.org/image/api/v2"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listImages-v2">
        
        <request>
            <representation mediaType="application/json">
                
            <param name="limit" style="query" required="false" type="xsd:dateTime">
    
</param>
            <param name="marker" style="query" required="false" type="xsd:string">
    
</param>
            <param name="name" style="query" required="false" type="xsd:string">
    
</param>
            <param name="visibility"
                   style="query"
                   required="false"
                   type="imageapi:string">
    
</param>
            <param name="member_status"
                   style="query"
                   required="false"
                   type="imageapi:string">
    
</param>
            <param name="owner"
                   style="query"
                   required="false"
                   type="imageapi:string">
    
</param>
            <param name="status" style="query" required="false" type="xsd:int">
    
</param>
            <param name="size_min"
                   style="query"
                   required="false"
                   type="xsd:string"
                   default="ALL">
    
</param>
            <param name="size_max"
                   style="query"
                   required="false"
                   type="xsd:string"
                   default="ALL">
    
</param>
            <param name="sort_key"
                   style="query"
                   required="false"
                   type="xsd:string"
                   default="ALL">
    
</param>
            <param name="sort_dir"
                   style="query"
                   required="false"
                   type="xsd:string"
                   default="ALL">
    
</param>
            <param name="tag"
                   style="query"
                   required="false"
                   type="xsd:string"
                   default="ALL">
    
</param> 
         </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                 
            <param name="images" style="plain" required="true" type="xsd:string">
    
</param> 
            <param name="status" style="plain" required="true" type="xsd:string">
    
</param>
                
            <param name="name" style="plain" required="true" type="xsd:string">
    
</param> 
            <param name="tag" style="template" type="xsd:string">
    
</param> 
            <param name="container_format"
                   style="plain"
                   required="true"
                   type="xsd:string">
    
</param>
                
            <param name="created_at"
                   style="plain"
                   required="true"
                   type="xsd:datetime">
    
</param> 
            <param name="disk_format"
                   style="plain"
                   required="true"
                   type="xsd:string">
    
</param>
                
            <param name="updated_at"
                   style="plain"
                   required="true"
                   type="xsd:datetime">
    
</param> 
            <param name="min_disk" style="plain" required="true" type="xsd:int">
    
</param>
                
            <param name="protected"
                   style="plain"
                   required="true"
                   type="xsd:boolean">
    
</param> 
            <param name="id" style="plain" required="true" type="csapi:uuid">
    
</param> 
            <param name="min_ram" style="plain" required="true" type="csapi:uuid">
    
</param>
                
            <param name="checksum" style="plain" required="true" type="xsd:string">
    
</param> 
            <param name="owner" style="plain" required="true" type="xsd:string">
    
</param>
                
            <param name="visibility"
                   style="plain"
                   required="true"
                   type="xsd:boolean">
    
</param> 
            <param name="virtual_size"
                   style="plain"
                   required="true"
                   type="xsd:int">
    
</param>
                
            <param name="properties" style="plain" required="true" type="xsd:dict">
    
</param> 
         </representation>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v2"
           xmlns:csapi="http://docs.openstack.org/image/api/v2"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="createImage-v2">
        
        <request>
            <representation mediaType="application/json" element="image">
                
                <param name="name" style="plain" type="xsd:string" required="true">
                    
                </param>
                <param name="id" style="plain" type="csapi:uuid" required="false">
                    
                </param>
                <param name="visibility"
                   style="plain"
                   type="xsd:string"
                   required="false">
                    
                </param>
                <param name="tags" style="plain" type="xsd:dict" required="false">
                    
                </param>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                 
            <param name="status" style="plain" required="true" type="xsd:string">
    
</param> 
            <param name="container_format"
                   style="plain"
                   required="true"
                   type="xsd:string">
    
</param>
                
            <param name="min_ram" style="plain" required="true" type="csapi:uuid">
    
</param> 
            <param name="updated_at"
                   style="plain"
                   required="true"
                   type="xsd:datetime">
    
</param>
                
            <param name="owner" style="plain" required="true" type="xsd:string">
    
</param> 
            <param name="min_disk" style="plain" required="true" type="xsd:int">
    
</param>
                
            <param name="tag" style="template" type="xsd:string">
    
</param> 
            <param name="visibility"
                   style="plain"
                   required="true"
                   type="xsd:boolean">
    
</param>
                
            <param name="id" style="plain" required="true" type="csapi:uuid">
    
</param> 
            <param name="size" style="plain" required="true" type="xsd:int">
    
</param>
 
            <param name="virtual_size"
                   style="plain"
                   required="true"
                   type="xsd:int">
    
</param>
                
            <param name="name" style="plain" required="true" type="xsd:string">
    
</param> 
            <param name="checksum" style="plain" required="true" type="xsd:string">
    
</param>
                
            <param name="created_at"
                   style="plain"
                   required="true"
                   type="xsd:datetime">
    
</param> 
            <param name="disk_format"
                   style="plain"
                   required="true"
                   type="xsd:string">
    
</param>
                
            <param name="properties" style="plain" required="true" type="xsd:dict">
    
</param> 
            <param name="protected"
                   style="plain"
                   required="true"
                   type="xsd:boolean">
    
</param>
                <!--<param
                    xmlns="http://wadl.dev.java.net/2009/02"
                    name="location" style="plain" type="xsd:anyURI"
                    required="true"
                    path="/common:version/atom:link[@rel='self']/@href">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN">
                        <para>The location for the image identified by
                            a URI.</para>
                    </wadl:doc>
                    <link resource_type="#createImage" rel="self"/>
                </param>-->
            </representation>
        </response>
    </method>
    <!-- images/{image_id} methods -->
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v2"
           xmlns:csapi="http://docs.openstack.org/image/api/v2"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PATCH"
           id="updateImage-v2">
        
        <request>
            <representation mediaType="application/json">
                 
            <param name="image_id"
                   style="template"
                   type="csapi:uuid"
                   required="true">
    
</param> 
         </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v2"
           xmlns:csapi="http://docs.openstack.org/image/api/v2"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="getImage-v2">
        
        <request>
            <representation mediaType="application/json">
                
            <param name="image_id"
                   style="template"
                   type="csapi:uuid"
                   required="true">
    
</param>
         </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v2"
           xmlns:csapi="http://docs.openstack.org/image/api/v2"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="deleteImage-v2">
        
        <request>
            <representation mediaType="application/json">
                
            <param name="image_id"
                   style="template"
                   type="csapi:uuid"
                   required="true">
    
</param> 
         </representation>
        </request>
        <response status="204"/>
        <response status="403"/>
    </method>
    <!-- images/{image_id}/file methods -->
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v2"
           xmlns:csapi="http://docs.openstack.org/image/api/v2"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PUT"
           id="storeImageFile-v2">
        
        <request>
            <representation mediaType="application/json">
                
            <param name="image_id"
                   style="template"
                   type="csapi:uuid"
                   required="true">
    
</param> 
         </representation>
        </request>
        <response status="204"/>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v2"
           xmlns:csapi="http://docs.openstack.org/image/api/v2"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="getImageFile-v2">
        
        <request>
            <representation mediaType="application/json">
            <param name="image_id"
                   style="template"
                   type="csapi:uuid"
                   required="true">
    
</param> 
         </representation>
        </request>
        <response status="200 204"/>
    </method>
    <!-- images/{image_id}/tags/{tag} methods -->
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v2"
           xmlns:csapi="http://docs.openstack.org/image/api/v2"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PUT"
           id="addImageTag-v2">
        
        <request>
            <representation mediaType="application/json">
            <param name="image_id"
                   style="template"
                   type="csapi:uuid"
                   required="true">
    
</param> 
            <param name="tag" style="template" type="xsd:string">
    
</param>
         </representation>
        </request>
        <response status="204"/>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v2"
           xmlns:csapi="http://docs.openstack.org/image/api/v2"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="deleteImageTag-v2">
        
        <request>
            <representation mediaType="application/json">
                
            <param name="image_id"
                   style="template"
                   type="csapi:uuid"
                   required="true">
    
</param> 
            <param name="tag" style="template" type="xsd:string">
    
</param>
         </representation>
        </request>
        <response status="204"/>
    </method>
    <!-- images/{image_id}/members methods -->
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v2"
           xmlns:csapi="http://docs.openstack.org/image/api/v2"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="getImageMember-v2">
        
        <request>
            <representation mediaType="application/json">
                
            <param name="image_id"
                   style="template"
                   type="csapi:uuid"
                   required="true">
    
</param> 
            <param name="member_id" style="template" type="xsd:string">
    
</param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v2"
           xmlns:csapi="http://docs.openstack.org/image/api/v2"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listImageMembers-v2">
        
        <request>
            <representation mediaType="application/json">
            <param name="image_id"
                   style="template"
                   type="csapi:uuid"
                   required="true">
    
</param> 
         </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                
            </representation>
        </response>
        <response status="404"/>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v2"
           xmlns:csapi="http://docs.openstack.org/image/api/v2"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="createImageMember-v2">
        
        <request>
            <representation mediaType="application/json">
                 
            <param name="image_id"
                   style="template"
                   type="csapi:uuid"
                   required="true">
    
</param> 
         </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v2"
           xmlns:csapi="http://docs.openstack.org/image/api/v2"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PUT"
           id="updateImageMember-v2">
        
        <request>
            <representation mediaType="application/json">
                 
            <param name="image_id"
                   style="template"
                   type="csapi:uuid"
                   required="true">
    
</param> 
            <param name="member_id" style="template" type="xsd:string">
    
</param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v2"
           xmlns:csapi="http://docs.openstack.org/image/api/v2"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="deleteImageMember-v2">
        
        <request>
            <representation mediaType="application/json">
                
            <param name="image_id"
                   style="template"
                   type="csapi:uuid"
                   required="true">
    
</param>
                
            <param name="member_id" style="template" type="xsd:string">
    
</param>
         </representation>
        </request>
        <response status="204"/>
    </method>
</wadl:application>
