docs/rackerlabs-wadl2swagger/openstack/wadls/OS-KSS3-admin.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2011-2014 OpenStack Foundation., All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent OS-KSS3-admin.wadl             -->
<!--*******************************************************-->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <wadl:grammars xmlns:db="http://docbook.org/ns/docbook"
                  xmlns="http://wadl.dev.java.net/2009/02">
      <wadl:include href="26682-OS-KSS3-admin-xsd-1.xsd"/>
      <wadl:include href="26682-OS-KSS3-admin-xsd-2.xsd"/>
      <wadl:include href="26682-OS-KSS3-admin-xsd-3.xsd"/>
   </wadl:grammars>
    <!--*******************************************************-->
    <!--             All Resoruces                             -->
    <!--*******************************************************-->

    <!-- We should use SSL in production -->
    <resources xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
              xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
              xmlns:capi="http://docs.openstack.org/common/api/v1.0"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="http://localhost:35357"
              xml:id="OS-KSS3-admin-v2.0">
        <resource id="userCredentials" path="/v2.0/users/{userId}/OS-OS-KSS3/credentials">
         <param name="X-Auth-Token"
                style="header"
                type="xsd:string"
                required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>A valid authentication
                        token.</para>
            </wadl:doc>
            </param>
         <param name="userId"
                style="template"
                required="true"
                type="xsd:string">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>The user
                            ID.</para>
            </wadl:doc>
                    </param>
         <param name="marker" style="query" required="false" type="xsd:string">
                                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>The ID of the
                                   last item in the previous
                                   list.</para>
            </wadl:doc>
                            </param>
         <param name="limit" style="query" required="false" type="xsd:int">
                                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>The page
                                   size.</para>
                                </wadl:doc>
                            </param>
         <method name="GET" rax:id="listCredentials">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List credentials">
               <para role="shortdesc">Lists credentials.</para>
            </wadl:doc>
            <response status="200 203">
               <representation mediaType="application/xml" element="identity:credentials">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;credentials xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://docs.openstack.org/identity/api/v2.0"&gt;
    &lt;passwordCredentials username="test_user" password="secretsecret"/&gt;
    &lt;s3Credentials xmlns="http://docs.openstack.org/identity/api/ext/OS-KSS3/v1.0"
        username="testuser" key="aaaaa" signature="bbbbb"/&gt;
&lt;/credentials&gt;
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "credentials": [
        {
            "passwordCredentials": {
                "username": "test_user",
                "password": "secretsecret"
            }
        },
        {
            "OS-KSS3:s3Credentials": {
                "username": "test_user",
                "secret": "secretsecret",
                "signature": "bbb"
            }
        }
    ],
    "credentials_links": []
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response> 
            <response>
               <representation mediaType="application/xml" element="identity:identityFault"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="400">
               <representation mediaType="application/xml" element="identity:badRequest"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="identity:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="403">
               <representation mediaType="application/xml" element="identity:forbidden"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="405">
               <representation mediaType="application/xml" element="identity:badMethod"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="413">
               <representation mediaType="application/xml" element="identity:overLimit"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="503">
               <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
            
            <response status="404">
               <representation mediaType="application/xml" element="identity:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
            </method>
         <method name="POST" rax:id="addUserCredential">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Add user credential">
               <para role="shortdesc">Adds a credential to a user.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/xml" element="s3credentials">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;s3Credentials
    xmlns="http://docs.openstack.org/identity/api/ext/OS-KSS3/v1.0"
    username="testuser"
    key="aaaaa"
    signature="bbbbb"/&gt;
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "OS-KSS3:s3Credentials": {
        "username": "test_user",
        "secret": "secretsecret",
        "signature": "bbb"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="201">
               <representation mediaType="application/xml" element="s3credentials">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;s3Credentials
    xmlns="http://docs.openstack.org/identity/api/ext/OS-KSS3/v1.0"
    username="testuser"
    key="aaaaa"
    signature="bbbbb"/&gt;
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "OS-KSS3:s3Credentials": {
        "username": "test_user",
        "secret": "secretsecret",
        "signature": "bbb"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response> 
            <response>
               <representation mediaType="application/xml" element="identity:identityFault"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="400">
               <representation mediaType="application/xml" element="identity:badRequest"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="identity:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="403">
               <representation mediaType="application/xml" element="identity:forbidden"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="405">
               <representation mediaType="application/xml" element="identity:badMethod"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="413">
               <representation mediaType="application/xml" element="identity:overLimit"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="503">
               <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
            
            <response status="415">
               <representation mediaType="application/xml" element="identity:badMediaType"/>
               <representation mediaType="application/json"/>
            </response>
            
            <response status="404">
               <representation mediaType="application/xml" element="identity:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
            </method>
      </resource>
                            
                            
                            
                            
                            <resource id="userCredentialsByType"
                path="/v2.0/users/{userId}/OS-OS-KSS3/credentials/s3credentials">
         <param name="X-Auth-Token"
                style="header"
                type="xsd:string"
                required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>A valid authentication
                        token.</para>
            </wadl:doc>
            </param>
         <param name="userId"
                style="template"
                required="true"
                type="xsd:string">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>The user
                            ID.</para>
            </wadl:doc>
                    </param>
         <method name="GET" rax:id="getUserCredential">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Get user credentials">
               <para role="shortdesc" class="shortdesc">Gets user
                credentials.</para>
            </wadl:doc>
            <response status="200 203">
               <representation mediaType="application/xml" element="s3credentials">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;s3Credentials
    xmlns="http://docs.openstack.org/identity/api/ext/OS-KSS3/v1.0"
    username="testuser"
    key="aaaaa"
    signature="bbbbb"/&gt;
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "OS-KSS3:s3Credentials": {
        "username": "test_user",
        "secret": "secretsecret",
        "signature": "bbb"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response> 
            <response>
               <representation mediaType="application/xml" element="identity:identityFault"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="400">
               <representation mediaType="application/xml" element="identity:badRequest"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="identity:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="403">
               <representation mediaType="application/xml" element="identity:forbidden"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="405">
               <representation mediaType="application/xml" element="identity:badMethod"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="413">
               <representation mediaType="application/xml" element="identity:overLimit"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="503">
               <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
            
            <response status="404">
               <representation mediaType="application/xml" element="identity:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
            </method>
         <method name="POST" rax:id="updateUserCredential">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Update user credentials">
               <para role="shortdesc" class="shortdesc">Updates
                credentials.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/xml" element="s3credentials">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;s3Credentials
    xmlns="http://docs.openstack.org/identity/api/ext/OS-KSS3/v1.0"
    username="testuser"
    key="aaaaa"
    signature="bbbbb"/&gt;
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "OS-KSS3:s3Credentials": {
        "username": "test_user",
        "secret": "secretsecret",
        "signature": "bbb"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="s3credentials">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;s3Credentials
    xmlns="http://docs.openstack.org/identity/api/ext/OS-KSS3/v1.0"
    username="testuser"
    key="aaaaa"
    signature="bbbbb"/&gt;
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "OS-KSS3:s3Credentials": {
        "username": "test_user",
        "secret": "secretsecret",
        "signature": "bbb"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response> 
            <response>
               <representation mediaType="application/xml" element="identity:identityFault"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="400">
               <representation mediaType="application/xml" element="identity:badRequest"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="identity:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="403">
               <representation mediaType="application/xml" element="identity:forbidden"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="405">
               <representation mediaType="application/xml" element="identity:badMethod"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="413">
               <representation mediaType="application/xml" element="identity:overLimit"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="503">
               <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
            
            <response status="415">
               <representation mediaType="application/xml" element="identity:badMediaType"/>
               <representation mediaType="application/json"/>
            </response>
            
            <response status="404">
               <representation mediaType="application/xml" element="identity:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
            </method>
         <method name="DELETE" rax:id="deleteUserCredential">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Delete user credentials">
               <para role="shortdesc" class="shortdesc">Deletes user
                credentials.</para>
            </wadl:doc>
            <response status="204"/> 
            <response>
               <representation mediaType="application/xml" element="identity:identityFault"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="400">
               <representation mediaType="application/xml" element="identity:badRequest"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="identity:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="403">
               <representation mediaType="application/xml" element="identity:forbidden"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="405">
               <representation mediaType="application/xml" element="identity:badMethod"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="413">
               <representation mediaType="application/xml" element="identity:overLimit"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="503">
               <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
            
            <response status="415">
               <representation mediaType="application/xml" element="identity:badMediaType"/>
               <representation mediaType="application/json"/>
            </response>
           
        
            <response status="404">
               <representation mediaType="application/xml" element="identity:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
            </method>
      </resource>
                                
                                
                                
                                <resource id="type"
                path="/v2.0/users/{userId}/OS-OS-KSS3/credentials/s3credentials/{type}">
         <param name="X-Auth-Token"
                style="header"
                type="xsd:string"
                required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>A valid authentication
                        token.</para>
            </wadl:doc>
            </param>
         <param name="userId"
                style="template"
                required="true"
                type="xsd:string">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>The user
                            ID.</para>
            </wadl:doc>
                    </param>
         <param name="type" style="query" required="true" type="xsd:string">
                                   <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>The credential
                                   type.</para>
            </wadl:doc>
                                   </param>
         <method name="GET" rax:id="listCredentialsByType">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List credentials by type">
               <para role="shortdesc" class="shortdesc">Lists credentials
                by type.</para>
            </wadl:doc>
            <response status="200 203">
               <representation mediaType="application/xml" element="identity:credentials">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;credentials xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://docs.openstack.org/identity/api/v2.0"&gt;
    &lt;passwordCredentials username="test_user" password="secretsecret"/&gt;
    &lt;s3Credentials xmlns="http://docs.openstack.org/identity/api/ext/OS-KSS3/v1.0"
        username="testuser" key="aaaaa" signature="bbbbb"/&gt;
&lt;/credentials&gt;
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "credentials": [
        {
            "passwordCredentials": {
                "username": "test_user",
                "password": "secretsecret"
            }
        },
        {
            "OS-KSS3:s3Credentials": {
                "username": "test_user",
                "secret": "secretsecret",
                "signature": "bbb"
            }
        }
    ],
    "credentials_links": []
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response> 
            <response>
               <representation mediaType="application/xml" element="identity:identityFault"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="400">
               <representation mediaType="application/xml" element="identity:badRequest"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="identity:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="403">
               <representation mediaType="application/xml" element="identity:forbidden"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="405">
               <representation mediaType="application/xml" element="identity:badMethod"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="413">
               <representation mediaType="application/xml" element="identity:overLimit"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="503">
               <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
            
            <response status="404">
               <representation mediaType="application/xml" element="identity:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
            </method>
      </resource>
                                   
                                   
                                
                            
                        
    </resources>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!-- user credentials-->
    <method xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
           xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
           xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="addUserCredential">
        
        <request>
            <representation mediaType="application/xml" element="s3credentials">
                
            </representation>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/xml" element="s3credentials">
                
            </representation>
            <representation mediaType="application/json">
                
            </representation>
        </response> 
        <response>
            <representation mediaType="application/xml" element="identity:identityFault"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="405">
            <representation mediaType="application/xml" element="identity:badMethod"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="413">
            <representation mediaType="application/xml" element="identity:overLimit"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
            <representation mediaType="application/json"/>
        </response>
            
        <response status="415">
            <representation mediaType="application/xml" element="identity:badMediaType"/>
            <representation mediaType="application/json"/>
        </response>
            
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
            </method>

    <method xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
           xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
           xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listCredentials">
        
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:credentials">
                
            </representation>
            <representation mediaType="application/json">
                
            </representation>
        </response> 
        <response>
            <representation mediaType="application/xml" element="identity:identityFault"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="405">
            <representation mediaType="application/xml" element="identity:badMethod"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="413">
            <representation mediaType="application/xml" element="identity:overLimit"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
            <representation mediaType="application/json"/>
        </response>
            
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
            </method>

    <method xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
           xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
           xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listCredentialsByType">
        
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:credentials">
                
            </representation>
            <representation mediaType="application/json">
                
            </representation>
        </response> 
        <response>
            <representation mediaType="application/xml" element="identity:identityFault"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="405">
            <representation mediaType="application/xml" element="identity:badMethod"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="413">
            <representation mediaType="application/xml" element="identity:overLimit"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
            <representation mediaType="application/json"/>
        </response>
            
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
            </method>

    <method xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
           xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
           xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="updateUserCredential">
        
        <request>
            <representation mediaType="application/xml" element="s3credentials">
                
            </representation>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="s3credentials">
                
            </representation>
            <representation mediaType="application/json">
                
            </representation>
        </response> 
        <response>
            <representation mediaType="application/xml" element="identity:identityFault"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="405">
            <representation mediaType="application/xml" element="identity:badMethod"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="413">
            <representation mediaType="application/xml" element="identity:overLimit"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
            <representation mediaType="application/json"/>
        </response>
            
        <response status="415">
            <representation mediaType="application/xml" element="identity:badMediaType"/>
            <representation mediaType="application/json"/>
        </response>
            
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
            </method>

    <method xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
           xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
           xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="deleteUserCredential">
        
        <response status="204"/> 
        <response>
            <representation mediaType="application/xml" element="identity:identityFault"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="405">
            <representation mediaType="application/xml" element="identity:badMethod"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="413">
            <representation mediaType="application/xml" element="identity:overLimit"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
            <representation mediaType="application/json"/>
        </response>
            
        <response status="415">
            <representation mediaType="application/xml" element="identity:badMediaType"/>
            <representation mediaType="application/json"/>
        </response>
           
        
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
            </method>

    <method xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
           xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
           xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="getUserCredential">
        
        <response status="200 203">
            <representation mediaType="application/xml" element="s3credentials">
                
            </representation>
            <representation mediaType="application/json">
                
            </representation>
        </response> 
        <response>
            <representation mediaType="application/xml" element="identity:identityFault"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="405">
            <representation mediaType="application/xml" element="identity:badMethod"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="413">
            <representation mediaType="application/xml" element="identity:overLimit"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
            <representation mediaType="application/json"/>
        </response>
            
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
            </method>
</wadl:application>
