docs/rackerlabs-wadl2swagger/openstack/wadls/os-keypairs.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2013-2014 OpenStack Foundation, All Rights Reserved -->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <resources xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://servers.api.openstack.com"
              xml:id="os-keypairs-v2">
        <resource id="os-keypairs" path="/v2/{tenant_id}/os-keypairs">
         <param name="tenant_id" style="template" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The ID for the tenant or account in a
                            multi-tenancy cloud.</para>
            </wadl:doc>
                </param>
         <method name="GET" rax:id="getKeypair">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List keypairs">
               <para role="shortdesc">Lists keypairs that are associated
                with the account.</para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "keypairs": [
        {
            "keypair": {
                "fingerprint": "15:b0:f8:b3:f9:48:63:71:cf:7b:5b:38:6d:44:2d:4a",
                "name": "keypair-601a2305-4f25-41ed-89c6-2a966fc8027a",
                "public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAAgQC+Eo/RZRngaGTkFs7I62ZjsIlO79KklKbMXi8F+KITD4bVQHHn+kV+4gRgkgCRbdoDqoGfpaDFs877DYX9n4z6FrAIZ4PES8TNKhatifpn9NdQYWA+IkU8CuvlEKGuFpKRi/k7JLos/gHi2hy7QUwgtRvcefvD/vgQZOVw/mGR9Q== Generated by Nova\n"
            }
        }
    ]
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version='1.0' encoding='UTF-8'?&gt;
&lt;keypairs&gt;
  &lt;keypair&gt;
    &lt;public_key&gt;ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAAgQCWdUoGD7qz9kjbLoY2L0S5CdhUS8RvQ1g62OTgvmWE/bEKDLwaTIFEEpN/0huGk/nxvVZ6VOhv1eSKC3o9dZ2NDk0C4sBsrvJ41uWd1hbq72sDGzVEkJ+925CraioSAbMpRK5Ea7UPWbR8laqrY1TsKtcuxiGJ936bOPIXW12h6Q== Generated by Nova
&lt;/public_key&gt;
    &lt;name&gt;keypair-a4c7d228-218b-4c4c-9d99-62e7878ebb1b&lt;/name&gt;
    &lt;fingerprint&gt;62:32:23:67:56:ee:6f:51:4c:03:ce:b8:00:f9:41:ff&lt;/fingerprint&gt;
  &lt;/keypair&gt;
&lt;/keypairs&gt;</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
         <method name="POST" rax:id="createKeypair">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create or import keypair">
               <para role="shortdesc">Generates or imports a
                keypair.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;keypair&gt;
    &lt;name&gt;keypair-96bbe50e-05e1-4d59-9115-4779a3ebcc2e&lt;/name&gt;
    &lt;public_key&gt;ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAAgQDx8nkQv/zgGgB4rMYmIf+6A4l6Rr+o/6lHBQdW5aYd44bd8JttDCE/F/pNRr0lRE+PiqSPO8nDPHw0010JeMH9gYgnnFlyY3/OcJ02RhIPyyxYpv9FhY+2YiUkpwFOcLImyrxEsYXpD/0d3ac30bNH6Sw9JD9UZHYcpSxsIbECHw== Generated by Nova&lt;/public_key&gt;
&lt;/keypair&gt;</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "keypair": {
        "name": "keypair-dab428fe-6186-4a14-b3de-92131f76cd39",
        "public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAAgQDx8nkQv/zgGgB4rMYmIf+6A4l6Rr+o/6lHBQdW5aYd44bd8JttDCE/F/pNRr0lRE+PiqSPO8nDPHw0010JeMH9gYgnnFlyY3/OcJ02RhIPyyxYpv9FhY+2YiUkpwFOcLImyrxEsYXpD/0d3ac30bNH6Sw9JD9UZHYcpSxsIbECHw== Generated by Nova"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <param name="name" style="plain" required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The name to associate with the
                            keypair.</para>
                     </wadl:doc>
                  </param>
                  <param name="public_key"
                         style="plain"
                         type="xsd:string"
                         required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The public ssh key to import. If not
                            provided, a key is generated.
                       </para>
                     </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version='1.0' encoding='UTF-8'?&gt;
&lt;keypair&gt;
  &lt;public_key&gt;ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAAgQDx8nkQv/zgGgB4rMYmIf+6A4l6Rr+o/6lHBQdW5aYd44bd8JttDCE/F/pNRr0lRE+PiqSPO8nDPHw0010JeMH9gYgnnFlyY3/OcJ02RhIPyyxYpv9FhY+2YiUkpwFOcLImyrxEsYXpD/0d3ac30bNH6Sw9JD9UZHYcpSxsIbECHw== Generated by Nova&lt;/public_key&gt;
  &lt;user_id&gt;fake&lt;/user_id&gt;
  &lt;name&gt;keypair-96bbe50e-05e1-4d59-9115-4779a3ebcc2e&lt;/name&gt;
  &lt;fingerprint&gt;1e:2c:9b:56:79:4b:45:77:f9:ca:7a:98:2c:b0:d5:3c&lt;/fingerprint&gt;
&lt;/keypair&gt;</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "keypair": {
        "fingerprint": "1e:2c:9b:56:79:4b:45:77:f9:ca:7a:98:2c:b0:d5:3c",
        "name": "keypair-dab428fe-6186-4a14-b3de-92131f76cd39",
        "public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAAgQDx8nkQv/zgGgB4rMYmIf+6A4l6Rr+o/6lHBQdW5aYd44bd8JttDCE/F/pNRr0lRE+PiqSPO8nDPHw0010JeMH9gYgnnFlyY3/OcJ02RhIPyyxYpv9FhY+2YiUkpwFOcLImyrxEsYXpD/0d3ac30bNH6Sw9JD9UZHYcpSxsIbECHw== Generated by Nova",
        "user_id": "fake"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
      </resource>
                    
                    
                    <resource path="/v2/{tenant_id}/os-keypairs/{keypair_name}" id="keypair_name">
         <param name="tenant_id" style="template" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The ID for the tenant or account in a
                            multi-tenancy cloud.</para>
            </wadl:doc>
                </param>
         <param name="keypair_name" style="template" type="xsd:string">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>The name
                                   associated with a keypair.
                               </para>
            </wadl:doc>
                        </param>
         <method name="DELETE" rax:id="deleteKeypair">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Delete keypair">
               <para role="shortdesc">Deletes a keypair.</para>
            </wadl:doc>
            <response status="202"/>
         </method>
         <method name="GET" rax:id="showKeypair">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Show keypair information">
               <para role="shortdesc">Shows a keypair associated with the
                account.</para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "keypair": {
        "public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAAgQDCSLxfzqB+e5yHdUSXvbxKkajjlfuhV+GArdseqPjfkKJ6no5echpin7dJp0FLXMJKxJZE3WWIRu25CQrJntmi7no27RkDfAGaTFbjz3DWY4A1HLeKAB5tFTwYQlr7CjMdoC/DY7UvKaatwLhH4Wvh5vMmXgF7AFzdkI28urwo+Q== nova@use03147k5-eth0\n",
        "name": "hpdefault",
        "fingerprint": "8b:2f:aa:b0:b8:97:dc:c8:50:aa:d4:8e:d0:34:61:d9"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
      </resource>
                        
                        
                        
                    
                
    </resources>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="getKeypair">
        
        <response status="200">
            <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml">
                
            </representation>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="showKeypair">
        
        <response status="200">
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="deleteKeypair">
        
        <response status="202"/>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="createKeypair">
        
        <request>
            <representation mediaType="application/xml">
                
            </representation>
            <representation mediaType="application/json">
                
                <param name="name" style="plain" required="true" type="xsd:string">
                    
                </param>
                <param name="public_key"
                   style="plain"
                   type="xsd:string"
                   required="false">
                    
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                
            </representation>
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
</wadl:application>
