docs/rackerlabs-wadl2swagger/openstack/wadls/os-migrations.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2013-2014 OpenStack Foundation, All Rights Reserved -->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <resources xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:csapi="http://docs.openstack.org/api/compute/2.0"
              xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://servers.api.openstack.com"
              xml:id="os-migrations-v2">
        <resource id="os-migrations" path="/v2/{tenant_id}/os-migrations">
         <param name="tenant_id" style="template" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>The ID for the tenant or account in
                            a multi-tenancy cloud.</para>
            </wadl:doc>
                </param>
         <param name="host"
                style="query"
                required="false"
                type="xsd:string"
                path="host={host_name}">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>Filters the response by host
                                name. Include the host name in the URI
                                as follows:
                                <code>host={host}</code>.</para>
            </wadl:doc>
                    </param>
         <param name="status"
                style="query"
                required="false"
                type="xsd:string"
                path="status={status}">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>Filters the response by status.
                                Include the status in the URI as
                                follows:
                                <code>status={status}</code>.</para>
            </wadl:doc>
                    </param>
         <param name="cell_name"
                style="query"
                required="false"
                type="xsd:string"
                path="cell_name={cell_name}">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>Filters the response by cell
                                name. Include the cell name in the URI
                                as follows:
                                   <code>cell_name={cell}</code>.</para>
            </wadl:doc>
                    </param>
         <method name="GET" rax:id="getMigrations">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Get migrations">
               <para role="shortdesc">Enables an administrative user to
                fetch in-progress migrations for a region or specified
                cell in a region.</para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "migrations": [
        {
            "created_at": "2012-10-29T13:42:02.000000",
            "dest_compute": "compute2",
            "dest_host": "1.2.3.4",
            "dest_node": "node2",
            "id": 1234,
            "instance_uuid": "instance_id_123",
            "new_instance_type_id": 2,
            "old_instance_type_id": 1,
            "source_compute": "compute1",
            "source_node": "node1",
            "status": "Done",
            "updated_at": "2012-10-29T13:42:02.000000"
        },
        {
            "created_at": "2013-10-22T13:42:02.000000",
            "dest_compute": "compute20",
            "dest_host": "5.6.7.8",
            "dest_node": "node20",
            "id": 5678,
            "instance_uuid": "instance_id_456",
            "new_instance_type_id": 6,
            "old_instance_type_id": 5,
            "source_compute": "compute10",
            "source_node": "node10",
            "status": "Done",
            "updated_at": "2013-10-22T13:42:02.000000"
        }
    ]
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version='1.0' encoding='UTF-8'?&gt;
&lt;migrations&gt;
  &lt;migration dest_host="1.2.3.4" status="Done" old_instance_type_id="1" updated_at="2012-10-29 13:42:02" dest_compute="compute2" created_at="2012-10-29 13:42:02" source_node="node1" instance_uuid="instance_id_123" dest_node="node2" id="1234" new_instance_type_id="2" source_compute="compute1"/&gt;
  &lt;migration dest_host="5.6.7.8" status="Done" old_instance_type_id="5" updated_at="2013-10-22 13:42:02" dest_compute="compute20" created_at="2013-10-22 13:42:02" source_node="node10" instance_uuid="instance_id_456" dest_node="node20" id="5678" new_instance_type_id="6" source_compute="compute10"/&gt;
&lt;/migrations&gt;</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <param name="created_at"
                         style="plain"
                         required="true"
                         type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The created at time
                        stamp.</para>
                     </wadl:doc>
                  </param>
                  <param name="dest_compute"
                         style="plain"
                         required="true"
                         type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The destination compute
                            node.</para>
                     </wadl:doc>
                  </param>
                  <param name="dest_host"
                         style="plain"
                         required="true"
                         type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The destination
                        host.</para>
                     </wadl:doc>
                  </param>
                  <param name="id" style="plain" required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The migration ID.</para>
                     </wadl:doc>
                  </param>
                  <param name="instance_uuid"
                         style="plain"
                         required="true"
                         type="csapi:uuid">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The ID of the instance being
                            migrated.</para>
                     </wadl:doc>
                  </param>
                  <param name="new_instance_type_id"
                         style="plain"
                         required="true"
                         type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The ID of the new instance
                            type.</para>
                     </wadl:doc>
                  </param>
                  <param name="old_instance_type_id"
                         style="plain"
                         required="true"
                         type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The ID of the old instance
                            type.</para>
                     </wadl:doc>
                  </param>
                  <param name="source_compute"
                         style="plain"
                         required="true"
                         type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The source compute
                        node.</para>
                     </wadl:doc>
                  </param>
                  <param name="source_node"
                         style="plain"
                         required="true"
                         type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The source node.</para>
                     </wadl:doc>
                  </param>
                  <param name="status" style="plain" required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The migration
                        status.</para>
                     </wadl:doc>
                  </param>
                  <param name="updated_at"
                         style="plain"
                         required="true"
                         type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The updated at time
                        stamp.</para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
      </resource>
                    
                    
                    
                    
                
    </resources>
    <method xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/api/compute/2.0"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="getMigrations">
        
        <response status="200">
            <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml">
                
                <param name="created_at"
                   style="plain"
                   required="true"
                   type="xsd:string">
                    
                </param>
                <param name="dest_compute"
                   style="plain"
                   required="true"
                   type="xsd:string">
                    
                </param>
                <param name="dest_host"
                   style="plain"
                   required="true"
                   type="xsd:string">
                    
                </param>
                <param name="id" style="plain" required="true" type="xsd:string">
                    
                </param>
                <param name="instance_uuid"
                   style="plain"
                   required="true"
                   type="csapi:uuid">
                    
                </param>
                <param name="new_instance_type_id"
                   style="plain"
                   required="true"
                   type="xsd:string">
                    
                </param>
                <param name="old_instance_type_id"
                   style="plain"
                   required="true"
                   type="xsd:string">
                    
                </param>
                <param name="source_compute"
                   style="plain"
                   required="true"
                   type="xsd:string">
                    
                </param>
                <param name="source_node"
                   style="plain"
                   required="true"
                   type="xsd:string">
                    
                </param>
                <param name="status" style="plain" required="true" type="xsd:string">
                    
                </param>
                <param name="updated_at"
                   style="plain"
                   required="true"
                   type="xsd:string">
                    
                </param>
            </representation>
        </response>
    </method>
</wadl:application>
