docs/rackerlabs-wadl2swagger/openstack/wadls/security-groups.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2013-2014 OpenStack Foundation, All Rights Reserved -->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <wadl:grammars xmlns:db="http://docbook.org/ns/docbook"
                  xmlns="http://wadl.dev.java.net/2009/02">
      <wadl:include href="11475-security-groups-xsd-1.xsd"/>
   </wadl:grammars>
    <resources xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:csapi="http://www.w3.org/2001/XMLSchema"
              xmlns:secgr="http://docs.openstack.org/neutron/api/v2.0"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://servers.api.openstack.com/"
              xml:id="security-groups-v2.0">
        <resource id="security_groups" path="/v2.0/security-groups">
         <method name="GET" rax:id="listSecGroups">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List security groups">
               <para role="shortdesc">Lists all OpenStack Networking
                security groups to which the specified tenant has
                access.</para>
               <para>The list shows the unique ID for each security group
                and the rules that are associated with each security
                group.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">GET /v2.0/security-groups
Accept: application/json</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="200">
               <param name="security_group" type="xsd:string" required="true">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>Security group
                    object.</para>
                  </wadl:doc>
               </param>
               <param name="description" type="xsd:string" required="true">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The
                        security group description.</para>
                  </wadl:doc>
               </param>
               <param name="id" type="csapi:uuid" required="true">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The
                        UUID for the security group.</para>
                  </wadl:doc>
               </param>
               <param name="name" type="xsd:string" required="true">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The
                        security group name.</para>
                  </wadl:doc>
               </param>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "security_groups": [
        {
            "description": "default",
            "id": "85cc3048-abc3-43cc-89b3-377341426ac5",
            "name": "default",
            "security_group_rules": [
                {
                    "direction": "egress",
                    "ethertype": "IPv6",
                    "id": "3c0e45ff-adaf-4124-b083-bf390e5482ff",
                    "port_range_max": null,
                    "port_range_min": null,
                    "protocol": null,
                    "remote_group_id": null,
                    "remote_ip_prefix": null,
                    "security_group_id": "85cc3048-abc3-43cc-89b3-377341426ac5",
                    "tenant_id": "e4f50856753b4dc6afee5fa6b9b6c550"
                },
                {
                    "direction": "egress",
                    "ethertype": "IPv4",
                    "id": "93aa42e5-80db-4581-9391-3a608bd0e448",
                    "port_range_max": null,
                    "port_range_min": null,
                    "protocol": null,
                    "remote_group_id": null,
                    "remote_ip_prefix": null,
                    "security_group_id": "85cc3048-abc3-43cc-89b3-377341426ac5",
                    "tenant_id": "e4f50856753b4dc6afee5fa6b9b6c550"
                },
                {
                    "direction": "ingress",
                    "ethertype": "IPv6",
                    "id": "c0b09f00-1d49-4e64-a0a7-8a186d928138",
                    "port_range_max": null,
                    "port_range_min": null,
                    "protocol": null,
                    "remote_group_id": "85cc3048-abc3-43cc-89b3-377341426ac5",
                    "remote_ip_prefix": null,
                    "security_group_id": "85cc3048-abc3-43cc-89b3-377341426ac5",
                    "tenant_id": "e4f50856753b4dc6afee5fa6b9b6c550"
                },
                {
                    "direction": "ingress",
                    "ethertype": "IPv4",
                    "id": "f7d45c89-008e-4bab-88ad-d6811724c51c",
                    "port_range_max": null,
                    "port_range_min": null,
                    "protocol": null,
                    "remote_group_id": "85cc3048-abc3-43cc-89b3-377341426ac5",
                    "remote_ip_prefix": null,
                    "security_group_id": "85cc3048-abc3-43cc-89b3-377341426ac5",
                    "tenant_id": "e4f50856753b4dc6afee5fa6b9b6c550"
                }
            ],
            "tenant_id": "e4f50856753b4dc6afee5fa6b9b6c550"
        }
    ]
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="secgr:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method name="POST" rax:id="createSecGroup">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create security group">
               <para role="shortdesc">Creates an OpenStack Networking
                security group.</para>
               <para>This operation creates a security group with default
                security group rules for the IPv4 and IPv6 ether
                types.</para>
            </wadl:doc>
            <request>
               <param name="name" type="xsd:string" required="true">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>A
                        symbolic name for the security group. Not
                        required to be unique.</para>
                  </wadl:doc>
               </param>
               <param name="description" type="xsd:string" required="false">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>Describes the security
                    group.</para>
                  </wadl:doc>
               </param>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "security_group": {
        "name": "new-webservers",
        "description": "security group for webservers"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="201">
               <param name="security_group" type="xsd:string" required="true">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>Security group
                    object.</para>
                  </wadl:doc>
               </param>
               <param name="description" type="xsd:string" required="true">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The
                        security group description.</para>
                  </wadl:doc>
               </param>
               <param name="id" type="csapi:uuid" required="true">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The
                        UUID for the security group.</para>
                  </wadl:doc>
               </param>
               <param name="name" type="xsd:string" required="true">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The
                        security group name.</para>
                  </wadl:doc>
               </param>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "security_group": {
        "description": "security group for webservers",
        "id": "2076db17-a522-4506-91de-c6dd8e837028",
        "name": "new-webservers",
        "security_group_rules": [
            {
                "direction": "egress",
                "ethertype": "IPv4",
                "id": "38ce2d8e-e8f1-48bd-83c2-d33cb9f50c3d",
                "port_range_max": null,
                "port_range_min": null,
                "protocol": null,
                "remote_group_id": null,
                "remote_ip_prefix": null,
                "security_group_id": "2076db17-a522-4506-91de-c6dd8e837028",
                "tenant_id": "e4f50856753b4dc6afee5fa6b9b6c550"
            },
            {
                "direction": "egress",
                "ethertype": "IPv6",
                "id": "565b9502-12de-4ffd-91e9-68885cff6ae1",
                "port_range_max": null,
                "port_range_min": null,
                "protocol": null,
                "remote_group_id": null,
                "remote_ip_prefix": null,
                "security_group_id": "2076db17-a522-4506-91de-c6dd8e837028",
                "tenant_id": "e4f50856753b4dc6afee5fa6b9b6c550"
            }
        ],
        "tenant_id": "e4f50856753b4dc6afee5fa6b9b6c550"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
            <response status="400">
               <representation mediaType="application/xml" element="secgr:badRequest"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="secgr:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
                    
                    
                    <resource id="security_group_id" path="/v2.0/security-groups/{security_group_id}">
         <param name="security_group_id" style="template" type="csapi:uuid">
                            <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">The unique identifier of
                                the security group.</wadl:doc>
                        </param>
         <method name="GET" rax:id="getSecGroup">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Show security group">
               <para role="shortdesc">Shows information for a specified
                security group.</para>
               <para>This operation returns a response body that contains
                the description, name, ID, and security group rules
                associated with the specified security group and
                tenant ID.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">GET /v2.0/security-groups/85cc3048-abc3-43cc-89b3-377341426ac5
Accept: application/json</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="200">
               <param name="security_group" type="xsd:string" required="true">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>Security group
                    object.</para>
                  </wadl:doc>
               </param>
               <param name="description" type="xsd:string" required="true">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The
                        security group description.</para>
                  </wadl:doc>
               </param>
               <param name="id" type="csapi:uuid" required="true">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The
                        UUID for the security group.</para>
                  </wadl:doc>
               </param>
               <param name="name" type="xsd:string" required="true">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The
                        security group name.</para>
                  </wadl:doc>
               </param>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "security_group": {
        "description": "default",
        "id": "85cc3048-abc3-43cc-89b3-377341426ac5",
        "name": "default",
        "security_group_rules": [
            {
                "direction": "egress",
                "ethertype": "IPv6",
                "id": "3c0e45ff-adaf-4124-b083-bf390e5482ff",
                "port_range_max": null,
                "port_range_min": null,
                "protocol": null,
                "remote_group_id": null,
                "remote_ip_prefix": null,
                "security_group_id": "85cc3048-abc3-43cc-89b3-377341426ac5",
                "tenant_id": "e4f50856753b4dc6afee5fa6b9b6c550"
            },
            {
                "direction": "egress",
                "ethertype": "IPv4",
                "id": "93aa42e5-80db-4581-9391-3a608bd0e448",
                "port_range_max": null,
                "port_range_min": null,
                "protocol": null,
                "remote_group_id": null,
                "remote_ip_prefix": null,
                "security_group_id": "85cc3048-abc3-43cc-89b3-377341426ac5",
                "tenant_id": "e4f50856753b4dc6afee5fa6b9b6c550"
            },
            {
                "direction": "ingress",
                "ethertype": "IPv6",
                "id": "c0b09f00-1d49-4e64-a0a7-8a186d928138",
                "port_range_max": null,
                "port_range_min": null,
                "protocol": null,
                "remote_group_id": "85cc3048-abc3-43cc-89b3-377341426ac5",
                "remote_ip_prefix": null,
                "security_group_id": "85cc3048-abc3-43cc-89b3-377341426ac5",
                "tenant_id": "e4f50856753b4dc6afee5fa6b9b6c550"
            },
            {
                "direction": "ingress",
                "ethertype": "IPv4",
                "id": "f7d45c89-008e-4bab-88ad-d6811724c51c",
                "port_range_max": null,
                "port_range_min": null,
                "protocol": null,
                "remote_group_id": "85cc3048-abc3-43cc-89b3-377341426ac5",
                "remote_ip_prefix": null,
                "security_group_id": "85cc3048-abc3-43cc-89b3-377341426ac5",
                "tenant_id": "e4f50856753b4dc6afee5fa6b9b6c550"
            }
        ],
        "tenant_id": "e4f50856753b4dc6afee5fa6b9b6c550"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="secgr:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="404">
               <representation mediaType="application/xml" element="secgr:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method name="DELETE" rax:id="deleteSecGroup">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Delete security group">
               <para role="shortdesc">Deletes an OpenStack Networking
                security group.</para>
               <para>This operation deletes an OpenStack Networking
                security group and its associated security group
                rules, provided that a port is not associated with the
                security group.</para>
               <para>This operation does not require a request body. This
                operation does not return a response body.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">DELETE /v2.0/security-groups/e470bdfc-4869-459b-a561-cb3377efae59
Content-Type: application/json
Accept: application/json</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="204">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">status: 204</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="secgr:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="404">
               <representation mediaType="application/xml" element="secgr:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
                        
                        
                        
                    
                <resource id="security_groups_rules" path="/v2.0/security-group-rules">
         <method name="GET" rax:id="listSecGroupRules">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List security group rules">
               <para role="shortdesc">Lists a summary of all OpenStack
                Networking security group rules that the specified
                tenant can access.</para>
               <para>The list provides the unique ID for each security
                group rule.</para>
            </wadl:doc>
            <request>
               <param required="true"
                      name="direction"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">Ingress or
                    egress: The direction in which the security group
                    rule is applied. For a compute instance, an
                    ingress security group rule is applied to incoming
                    (ingress) traffic for that instance. An egress
                    rule is applied to traffic leaving the
                    instance.</wadl:doc>
               </param>
               <param required="true"
                      name="ethertype"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">Must be IPv4 or IPv6,
                    and addresses represented in CIDR must match the ingress or
                    egress rules.</wadl:doc>
               </param>
               <param required="true"
                      name="security_group_id"
                      style="plain"
                      type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The security
                    group ID to associate with this security group
                    rule.</wadl:doc>
               </param>
               <param required="false"
                      name="port_range_min"
                      style="plain"
                      type="xsd:int">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The minimum
                    port number in the range that is matched by the
                    security group rule. If the protocol is TCP or
                    UDP, this value must be less than or equal to the
                    value of the port_range_max attribute. If the
                    protocol is ICMP, this value must be an ICMP
                    type.</wadl:doc>
               </param>
               <param required="false"
                      name="port_range_max"
                      style="plain"
                      type="xsd:int">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The maximum
                    port number in the range that is matched by the
                    security group rule. The port_range_min attribute
                    constrains the port_range_max attribute. If the
                    protocol is ICMP, this value must be an ICMP
                    type.</wadl:doc>
               </param>
               <param required="false"
                      name="protocol"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The protocol
                    that is matched by the security group rule. Valid
                    values are null, tcp, udp, and icmp.</wadl:doc>
               </param>
               <param required="false"
                      name="remote_group_id"
                      style="plain"
                      type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The remote
                    group ID to be associated with this security group
                    rule. You can specify either remote_group_id or
                    remote_ip_prefix in the request body.</wadl:doc>
               </param>
               <param required="false"
                      name="remote_ip_prefix"
                      style="plain"
                      type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The remote
                    IP prefix to be associated with this security
                    group rule. You can specify either remote_group_id
                    or remote_ip_prefix in the request body. This
                    attribute matches the specified IP prefix as the
                    source IP address of the IP packet.</wadl:doc>
               </param>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">GET /v2.0/security-group-rules/
Accept: application/json</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="200"> 
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "security_group_rules": [
        {
            "direction": "egress",
            "ethertype": "IPv6",
            "id": "3c0e45ff-adaf-4124-b083-bf390e5482ff",
            "port_range_max": null,
            "port_range_min": null,
            "protocol": null,
            "remote_group_id": null,
            "remote_ip_prefix": null,
            "security_group_id": "85cc3048-abc3-43cc-89b3-377341426ac5",
            "tenant_id": "e4f50856753b4dc6afee5fa6b9b6c550"
        },
        {
            "direction": "egress",
            "ethertype": "IPv4",
            "id": "93aa42e5-80db-4581-9391-3a608bd0e448",
            "port_range_max": null,
            "port_range_min": null,
            "protocol": null,
            "remote_group_id": null,
            "remote_ip_prefix": null,
            "security_group_id": "85cc3048-abc3-43cc-89b3-377341426ac5",
            "tenant_id": "e4f50856753b4dc6afee5fa6b9b6c550"
        },
        {
            "direction": "ingress",
            "ethertype": "IPv6",
            "id": "c0b09f00-1d49-4e64-a0a7-8a186d928138",
            "port_range_max": null,
            "port_range_min": null,
            "protocol": null,
            "remote_group_id": "85cc3048-abc3-43cc-89b3-377341426ac5",
            "remote_ip_prefix": null,
            "security_group_id": "85cc3048-abc3-43cc-89b3-377341426ac5",
            "tenant_id": "e4f50856753b4dc6afee5fa6b9b6c550"
        },
        {
            "direction": "ingress",
            "ethertype": "IPv4",
            "id": "f7d45c89-008e-4bab-88ad-d6811724c51c",
            "port_range_max": null,
            "port_range_min": null,
            "protocol": null,
            "remote_group_id": "85cc3048-abc3-43cc-89b3-377341426ac5",
            "remote_ip_prefix": null,
            "security_group_id": "85cc3048-abc3-43cc-89b3-377341426ac5",
            "tenant_id": "e4f50856753b4dc6afee5fa6b9b6c550"
        }
    ]
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="secgr:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method name="POST" rax:id="createSecGroupRule">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create security group rule">
               <para role="shortdesc">Creates an OpenStack Networking
                security group rule.</para>
            </wadl:doc>
            <request>
               <param required="true"
                      name="direction"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">Ingress or
                    egress: The direction in which the security group
                    rule is applied. For a compute instance, an
                    ingress security group rule is applied to incoming
                    (ingress) traffic for that instance. An egress
                    rule is applied to traffic leaving the
                    instance.</wadl:doc>
               </param>
               <param required="true"
                      name="ethertype"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">Must be IPv4 or IPv6,
                    and addresses represented in CIDR must match the ingress or
                    egress rules.</wadl:doc>
               </param>
               <param required="true"
                      name="security_group_id"
                      style="plain"
                      type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The security
                    group ID to associate with this security group
                    rule.</wadl:doc>
               </param>
               <param required="false"
                      name="port_range_min"
                      style="plain"
                      type="xsd:int">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The minimum
                    port number in the range that is matched by the
                    security group rule. If the protocol is TCP or
                    UDP, this value must be less than or equal to the
                    value of the port_range_max attribute. If the
                    protocol is ICMP, this value must be an ICMP
                    type.</wadl:doc>
               </param>
               <param required="false"
                      name="port_range_max"
                      style="plain"
                      type="xsd:int">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The maximum
                    port number in the range that is matched by the
                    security group rule. The port_range_min attribute
                    constrains the port_range_max attribute. If the
                    protocol is ICMP, this value must be an ICMP
                    type.</wadl:doc>
               </param>
               <param required="false"
                      name="protocol"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The protocol
                    that is matched by the security group rule. Valid
                    values are null, tcp, udp, and icmp.</wadl:doc>
               </param>
               <param required="false"
                      name="remote_group_id"
                      style="plain"
                      type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The remote
                    group ID to be associated with this security group
                    rule. You can specify either remote_group_id or
                    remote_ip_prefix in the request body.</wadl:doc>
               </param>
               <param required="false"
                      name="remote_ip_prefix"
                      style="plain"
                      type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The remote
                    IP prefix to be associated with this security
                    group rule. You can specify either remote_group_id
                    or remote_ip_prefix in the request body. This
                    attribute matches the specified IP prefix as the
                    source IP address of the IP packet.</wadl:doc>
               </param>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "security_group_rule": {
        "direction": "ingress",
        "port_range_min": "80",
        "ethertype": "IPv4",
        "port_range_max": "80",
        "protocol": "tcp",
        "remote_group_id": "85cc3048-abc3-43cc-89b3-377341426ac5",
        "security_group_id": "a7734e61-b545-452d-a3cd-0189cbd9747a"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="201">
               <param name="security_group" type="xsd:string" required="true">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>Security group
                    object.</para>
                  </wadl:doc>
               </param>
               <param name="description" type="xsd:string" required="true">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The
                        security group description.</para>
                  </wadl:doc>
               </param>
               <param name="id" type="csapi:uuid" required="true">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The
                        UUID for the security group.</para>
                  </wadl:doc>
               </param>
               <param name="name" type="xsd:string" required="true">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The
                        security group name.</para>
                  </wadl:doc>
               </param> 
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "security_group_rule": {
        "direction": "ingress",
        "ethertype": "IPv4",
        "id": "2bc0accf-312e-429a-956e-e4407625eb62",
        "port_range_max": 80,
        "port_range_min": 80,
        "protocol": "tcp",
        "remote_group_id": "85cc3048-abc3-43cc-89b3-377341426ac5",
        "remote_ip_prefix": null,
        "security_group_id": "a7734e61-b545-452d-a3cd-0189cbd9747a",
        "tenant_id": "e4f50856753b4dc6afee5fa6b9b6c550"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
            <response status="400">
               <representation mediaType="application/xml" element="secgr:badRequest"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="secgr:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="404">
               <representation mediaType="application/xml" element="secgr:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="409">
               <representation mediaType="application/xml" element="secgr:buildInProgress"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
                    
                    
                    <resource path="/v2.0/security-group-rules/{rules-security-groups-id}"
                id="rules-security-groups-id">
         <param name="rules-security-groups-id" style="template" type="csapi:uuid">
                            <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">The unique identifier of
                                the security group rule.</wadl:doc>
                        </param>
         <method name="GET" rax:id="getSecGroupRule">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Show security group rule">
               <para role="shortdesc">Shows detailed information for a
                specified security group rule.</para>
               <para>The response body contains the following information
                about the security group rule:</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">GET /v2.0/security-group-rules/ 3c0e45ff-adaf-4124-b083-bf390e5482ff
Accept: application/json</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="200">
                <param required="true"
                      name="direction"
                      style="plain"
                      type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">Ingress or
                        egress: The direction in which the security group
                        rule is applied. For a compute instance, an
                        ingress security group rule is applied to incoming
                        (ingress) traffic for that instance. An egress
                        rule is applied to traffic leaving the
                        instance.</wadl:doc>
                </param>
                <param required="true"
                      name="ethertype"
                      style="plain"
                      type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">Must be IPv4 or IPv6,
                        and addresses represented in CIDR must match the ingress or
                        egress rules.</wadl:doc>
                </param>
                <param required="true"
                      name="security_group_id"
                      style="plain"
                      type="csapi:uuid">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The security
                        group ID to associate with this security group
                        rule.</wadl:doc>
                </param>
                <param required="false"
                      name="port_range_min"
                      style="plain"
                      type="xsd:int">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The minimum
                        port number in the range that is matched by the
                        security group rule. If the protocol is TCP or
                        UDP, this value must be less than or equal to the
                        value of the port_range_max attribute. If the
                        protocol is ICMP, this value must be an ICMP
                        type.</wadl:doc>
                </param>
                <param required="false"
                      name="port_range_max"
                      style="plain"
                      type="xsd:int">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The maximum
                        port number in the range that is matched by the
                        security group rule. The port_range_min attribute
                        constrains the port_range_max attribute. If the
                        protocol is ICMP, this value must be an ICMP
                        type.</wadl:doc>
                </param>
                <param required="false"
                      name="protocol"
                      style="plain"
                      type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The protocol
                        that is matched by the security group rule. Valid
                        values are null, tcp, udp, and icmp.</wadl:doc>
                </param>
                <param required="false"
                      name="remote_group_id"
                      style="plain"
                      type="csapi:uuid">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The remote
                        group ID to be associated with this security group
                        rule. You can specify either remote_group_id or
                        remote_ip_prefix in the request body.</wadl:doc>
                </param>
                <param required="false"
                      name="remote_ip_prefix"
                      style="plain"
                      type="csapi:uuid">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The remote
                        IP prefix to be associated with this security
                        group rule. You can specify either remote_group_id
                        or remote_ip_prefix in the request body. This
                        attribute matches the specified IP prefix as the
                        source IP address of the IP packet.</wadl:doc>
                </param>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "security_group_rule": {
        "direction": "egress",
        "ethertype": "IPv6",
        "id": "3c0e45ff-adaf-4124-b083-bf390e5482ff",
        "port_range_max": null,
        "port_range_min": null,
        "protocol": null,
        "remote_group_id": null,
        "remote_ip_prefix": null,
        "security_group_id": "85cc3048-abc3-43cc-89b3-377341426ac5",
        "tenant_id": "e4f50856753b4dc6afee5fa6b9b6c550"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
             </response>
            <response status="401">
               <representation mediaType="application/xml" element="secgr:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="404">
               <representation mediaType="application/xml" element="secgr:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method name="DELETE" rax:id="deleteSecGroupRule">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Delete security group rule">
               <para role="shortdesc">Deletes a specified rule from a
                OpenStack Networking security group.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">DELETE /v2.0/security-group-rules/fc3c327a-b5b5-4cd3-9577-52893289ce08
Content-Type: application/json
Accept: application/json</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="204">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">status: 204</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="secgr:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="404">
               <representation mediaType="application/xml" element="secgr:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
                        
                        
                        
                    
                
    </resources>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://www.w3.org/2001/XMLSchema"
           xmlns:secgr="http://docs.openstack.org/neutron/api/v2.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listSecGroups">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="200">
            <param name="security_group" type="xsd:string" required="true">
                
            </param>
            <param name="description" type="xsd:string" required="true">
                
            </param>
            <param name="id" type="csapi:uuid" required="true">
                
            </param>
            <param name="name" type="xsd:string" required="true">
                
            </param>
            <representation mediaType="application/json">
                
            </representation>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="secgr:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://www.w3.org/2001/XMLSchema"
           xmlns:secgr="http://docs.openstack.org/neutron/api/v2.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="createSecGroup">
        
        <request>
            <param name="name" type="xsd:string" required="true">
                
            </param>
            <param name="description" type="xsd:string" required="false">
                
            </param>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="201">
            <param name="security_group" type="xsd:string" required="true">
                
            </param>
            <param name="description" type="xsd:string" required="true">
                
            </param>
            <param name="id" type="csapi:uuid" required="true">
                
            </param>
            <param name="name" type="xsd:string" required="true">
                
            </param>
            <representation mediaType="application/json">
                
            </representation>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="secgr:badRequest"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="secgr:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://www.w3.org/2001/XMLSchema"
           xmlns:secgr="http://docs.openstack.org/neutron/api/v2.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="getSecGroup">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="200">
            <param name="security_group" type="xsd:string" required="true">
                
            </param>
            <param name="description" type="xsd:string" required="true">
                
            </param>
            <param name="id" type="csapi:uuid" required="true">
                
            </param>
            <param name="name" type="xsd:string" required="true">
                
            </param>
            <representation mediaType="application/json">
                
            </representation>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="secgr:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="secgr:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://www.w3.org/2001/XMLSchema"
           xmlns:secgr="http://docs.openstack.org/neutron/api/v2.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="deleteSecGroup">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="204">
            <representation mediaType="application/json">
                
            </representation>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="secgr:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="secgr:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://www.w3.org/2001/XMLSchema"
           xmlns:secgr="http://docs.openstack.org/neutron/api/v2.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listSecGroupRules">
        
        <request>
            <param required="true"
                name="direction"
                style="plain"
                type="xsd:string">
                
            </param>
            <param required="true"
                name="ethertype"
                style="plain"
                type="xsd:string">
                
            </param>
            <param required="true"
                name="security_group_id"
                style="plain"
                type="csapi:uuid">
                
            </param>
            <param required="false"
                name="port_range_min"
                style="plain"
                type="xsd:int">
                
            </param>
            <param required="false"
                name="port_range_max"
                style="plain"
                type="xsd:int">
                
            </param>
            <param required="false"
                name="protocol"
                style="plain"
                type="xsd:string">
                
            </param>
            <param required="false"
                name="remote_group_id"
                style="plain"
                type="csapi:uuid">
                
            </param>
            <param required="false"
                name="remote_ip_prefix"
                style="plain"
                type="csapi:uuid">
                
            </param>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="200"> 
         <representation mediaType="application/json">
                
            </representation>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="secgr:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://www.w3.org/2001/XMLSchema"
           xmlns:secgr="http://docs.openstack.org/neutron/api/v2.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="createSecGroupRule">
        
        <request>
            <param required="true"
                name="direction"
                style="plain"
                type="xsd:string">
                
            </param>
            <param required="true"
                name="ethertype"
                style="plain"
                type="xsd:string">
                
            </param>
            <param required="true"
                name="security_group_id"
                style="plain"
                type="csapi:uuid">
                
            </param>
            <param required="false"
                name="port_range_min"
                style="plain"
                type="xsd:int">
                
            </param>
            <param required="false"
                name="port_range_max"
                style="plain"
                type="xsd:int">
                
            </param>
            <param required="false"
                name="protocol"
                style="plain"
                type="xsd:string">
                
            </param>
            <param required="false"
                name="remote_group_id"
                style="plain"
                type="csapi:uuid">
                
            </param>
            <param required="false"
                name="remote_ip_prefix"
                style="plain"
                type="csapi:uuid">
                
            </param>
        <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="201">
            <param name="security_group" type="xsd:string" required="true">
                
            </param>
            <param name="description" type="xsd:string" required="true">
                
            </param>
            <param name="id" type="csapi:uuid" required="true">
                
            </param>
            <param name="name" type="xsd:string" required="true">
                
            </param> 
         <representation mediaType="application/json">
                
            </representation>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="secgr:badRequest"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="secgr:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="secgr:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="409">
            <representation mediaType="application/xml" element="secgr:buildInProgress"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://www.w3.org/2001/XMLSchema"
           xmlns:secgr="http://docs.openstack.org/neutron/api/v2.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="getSecGroupRule">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
        </request>
            <response status="200">
                <param required="true"
                name="direction"
                style="plain"
                type="xsd:string">
                    
                </param>
                <param required="true"
                name="ethertype"
                style="plain"
                type="xsd:string">
                    
                </param>
                <param required="true"
                name="security_group_id"
                style="plain"
                type="csapi:uuid">
                    
                </param>
                <param required="false"
                name="port_range_min"
                style="plain"
                type="xsd:int">
                    
                </param>
                <param required="false"
                name="port_range_max"
                style="plain"
                type="xsd:int">
                    
                </param>
                <param required="false"
                name="protocol"
                style="plain"
                type="xsd:string">
                    
                </param>
                <param required="false"
                name="remote_group_id"
                style="plain"
                type="csapi:uuid">
                    
                </param>
                <param required="false"
                name="remote_ip_prefix"
                style="plain"
                type="csapi:uuid">
                    
                </param>
         <representation mediaType="application/json">
                
            </representation>
             </response>
        <response status="401">
            <representation mediaType="application/xml" element="secgr:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="secgr:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://www.w3.org/2001/XMLSchema"
           xmlns:secgr="http://docs.openstack.org/neutron/api/v2.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="deleteSecGroupRule">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="204">
            <representation mediaType="application/json">
                
            </representation>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="secgr:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="secgr:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
</wadl:application>
