api-ref/rackerlabs-wadl2swagger/openstack/wadls/identity.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2011-2014 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent identity.wadl                   -->
<!--*******************************************************-->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <wadl:grammars xmlns:db="http://docbook.org/ns/docbook"
                  xmlns="http://wadl.dev.java.net/2009/02">
      <wadl:include href="29562-identity-xsd-1.xsd"/>
      <wadl:include href="29562-identity-xsd-2.xsd"/>
   </wadl:grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
              xmlns:capi="http://docs.openstack.org/common/api/v1.0"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="http://localhost:5000"
              xml:id="identity-v2.0">
        <resource id="versions" path="/">
         <method name="GET" rax:id="getVersions-v2">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List versions">
               <para role="shortdesc">Lists information about all Identity API versions.</para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">
{
   "versions":{
      "values":[
         {
            "id":"v3.0",
            "links":[
               {
                  "href":"http://192.168.122.176:5000/v3/",
                  "rel":"self"
               }
            ],
            "media-types":[
               {
                  "base":"application/json",
                  "type":"application/vnd.openstack.identity-v3+json"
               },
               {
                  "base":"application/xml",
                  "type":"application/vnd.openstack.identity-v3+xml"
               }
            ],
            "status":"stable",
            "updated":"2013-03-06T00:00:00Z"
         },
         {
            "id":"v2.0",
            "links":[
               {
                  "href":"http://192.168.122.176:5000/v2.0/",
                  "rel":"self"
               },
               {
                  "href":"http://docs.openstack.org/",
                  "rel":"describedby",
                  "type":"text/html"
               }
            ],
            "media-types":[
               {
                  "base":"application/json",
                  "type":"application/vnd.openstack.identity-v2.0+json"
               },
               {
                  "base":"application/xml",
                  "type":"application/vnd.openstack.identity-v2.0+xml"
               }
            ],
            "status":"stable",
            "updated":"2014-04-17T00:00:00Z"
         }
      ]
   }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;versions xmlns="http://docs.openstack.org/identity/api/v2.0"&gt;
    &lt;version status="stable" updated="2013-03-06T00:00:00Z" id="v3.0"&gt;
        &lt;media-types&gt;
            &lt;media-type base="application/json" type="application/vnd.openstack.identity-v3+json"/&gt;
            &lt;media-type base="application/xml" type="application/vnd.openstack.identity-v3+xml"/&gt;
        &lt;/media-types&gt;
        &lt;links&gt;
            &lt;link href="http://192.168.122.176:5000/v3/" rel="self"/&gt;
        &lt;/links&gt;
    &lt;/version&gt;
    &lt;version status="stable" updated="2014-04-17T00:00:00Z" id="v2.0"&gt;
        &lt;media-types&gt;
            &lt;media-type base="application/json" type="application/vnd.openstack.identity-v2.0+json"/&gt;
            &lt;media-type base="application/xml" type="application/vnd.openstack.identity-v2.0+xml"/&gt;
        &lt;/media-types&gt;
        &lt;links&gt;
            &lt;link href="http://192.168.122.176:5000/v2.0/" rel="self"/&gt;
            &lt;link href="http://docs.openstack.org/" type="text/html" rel="describedby"/&gt;
        &lt;/links&gt;
        &lt;link href="http://192.168.122.176:5000/v2.0/" rel="self"/&gt;
        &lt;link href="http://docs.openstack.org/" type="text/html" rel="describedby"/&gt;
    &lt;/version&gt;
&lt;/versions&gt;
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response> 
            <response>
               <representation mediaType="application/xml" element="identity:identityFault"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="400">
               <representation mediaType="application/xml" element="identity:badRequest"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="identity:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="403">
               <representation mediaType="application/xml" element="identity:forbidden"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="405">
               <representation mediaType="application/xml" element="identity:badMethod"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="413">
               <representation mediaType="application/xml" element="identity:overLimit"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="503">
               <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
            
            <response status="404">
               <representation mediaType="application/xml" element="identity:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
            </method>
      </resource>
            
        
        <resource id="version" path="/v2.0">
         <method name="GET" rax:id="getVersionInfo-v2.0">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Show version details">
               <para role="shortdesc">Shows details for the Identity API v2.0.</para>
            </wadl:doc>
            <response status="200 203">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Get version information: JSON response">
                        <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                           <programlisting language="javascript">{
    "version": {
        "status": "stable",
        "updated": "2013-03-06T00:00:00Z",
        "media-types": [
            {
                "base": "application/json",
                "type": "application/vnd.openstack.identity-v3+json"
            },
            {
                "base": "application/xml",
                "type": "application/vnd.openstack.identity-v3+xml"
            }
        ],
        "id": "v3.0",
        "links": [
            {
                "href": "http://23.253.228.211:35357/v3/",
                "rel": "self"
            }
        ]
    }
}</programlisting>
                        </xsdxt:code>
                    </xsdxt:sample>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml" element="capi:version">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Get version information: XML response">
                        <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                           <programlisting language="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;version xmlns="http://docs.openstack.org/identity/api/v3"
    status="stable" updated="2013-03-06T00:00:00Z" id="v3.0"&gt;
    &lt;media-types&gt;
        &lt;media-type base="application/json"
            type="application/vnd.openstack.identity-v3+json"/&gt;
        &lt;media-type base="application/xml"
            type="application/vnd.openstack.identity-v3+xml"/&gt;
    &lt;/media-types&gt;
    &lt;links&gt;
        &lt;link href="http://23.253.228.211:35357/v3/" rel="self"/&gt;
    &lt;/links&gt;
&lt;/version&gt;
</programlisting>
                        </xsdxt:code>
                    </xsdxt:sample>
                  </wadl:doc>
               </representation>
            </response> 
            <response>
               <representation mediaType="application/xml" element="identity:identityFault"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="400">
               <representation mediaType="application/xml" element="identity:badRequest"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="identity:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="403">
               <representation mediaType="application/xml" element="identity:forbidden"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="405">
               <representation mediaType="application/xml" element="identity:badMethod"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="413">
               <representation mediaType="application/xml" element="identity:overLimit"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="503">
               <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
            
            <response status="404">
               <representation mediaType="application/xml" element="identity:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
            </method>
      </resource>
      <resource id="extensions" path="/v2.0/extensions">
         <wadl:doc xmlns="http://docbook.org/ns/docbook"
                   xml:lang="EN"
                   title="List extensions">
            <para role="shortdesc">Lists supported extensions.</para>
        </wadl:doc>
         <method name="GET" rax:id="listExtensions-v2.0">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List extensions">
               <para role="shortdesc">Lists available extensions.</para>
            </wadl:doc>
            <response status="200 203">
               <representation mediaType="application/json" element="capi:extensions">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="List extensions: JSON response">
                        <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                           <programlisting language="javascript">{
    "extensions": {
        "values": [
            {
                "updated": "2013-07-07T12:00:0-00:00",
                "name": "OpenStack S3 API",
                "links": [
                    {
                        "href": "https://github.com/openstack/identity-api",
                        "type": "text/html",
                        "rel": "describedby"
                    }
                ],
                "namespace": "http://docs.openstack.org/identity/api/ext/s3tokens/v1.0",
                "alias": "s3tokens",
                "description": "OpenStack S3 API."
            },
            {
                "updated": "2013-07-23T12:00:0-00:00",
                "name": "OpenStack Keystone Endpoint Filter API",
                "links": [
                    {
                        "href": "https://github.com/openstack/identity-api/blob/master/openstack-identity-api/v3/src/markdown/identity-api-v3-os-ep-filter-ext.md",
                        "type": "text/html",
                        "rel": "describedby"
                    }
                ],
                "namespace": "http://docs.openstack.org/identity/api/ext/OS-EP-FILTER/v1.0",
                "alias": "OS-EP-FILTER",
                "description": "OpenStack Keystone Endpoint Filter API."
            },
            {
                "updated": "2013-12-17T12:00:0-00:00",
                "name": "OpenStack Federation APIs",
                "links": [
                    {
                        "href": "https://github.com/openstack/identity-api",
                        "type": "text/html",
                        "rel": "describedby"
                    }
                ],
                "namespace": "http://docs.openstack.org/identity/api/ext/OS-FEDERATION/v1.0",
                "alias": "OS-FEDERATION",
                "description": "OpenStack Identity Providers Mechanism."
            },
            {
                "updated": "2013-07-11T17:14:00-00:00",
                "name": "OpenStack Keystone Admin",
                "links": [
                    {
                        "href": "https://github.com/openstack/identity-api",
                        "type": "text/html",
                        "rel": "describedby"
                    }
                ],
                "namespace": "http://docs.openstack.org/identity/api/ext/OS-KSADM/v1.0",
                "alias": "OS-KSADM",
                "description": "OpenStack extensions to Keystone v2.0 API enabling Administrative Operations."
            },
            {
                "updated": "2014-01-20T12:00:0-00:00",
                "name": "OpenStack Simple Certificate API",
                "links": [
                    {
                        "href": "https://github.com/openstack/identity-api",
                        "type": "text/html",
                        "rel": "describedby"
                    }
                ],
                "namespace": "http://docs.openstack.org/identity/api/ext/OS-SIMPLE-CERT/v1.0",
                "alias": "OS-SIMPLE-CERT",
                "description": "OpenStack simple certificate retrieval extension"
            },
            {
                "updated": "2013-07-07T12:00:0-00:00",
                "name": "OpenStack EC2 API",
                "links": [
                    {
                        "href": "https://github.com/openstack/identity-api",
                        "type": "text/html",
                        "rel": "describedby"
                    }
                ],
                "namespace": "http://docs.openstack.org/identity/api/ext/OS-EC2/v1.0",
                "alias": "OS-EC2",
                "description": "OpenStack EC2 Credentials backend."
            }
        ]
    }
}</programlisting>
                        </xsdxt:code>
                    </xsdxt:sample>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml" element="capi:extensions">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="List extensions: XML response">
                        <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                           <programlisting language="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;extensions xmlns="http://docs.openstack.org/common/api/v1.0"
            xmlns:atom="http://www.w3.org/2005/Atom"/&gt;
</programlisting>
                        </xsdxt:code>
                    </xsdxt:sample>
                  </wadl:doc>
                  <param name="next"
                         style="plain"
                         type="xsd:anyURI"
                         path="/capi:extensions/atom:link[@rel='next']/@href">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Moves to the next item in the list.</para>
                    </wadl:doc>
                    <link resource_type="#ExtensionList" rel="next"/>
                  </param>
                  <param name="previous"
                         style="plain"
                         type="xsd:anyURI"
                         path="/capi:extensions/atom:link[@rel='previous']/@href">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Moves to the previous item in the list.</para>
                    </wadl:doc>
                    <link resource_type="#ExtensionList" rel="previous"/>
                  </param>
               </representation>
            </response> 
            <response>
               <representation mediaType="application/xml" element="identity:identityFault"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="400">
               <representation mediaType="application/xml" element="identity:badRequest"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="identity:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="403">
               <representation mediaType="application/xml" element="identity:forbidden"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="405">
               <representation mediaType="application/xml" element="identity:badMethod"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="413">
               <representation mediaType="application/xml" element="identity:overLimit"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="503">
               <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
            
            <response status="404">
               <representation mediaType="application/xml" element="identity:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
            </method>
      </resource>
      <resource id="extension" path="/v2.0/extensions/{alias}">
         <param name="alias" style="template" type="xsd:string">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                            <para>The extension name.</para>
                        </wadl:doc>
                    </param>
         <method name="GET" rax:id="getExtension-v2.0">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Get extension details">
               <para role="shortdesc">Gets detailed information for a specified extension.</para>
               <para>Specify the extension alias in the URI.</para>
            </wadl:doc>
            <response status="200 203">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Get extension details: JSON response">
                        <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                           <programlisting language="javascript">{
    "extension": {
        "updated": "2013-07-07T12:00:0-00:00",
        "name": "OpenStack S3 API",
        "links": [
            {
                "href": "https://github.com/openstack/identity-api",
                "type": "text/html",
                "rel": "describedby"
            }
        ],
        "namespace": "http://docs.openstack.org/identity/api/ext/s3tokens/v1.0",
        "alias": "s3tokens",
        "description": "OpenStack S3 API."
    }
}</programlisting>
                        </xsdxt:code>
                    </xsdxt:sample>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml" element="capi:extension">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Get extension details: XML response">
                        <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                           <programlisting language="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;extension xmlns="http://docs.openstack.org/common/api/v1.0"
    xmlns:atom="http://www.w3.org/2005/Atom"
    name="User Metadata Extension"
    namespace="http://docs.rackspacecloud.com/identity/api/ext/meta/v2.0"
    alias="RS-META" updated="2011-01-12T11:22:33-06:00"&gt;
    &lt;description&gt;Allows associating arbitrary metadata with a
        user.&lt;/description&gt;
    &lt;atom:link rel="describedby" type="application/pdf"
        href="http://docs.rackspacecloud.com/identity/api/ext/identity-meta-20111201.pdf"/&gt;
    &lt;atom:link rel="describedby" type="application/vnd.sun.wadl+xml"
        href="http://docs.rackspacecloud.com/identity/api/ext/identity-meta.wadl"
    /&gt;
&lt;/extension&gt;
</programlisting>
                        </xsdxt:code>
                    </xsdxt:sample>
                  </wadl:doc>
               </representation>
            </response> 
            <response>
               <representation mediaType="application/xml" element="identity:identityFault"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="400">
               <representation mediaType="application/xml" element="identity:badRequest"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="identity:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="403">
               <representation mediaType="application/xml" element="identity:forbidden"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="405">
               <representation mediaType="application/xml" element="identity:badMethod"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="413">
               <representation mediaType="application/xml" element="identity:overLimit"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="503">
               <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
            
            <response status="404">
               <representation mediaType="application/xml" element="identity:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
            </method>
      </resource>
                    
                    
                <resource id="tokens" path="/v2.0/tokens">
         <method name="POST" rax:id="authenticate-v2.0">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Authenticate">
               <para role="shortdesc">Authenticates and generates a token.</para>
               <para>The Identity API is a ReSTful web service. It is the entry point to all service
                APIs. To access the Identity API, you must know its URL.</para>
               <para>Each ReST request against Identity requires the X-Auth-Token header. Clients
                obtain this token, along with the URL to other service APIs, by first authenticating
                against Identity with valid credentials.</para>
               <para>To authenticate, you must provide either a user ID and password or a token.</para>
               <para>If the authentication token has expired, a <errorcode>401</errorcode> response
                code is returned.</para>
               <para>If the token specified in the request has expired, this call returns a
                    <errorcode>404</errorcode> response code.</para>
               <para>Identity treats expired tokens as invalid tokens.</para>
               <para>The deployment determines how long expired tokens are stored.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json" element="identity:auth">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Authenticate with user name and password credentials: JSON request">
                        <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                           <programlisting language="javascript">{
    "auth": {
        "tenantName": "demo",
        "passwordCredentials": {
            "username": "demo",
            "password": "secretsecret"
        }
    }
}
</programlisting>
                        </xsdxt:code>
                    </xsdxt:sample>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml" element="identity:auth">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Authenticate with user name and password credentials: XML request">
                        <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                           <programlisting language="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;auth xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://docs.openstack.org/identity/api/v2.0"
  tenantName="demo"&gt;
  &lt;passwordCredentials username="demo" password="secretsecret"/&gt;
&lt;/auth&gt;
</programlisting>
                        </xsdxt:code>
                    </xsdxt:sample>
                  </wadl:doc>
                  <param name="tenantName"
                         style="plain"
                         required="false"
                         type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>The tenant name. Both the
                                <code>tenantId</code> and <code>tenantName</code> attributes are
                            optional, but should not be specified together. If both attributes are
                            specified, the server responds with a <code>400</code>
                            <code>Bad Request</code>.</para>
                     </wadl:doc>
                  </param>
                  <param name="tenantId" style="plain" required="false" type="capi:UUID">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>The tenant ID. Both the
                                <code>tenantId</code> and <code>tenantName</code> attributes are
                            optional, but should not be specified together. If both attributes are
                            specified, the server responds with a <code>400</code>
                            <code>Bad Request</code>.</para>
                     </wadl:doc>
                  </param>
                  <param name="passwordCredentials"
                         style="plain"
                         required="false"
                         type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>A
                                <code>passwordCredentials</code> object. To authenticate, you must
                            provide either a user ID and password or a token.</para>
                     </wadl:doc>
                  </param>
                  <param name="username"
                         style="plain"
                         required="false"
                         type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>The user name. Required if
                            you include the <code>passwordCredentials</code> object. If you do not
                            provide a password credentials, you must provide a
                        token.</para>
                     </wadl:doc>
                  </param>
                  <param name="password"
                         style="plain"
                         required="false"
                         type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>The password of the user.
                            Required if you include the <code>passwordCredentials</code> object. If
                            you do not provide a password credentials, you must provide a
                            token.</para>
                     </wadl:doc>
                  </param>
                  <param name="token" style="plain" required="false" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>A <code>token</code>
                            object. Required if you do not provide password
                        credentials.</para>
                     </wadl:doc>
                  </param>
                  <param name="id" style="plain" required="false" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>The token ID. This is a
                            required field in the <code>token</code> object.</para>
                     </wadl:doc>
                  </param>
               </representation>
               <representation mediaType="application/json" element="identity:auth">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Authenticate with token: JSON request">
                        <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                           <programlisting language="javascript">{
    "auth": {
        "tenantName": "demo",
        "token": {
            "id": "cbc36478b0bd8e67e89469c7749d4127"
        }
    }
}</programlisting>
                        </xsdxt:code>
                    </xsdxt:sample>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml" element="identity:auth">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Authenticate with token: XML request">
                        <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                           <programlisting language="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;auth xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://docs.openstack.org/identity/api/v2.0"
  tenantName="demo"&gt;
  &lt;token id="cbc36478b0bd8e67e89469c7749d4127"/&gt;
&lt;/auth&gt;
</programlisting>
                        </xsdxt:code>
                    </xsdxt:sample>
                  </wadl:doc>
               </representation>
            </request>
            <response status="200 203"> 
               <representation mediaType="application/json" element="identity:access">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Authenticate with user name and password credentials: JSON response">
                        <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                           <programlisting language="javascript">{
    "access": {
        "token": {
            "issued_at": "2014-01-30T15:30:58.819584",
            "expires": "2014-01-31T15:30:58Z",
            "id": "aaaaa-bbbbb-ccccc-dddd",
            "tenant": {
                "description": null,
                "enabled": true,
                "id": "fc394f2ab2df4114bde39905f800dc57",
                "name": "demo"
            }
        },
        "serviceCatalog": [
            {
                "endpoints": [
                    {
                        "adminURL": "http://23.253.72.207:8774/v2/fc394f2ab2df4114bde39905f800dc57",
                        "region": "RegionOne",
                        "internalURL": "http://23.253.72.207:8774/v2/fc394f2ab2df4114bde39905f800dc57",
                        "id": "2dad48f09e2a447a9bf852bcd93548ef",
                        "publicURL": "http://23.253.72.207:8774/v2/fc394f2ab2df4114bde39905f800dc57"
                    }
                ],
                "endpoints_links": [],
                "type": "compute",
                "name": "nova"
            },
            {
                "endpoints": [
                    {
                        "adminURL": "http://23.253.72.207:9696/",
                        "region": "RegionOne",
                        "internalURL": "http://23.253.72.207:9696/",
                        "id": "97c526db8d7a4c88bbb8d68db1bdcdb8",
                        "publicURL": "http://23.253.72.207:9696/"
                    }
                ],
                "endpoints_links": [],
                "type": "network",
                "name": "neutron"
            },
            {
                "endpoints": [
                    {
                        "adminURL": "http://23.253.72.207:8776/v2/fc394f2ab2df4114bde39905f800dc57",
                        "region": "RegionOne",
                        "internalURL": "http://23.253.72.207:8776/v2/fc394f2ab2df4114bde39905f800dc57",
                        "id": "93f86dfcbba143a39a33d0c2cd424870",
                        "publicURL": "http://23.253.72.207:8776/v2/fc394f2ab2df4114bde39905f800dc57"
                    }
                ],
                "endpoints_links": [],
                "type": "volumev2",
                "name": "cinder"
            },
            {
                "endpoints": [
                    {
                        "adminURL": "http://23.253.72.207:8774/v3",
                        "region": "RegionOne",
                        "internalURL": "http://23.253.72.207:8774/v3",
                        "id": "3eb274b12b1d47b2abc536038d87339e",
                        "publicURL": "http://23.253.72.207:8774/v3"
                    }
                ],
                "endpoints_links": [],
                "type": "computev3",
                "name": "nova"
            },
            {
                "endpoints": [
                    {
                        "adminURL": "http://23.253.72.207:3333",
                        "region": "RegionOne",
                        "internalURL": "http://23.253.72.207:3333",
                        "id": "957f1e54afc64d33a62099faa5e980a2",
                        "publicURL": "http://23.253.72.207:3333"
                    }
                ],
                "endpoints_links": [],
                "type": "s3",
                "name": "s3"
            },
            {
                "endpoints": [
                    {
                        "adminURL": "http://23.253.72.207:9292",
                        "region": "RegionOne",
                        "internalURL": "http://23.253.72.207:9292",
                        "id": "27d5749f36864c7d96bebf84a5ec9767",
                        "publicURL": "http://23.253.72.207:9292"
                    }
                ],
                "endpoints_links": [],
                "type": "image",
                "name": "glance"
            },
            {
                "endpoints": [
                    {
                        "adminURL": "http://23.253.72.207:8776/v1/fc394f2ab2df4114bde39905f800dc57",
                        "region": "RegionOne",
                        "internalURL": "http://23.253.72.207:8776/v1/fc394f2ab2df4114bde39905f800dc57",
                        "id": "37c83a2157f944f1972e74658aa0b139",
                        "publicURL": "http://23.253.72.207:8776/v1/fc394f2ab2df4114bde39905f800dc57"
                    }
                ],
                "endpoints_links": [],
                "type": "volume",
                "name": "cinder"
            },
            {
                "endpoints": [
                    {
                        "adminURL": "http://23.253.72.207:8773/services/Admin",
                        "region": "RegionOne",
                        "internalURL": "http://23.253.72.207:8773/services/Cloud",
                        "id": "289b59289d6048e2912b327e5d3240ca",
                        "publicURL": "http://23.253.72.207:8773/services/Cloud"
                    }
                ],
                "endpoints_links": [],
                "type": "ec2",
                "name": "ec2"
            },
            {
                "endpoints": [
                    {
                        "adminURL": "http://23.253.72.207:8080",
                        "region": "RegionOne",
                        "internalURL": "http://23.253.72.207:8080/v1/AUTH_fc394f2ab2df4114bde39905f800dc57",
                        "id": "16b76b5e5b7d48039a6e4cc3129545f3",
                        "publicURL": "http://23.253.72.207:8080/v1/AUTH_fc394f2ab2df4114bde39905f800dc57"
                    }
                ],
                "endpoints_links": [],
                "type": "object-store",
                "name": "swift"
            },
            {
                "endpoints": [
                    {
                        "adminURL": "http://23.253.72.207:35357/v2.0",
                        "region": "RegionOne",
                        "internalURL": "http://23.253.72.207:5000/v2.0",
                        "id": "26af053673df4ef3a2340c4239e21ea2",
                        "publicURL": "http://23.253.72.207:5000/v2.0"
                    }
                ],
                "endpoints_links": [],
                "type": "identity",
                "name": "keystone"
            }
        ],
        "user": {
            "username": "demo",
            "roles_links": [],
            "id": "9a6590b2ab024747bc2167c4e064d00d",
            "roles": [
                {
                    "name": "Member"
                },
                {
                    "name": "anotherrole"
                }
            ],
            "name": "demo"
        },
        "metadata": {
            "is_admin": 0,
            "roles": [
                "7598ac3c634d4c3da4b9126a5f67ca2b",
                "f95c0ab82d6045d9805033ee1fbc80d4"
            ]
        }
    }
}</programlisting>
                        </xsdxt:code>
                    </xsdxt:sample>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml" element="identity:access">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Authenticate with user name and password credentials: XML response">
                        <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                           <programlisting language="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;access xmlns="http://docs.openstack.org/identity/api/v2.0"&gt;
        &lt;token issued_at="2014-01-30T15:49:11.054709"
                expires="2014-01-31T15:49:11Z"
                id="aaaaa-bbbbb-ccccc-dddd"&gt;
                &lt;tenant enabled="true" name="demo"
                        id="fc394f2ab2df4114bde39905f800dc57"/&gt;
        &lt;/token&gt;
        &lt;serviceCatalog&gt;
                &lt;service type="compute" name="nova"&gt;
                        &lt;endpoints_links/&gt;
                        &lt;endpoint
                                adminURL="http://23.253.72.207:8774/v2/fc394f2ab2df4114bde39905f800dc57"
                                region="RegionOne"
                                publicURL="http://23.253.72.207:8774/v2/fc394f2ab2df4114bde39905f800dc57"
                                internalURL="http://23.253.72.207:8774/v2/fc394f2ab2df4114bde39905f800dc57"
                                id="2dad48f09e2a447a9bf852bcd93548ef"
                        /&gt;
                &lt;/service&gt;
                &lt;service type="network" name="neutron"&gt;
                        &lt;endpoints_links/&gt;
                        &lt;endpoint
                                adminURL="http://23.253.72.207:9696/"
                                region="RegionOne"
                                publicURL="http://23.253.72.207:9696/"
                                internalURL="http://23.253.72.207:9696/"
                                id="97c526db8d7a4c88bbb8d68db1bdcdb8"
                        /&gt;
                &lt;/service&gt;
                &lt;service type="volumev2" name="cinder"&gt;
                        &lt;endpoints_links/&gt;
                        &lt;endpoint
                                adminURL="http://23.253.72.207:8776/v2/fc394f2ab2df4114bde39905f800dc57"
                                region="RegionOne"
                                publicURL="http://23.253.72.207:8776/v2/fc394f2ab2df4114bde39905f800dc57"
                                internalURL="http://23.253.72.207:8776/v2/fc394f2ab2df4114bde39905f800dc57"
                                id="93f86dfcbba143a39a33d0c2cd424870"
                        /&gt;
                &lt;/service&gt;
                &lt;service type="computev3" name="nova"&gt;
                        &lt;endpoints_links/&gt;
                        &lt;endpoint
                                adminURL="http://23.253.72.207:8774/v3"
                                region="RegionOne"
                                publicURL="http://23.253.72.207:8774/v3"
                                internalURL="http://23.253.72.207:8774/v3"
                                id="3eb274b12b1d47b2abc536038d87339e"
                        /&gt;
                &lt;/service&gt;
                &lt;service type="s3" name="s3"&gt;
                        &lt;endpoints_links/&gt;
                        &lt;endpoint adminURL="http://23.253.72.207:3333"
                                region="RegionOne"
                                publicURL="http://23.253.72.207:3333"
                                internalURL="http://23.253.72.207:3333"
                                id="957f1e54afc64d33a62099faa5e980a2"
                        /&gt;
                &lt;/service&gt;
                &lt;service type="image" name="glance"&gt;
                        &lt;endpoints_links/&gt;
                        &lt;endpoint adminURL="http://23.253.72.207:9292"
                                region="RegionOne"
                                publicURL="http://23.253.72.207:9292"
                                internalURL="http://23.253.72.207:9292"
                                id="27d5749f36864c7d96bebf84a5ec9767"
                        /&gt;
                &lt;/service&gt;
                &lt;service type="volume" name="cinder"&gt;
                        &lt;endpoints_links/&gt;
                        &lt;endpoint
                                adminURL="http://23.253.72.207:8776/v1/fc394f2ab2df4114bde39905f800dc57"
                                region="RegionOne"
                                publicURL="http://23.253.72.207:8776/v1/fc394f2ab2df4114bde39905f800dc57"
                                internalURL="http://23.253.72.207:8776/v1/fc394f2ab2df4114bde39905f800dc57"
                                id="37c83a2157f944f1972e74658aa0b139"
                        /&gt;
                &lt;/service&gt;
                &lt;service type="ec2" name="ec2"&gt;
                        &lt;endpoints_links/&gt;
                        &lt;endpoint
                                adminURL="http://23.253.72.207:8773/services/Admin"
                                region="RegionOne"
                                publicURL="http://23.253.72.207:8773/services/Cloud"
                                internalURL="http://23.253.72.207:8773/services/Cloud"
                                id="289b59289d6048e2912b327e5d3240ca"
                        /&gt;
                &lt;/service&gt;
                &lt;service type="object-store" name="swift"&gt;
                        &lt;endpoints_links/&gt;
                        &lt;endpoint adminURL="http://23.253.72.207:8080"
                                region="RegionOne"
                                publicURL="http://23.253.72.207:8080/v1/AUTH_fc394f2ab2df4114bde39905f800dc57"
                                internalURL="http://23.253.72.207:8080/v1/AUTH_fc394f2ab2df4114bde39905f800dc57"
                                id="16b76b5e5b7d48039a6e4cc3129545f3"
                        /&gt;
                &lt;/service&gt;
                &lt;service type="identity" name="keystone"&gt;
                        &lt;endpoints_links/&gt;
                        &lt;endpoint
                                adminURL="http://23.253.72.207:35357/v2.0"
                                region="RegionOne"
                                publicURL="http://23.253.72.207:5000/v2.0"
                                internalURL="http://23.253.72.207:5000/v2.0"
                                id="26af053673df4ef3a2340c4239e21ea2"
                        /&gt;
                &lt;/service&gt;
        &lt;/serviceCatalog&gt;
        &lt;user username="demo" id="9a6590b2ab024747bc2167c4e064d00d"
                name="demo"&gt;
                &lt;roles_links/&gt;
                &lt;role name="Member"/&gt;
                &lt;role name="anotherrole"/&gt;
        &lt;/user&gt;
        &lt;metadata is_admin="0"&gt;
                &lt;roles&gt;
                        &lt;role&gt;7598ac3c634d4c3da4b9126a5f67ca2b&lt;/role&gt;
                        &lt;role&gt;f95c0ab82d6045d9805033ee1fbc80d4&lt;/role&gt;
                &lt;/roles&gt;
        &lt;/metadata&gt;
&lt;/access&gt;
</programlisting>
                        </xsdxt:code>
                    </xsdxt:sample>
                  </wadl:doc>
                  <param name="access" style="plain" required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>An <code>access</code>
                            object.</para>
                     </wadl:doc>
                  </param>
                  <param name="token" style="plain" required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>A <code>token</code>
                            object.</para>
                     </wadl:doc>
                  </param>
                  <param name="issued_at"
                         style="plain"
                         required="true"
                         type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>A timestamp that indicates
                            when the token was issued.</para>
                     </wadl:doc>
                  </param>
                  <param name="expires" style="plain" required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>A timestamp that indicates
                            when the token expires.</para>
                     </wadl:doc>
                  </param>
                  <param name="id" style="plain" required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>The authentication token.
                            In the example, the token is <code>my_id</code>.</para>
                     </wadl:doc>
                  </param>
                  <param name="tenant" style="plain" required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>A <code>tenant</code>
                            object.</para>
                     </wadl:doc>
                  </param>
                  <param name="description"
                         style="plain"
                         required="true"
                         type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>The description of the
                            tenant. If not set, this value is <code>null</code>.</para>
                     </wadl:doc>
                  </param>
                  <param name="enabled" style="plain" required="true" type="xsd:boolean">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>Indicates whether the
                            tenant is enabled or disabled.</para>
                     </wadl:doc>
                  </param>
                  <param name="id" style="plain" required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>The tenant
                        ID.</para>
                     </wadl:doc>
                  </param>
                  <param name="name" style="plain" required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>The tenant
                        name.</para>
                     </wadl:doc>
                  </param>
                  <param name="serviceCatalog"
                         style="plain"
                         required="true"
                         type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>A
                                <code>serviceCatalog</code> object.</para>
                     </wadl:doc>
                  </param>
                  <param name="endpoints"
                         style="plain"
                         required="true"
                         type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>One or more
                                <code>endpoints</code> objects. Each object shows the
                                <code>adminURL</code>, <code>region</code>,
                            <code>internalURL</code>, <code>id</code>, and <code>publicURL</code>
                            for the endpoint.</para>
                     </wadl:doc>
                  </param>
                  <param name="endpoints_links"
                         style="plain"
                         required="true"
                         type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>Links for the
                            endpoint.</para>
                     </wadl:doc>
                  </param>
                  <param name="type" style="plain" required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>Endpoint
                        type.</para>
                     </wadl:doc>
                  </param>
                  <param name="name" style="plain" required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>Endpoint
                        name.</para>
                     </wadl:doc>
                  </param>
                  <param name="user" style="plain" required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>A <code>user</code>
                            object, which shows the <code>username</code>, <code>roles_links</code>,
                                <code>id</code>, <code>roles</code>, and
                        <code>name</code>.</para>
                     </wadl:doc>
                  </param>
                  <param name="metadata" style="plain" required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>A <code>metadata</code>
                            object.</para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
            <response status="403">
               <representation mediaType="application/json" element="identity:userDisabled"/>
            </response> 
            <response>
               <representation mediaType="application/xml" element="identity:identityFault"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="400">
               <representation mediaType="application/xml" element="identity:badRequest"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="identity:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="403">
               <representation mediaType="application/xml" element="identity:forbidden"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="405">
               <representation mediaType="application/xml" element="identity:badMethod"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="413">
               <representation mediaType="application/xml" element="identity:overLimit"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="503">
               <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
            
            <response status="404">
               <representation mediaType="application/xml" element="identity:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
            </method>
      </resource>
                
            <resource id="tenants" path="/v2.0/tenants">
         <param name="X-Auth-Token"
                style="header"
                type="xsd:string"
                required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>A valid authentication token.</para>
                    </wadl:doc>
                </param>
         <param name="marker" style="query" required="false" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>The ID of the last item in the previous list.</para>
                    </wadl:doc>
                </param>
         <param name="limit" style="query" required="false" type="xsd:int">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>The page size.</para>
                    </wadl:doc>
                </param>
         <method name="GET" rax:id="listTenants">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      title="List tenants"
                      xml:lang="EN">
               <para role="shortdesc">Lists tenants to which the specified token has access.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json" element="identity:tenants">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="List tenants: HTTP/JSON request">
                        <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                           <programlisting language="javascript">GET /v2.0/tenants HTTP/1.1
Host: identity.api.openstack.org
Content-Type: application/json
X-Auth-Token: fa8426a0-8eaf-4d22-8e13-7c1b16a9370c
Accept: application/json
</programlisting>
                        </xsdxt:code>
                    </xsdxt:sample>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml" element="identity:tenants">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="List tenants: HTTP/XML request">
                        <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                           <programlisting language="xml">GET /v2.0/tenants HTTP/1.1
Host: identity.api.openstack.org
Content-Type: application/xml
X-Auth-Token: fa8426a0-8eaf-4d22-8e13-7c1b16a9370c
Accept: application/xml
</programlisting>
                        </xsdxt:code>
                    </xsdxt:sample>
                  </wadl:doc>
               </representation>
            </request>
            <response status="200 203">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="List tenants: JSON response">
                        <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                           <programlisting language="javascript">{
    "tenants": [
        {
            "id": "1234",
            "name": "ACME Corp",
            "description": "A description ...",
            "enabled": true
        },
        {
            "id": "3456",
            "name": "Iron Works",
            "description": "A description ...",
            "enabled": true
        }
    ],
    "tenants_links": []
}</programlisting>
                        </xsdxt:code>
                    </xsdxt:sample>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml" element="identity:tenants">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="List tenants: XML response">
                        <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                           <programlisting language="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;tenants xmlns="http://docs.openstack.org/identity/api/v2.0"&gt;
    &lt;tenant enabled="true" id="1234" name="ACME Corp"&gt;
        &lt;description&gt;A description...&lt;/description&gt;
    &lt;/tenant&gt;
    &lt;tenant enabled="true" id="3645" name="Iron Works"&gt;
        &lt;description&gt;A description...&lt;/description&gt;
    &lt;/tenant&gt;
&lt;/tenants&gt;
</programlisting>
                        </xsdxt:code>
                    </xsdxt:sample>
                  </wadl:doc>
               </representation>
            </response> 
            <response>
               <representation mediaType="application/xml" element="identity:identityFault"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="400">
               <representation mediaType="application/xml" element="identity:badRequest"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="identity:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="403">
               <representation mediaType="application/xml" element="identity:forbidden"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="405">
               <representation mediaType="application/xml" element="identity:badMethod"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="413">
               <representation mediaType="application/xml" element="identity:overLimit"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="503">
               <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
            
            <response status="404">
               <representation mediaType="application/xml" element="identity:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
            </method>
      </resource>
                
                
                
                
            
    </resources>
    <!--***************************************************-->
    <!--               Resource Types                          -->
    <!--*******************************************************-->
    
    
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <!-- Version -->
    <method xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
           xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="getVersions-v2">
        
        <response status="200">
            <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml">
                
            </representation>
        </response> 
        <response>
            <representation mediaType="application/xml" element="identity:identityFault"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="405">
            <representation mediaType="application/xml" element="identity:badMethod"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="413">
            <representation mediaType="application/xml" element="identity:overLimit"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
            <representation mediaType="application/json"/>
        </response>
            
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
            </method>
    <method xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
           xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="getVersionInfo-v2.0">
        
        <response status="200 203">
            <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml" element="capi:version">
                
            </representation>
        </response> 
        <response>
            <representation mediaType="application/xml" element="identity:identityFault"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="405">
            <representation mediaType="application/xml" element="identity:badMethod"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="413">
            <representation mediaType="application/xml" element="identity:overLimit"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
            <representation mediaType="application/json"/>
        </response>
            
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
            </method>
    <!-- Extensions -->
    <method xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
           xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listExtensions-v2.0">
        
        <response status="200 203">
            <representation mediaType="application/json" element="capi:extensions">
                
            </representation>
            <representation mediaType="application/xml" element="capi:extensions">
                
                <param name="next"
                   style="plain"
                   type="xsd:anyURI"
                   path="/capi:extensions/atom:link[@rel='next']/@href">
                    
                    
                </param>
                <param name="previous"
                   style="plain"
                   type="xsd:anyURI"
                   path="/capi:extensions/atom:link[@rel='previous']/@href">
                    
                    
                </param>
            </representation>
        </response> 
        <response>
            <representation mediaType="application/xml" element="identity:identityFault"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="405">
            <representation mediaType="application/xml" element="identity:badMethod"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="413">
            <representation mediaType="application/xml" element="identity:overLimit"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
            <representation mediaType="application/json"/>
        </response>
            
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
            </method>
    <method xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
           xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="getExtension-v2.0">
        
        <response status="200 203">
            <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml" element="capi:extension">
                
            </representation>
        </response> 
        <response>
            <representation mediaType="application/xml" element="identity:identityFault"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="405">
            <representation mediaType="application/xml" element="identity:badMethod"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="413">
            <representation mediaType="application/xml" element="identity:overLimit"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
            <representation mediaType="application/json"/>
        </response>
            
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
            </method>
    <!-- Token Operations -->
    <method xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
           xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="authenticate-v2.0">
        
        <request>
            <representation mediaType="application/json" element="identity:auth">
                
            </representation>
            <representation mediaType="application/xml" element="identity:auth">
                
                <param name="tenantName"
                   style="plain"
                   required="false"
                   type="xsd:string">
                    
                </param>
                <param name="tenantId" style="plain" required="false" type="capi:UUID">
                    
                </param>
                <param name="passwordCredentials"
                   style="plain"
                   required="false"
                   type="xsd:string">
                    
                </param>
                <param name="username"
                   style="plain"
                   required="false"
                   type="xsd:string">
                    
                </param>
                <param name="password"
                   style="plain"
                   required="false"
                   type="xsd:string">
                    
                </param>
                <param name="token" style="plain" required="false" type="xsd:string">
                    
                </param>
                <param name="id" style="plain" required="false" type="xsd:string">
                    
                </param>
            </representation>
            <representation mediaType="application/json" element="identity:auth">
                
            </representation>
            <representation mediaType="application/xml" element="identity:auth">
                
            </representation>
        </request>
        <response status="200 203"> 
         <representation mediaType="application/json" element="identity:access">
                
            </representation>
            <representation mediaType="application/xml" element="identity:access">
                
                <param name="access" style="plain" required="true" type="xsd:string">
                    
                </param>
                <param name="token" style="plain" required="true" type="xsd:string">
                    
                </param>
                <param name="issued_at"
                   style="plain"
                   required="true"
                   type="xsd:string">
                    
                </param>
                <param name="expires" style="plain" required="true" type="xsd:string">
                    
                </param>
                <param name="id" style="plain" required="true" type="xsd:string">
                    
                </param>
                <param name="tenant" style="plain" required="true" type="xsd:string">
                    
                </param>
                <param name="description"
                   style="plain"
                   required="true"
                   type="xsd:string">
                    
                </param>
                <param name="enabled" style="plain" required="true" type="xsd:boolean">
                    
                </param>
                <param name="id" style="plain" required="true" type="xsd:string">
                    
                </param>
                <param name="name" style="plain" required="true" type="xsd:string">
                    
                </param>
                <param name="serviceCatalog"
                   style="plain"
                   required="true"
                   type="xsd:string">
                    
                </param>
                <param name="endpoints"
                   style="plain"
                   required="true"
                   type="xsd:string">
                    
                </param>
                <param name="endpoints_links"
                   style="plain"
                   required="true"
                   type="xsd:string">
                    
                </param>
                <param name="type" style="plain" required="true" type="xsd:string">
                    
                </param>
                <param name="name" style="plain" required="true" type="xsd:string">
                    
                </param>
                <param name="user" style="plain" required="true" type="xsd:string">
                    
                </param>
                <param name="metadata" style="plain" required="true" type="xsd:string">
                    
                </param>
            </representation>
        </response>
        <response status="403">
            <representation mediaType="application/json" element="identity:userDisabled"/>
        </response> 
        <response>
            <representation mediaType="application/xml" element="identity:identityFault"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="405">
            <representation mediaType="application/xml" element="identity:badMethod"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="413">
            <representation mediaType="application/xml" element="identity:overLimit"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
            <representation mediaType="application/json"/>
        </response>
            
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
            </method>
    <!-- Tenant Operations -->
    <method xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
           xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listTenants">
        
        <request>
            <representation mediaType="application/json" element="identity:tenants">
                
            </representation>
            <representation mediaType="application/xml" element="identity:tenants">
                
            </representation>
        </request>
        <response status="200 203">
            <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml" element="identity:tenants">
                
            </representation>
        </response> 
        <response>
            <representation mediaType="application/xml" element="identity:identityFault"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="405">
            <representation mediaType="application/xml" element="identity:badMethod"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="413">
            <representation mediaType="application/xml" element="identity:overLimit"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
            <representation mediaType="application/json"/>
        </response>
            
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
            </method>
</wadl:application>
