api-ref/rackerlabs-wadl2swagger/openstack/wadls/metering-labels.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2013-2014 OpenStack Foundation, All Rights Reserved -->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--<grammars>
        <include href="../xsd/metering.xsd"/>
    </grammars>-->
    <resources xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:csapi="http://www.w3.org/2001/XMLSchema"
              xmlns:metering="http://docs.openstack.org/neutron/api/v2.0"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://servers.api.openstack.com/"
              xml:id="metering-labels-v2.0">
        <resource id="metering_labels" path="/v2.0/metering/metering-labels">
         <method name="GET" rax:id="listMeteringLabels">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List metering labels">
               <para role="shortdesc">Lists all l3 metering labels
                that belong to the specified tenant.</para>
               <para>The list includes the unique ID for each metering
                labels.</para>
               <para>This operation does not require a request
                body.</para>
               <para>This operation returns a response body.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">GET /v2.0/metering/metering-labels HTTP/1.1
Host: controlnode:9696
User-Agent: python-neutronclient
Content-Type: application/json
Accept: application/json
X-Auth-Token: c52a1b304fec4ca0ac85dc1741eec6e2
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "metering_labels": [
        {
            "tenant_id": "45345b0ee1ea477fac0f541b2cb79cd4",
            "description": "label1 description",
            "name": "label1",
            "id": "a6700594-5b7a-4105-8bfe-723b346ce866"
        },
        {
            "tenant_id": "45345b0ee1ea477fac0f541b2cb79cd4",
            "description": "label2 description",
            "name": "label2",
            "id": "e131d186-b02d-4c0b-83d5-0c0725c4f812"
        }
    ]
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="metering:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method name="POST" rax:id="createMeteringLabel">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create metering label">
               <para role="shortdesc">Creates a l3 metering label.</para>
               <para>This operation requires a request body.</para>
               <para>The following table describes the required and
                optional attributes in the request body:</para>
               <table width="75%" rules="all">
                  <caption>Create Metering
                    label rule Request Attributes</caption>
                  <thead>
                     <tr>
                        <th>Attribute</th>
                        <th>Required</th>
                        <th>Description</th>
                     </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>
                           <para>name</para>
                        </td>
                        <td>
                           <para>Required</para>
                        </td>
                        <td>
                           <para>The name of the metering
                                label.</para>
                        </td>
                     </tr>
                    <tr>
                        <td>
                           <para>description</para>
                        </td>
                        <td>
                           <para>Optional</para>
                        </td>
                        <td>
                           <para>
                                Description for the metering
                                label.</para>
                        </td>
                     </tr>
                  </tbody>
               </table>
               <para>This operation returns a response body, which
                contains the following informations about the metering
                label:</para>
               <itemizedlist>
                  <listitem>
                     <para>
                        <code>name</code>. Name of
                        the metering label.</para>
                  </listitem>
                  <listitem>
                     <para>
                        <code>description</code>. Description
                        of the metering label.</para>
                  </listitem>
                  <listitem>
                     <para>
                        <code>tenant_id</code>. The tenant ID
                        for the specified metering
                    label.</para>
                  </listitem>
                  <listitem>
                     <para>
                        <code>id</code>. The metering label
                        ID</para>
                  </listitem>
               </itemizedlist>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "metering_label": {
        "name": "label1",
        "description": "description of label1"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="201">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "metering_label": {
        "tenant_id": "45345b0ee1ea477fac0f541b2cb79cd4",
        "description": "description of label1",
        "name": "label1",
        "id": "bc91b832-8465-40a7-a5d8-ba87de442266"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
            <response status="400">
               <representation mediaType="application/xml" element="metering:badRequest"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="metering:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
                
                
                <resource id="get_metering_label"
                path="/v2.0/metering/metering-labels/{metering_label_id}">
         <param name="metering_label_id" style="template" type="csapi:uuid">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>The unique identifier of the
                                metering label.</para>
            </wadl:doc>
                    </param>
         <method name="GET" rax:id="getMeteringLabel">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Show metering label">
               <para role="shortdesc">Shows informations for a specified
                metering label.</para>
               <para>This operation does not require a request
                body.</para>
               <para>This operation returns a response body that contains
                the description, name, ID.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">GET /v2.0/metering/metering-labels/a6700594-5b7a-4105-8bfe-723b346ce866 HTTP/1.1
Host: controlnode:9696
User-Agent: python-neutronclient
Content-Type: application/json
Accept: application/json
X-Auth-Token: c52a1b304fec4ca0ac85dc1741eec6e2
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "metering_label": {
        "tenant_id": "45345b0ee1ea477fac0f541b2cb79cd4",
        "description": "label1 description",
        "name": "label1",
        "id": "a6700594-5b7a-4105-8bfe-723b346ce866"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="metering:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="404">
               <representation mediaType="application/xml" element="metering:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method name="DELETE" rax:id="deleteMeteringLabel">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Delete metering label">
               <para role="shortdesc">Deletes a l3 metering label.</para>
               <para>This operation deletes a l3 metering label.</para>
               <para>This operation does not require a request body. This
                operation does not return a response body.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">DELETE /v2.0/metering/metering-labels/a6700594-5b7a-4105-8bfe-723b346ce866 HTTP/1.1
Host: controlnode:9696
User-Agent: python-neutronclient
Content-Type: application/json
Accept: application/json
X-Auth-Token: c52a1b304fec4ca0ac85dc1741eec6e2
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="204">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">status: 204
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="metering:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="404">
               <representation mediaType="application/xml" element="metering:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
                    
                    
                    
                
            <resource id="metering_label_rules" path="/v2.0/metering/metering-label-rules">
         <method name="GET" rax:id="listMeteringLabelRules">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List metering label rules">
               <para role="shortdesc">Lists a summary of all l3 metering
                label rules belonging to the specified tenant.</para>
               <para>The list provides the unique ID for each metering
                label rule.</para>
               <para>This operation does not require a request body. This
                operation returns a response body.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">GET /v2.0/metering/metering-label-rules HTTP/1.1
Host: controlnode:9696
User-Agent: python-neutronclient
Content-Type: application/json
Accept: application/json
X-Auth-Token: c52a1b304fec4ca0ac85dc1741eec6e2
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "metering_label_rules": [
        {
            "remote_ip_prefix": "20.0.0.0/24",
            "direction": "ingress",
            "metering_label_id": "e131d186-b02d-4c0b-83d5-0c0725c4f812",
            "id": "9536641a-7d14-4dc5-afaf-93a973ce0eb8",
            "excluded": false
        },
        {
            "remote_ip_prefix": "10.0.0.0/24",
            "direction": "ingress",
            "metering_label_id": "e131d186-b02d-4c0b-83d5-0c0725c4f812",
            "id": "ffc6fd15-40de-4e7d-b617-34d3f7a93aec",
            "excluded": false
        }
    ]
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="metering:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method name="POST" rax:id="createMeteringLabelRule">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create metering label rule">
               <para role="shortdesc">Creates a l3 metering label
                rule.</para>
               <para>This operation requires a request body.</para>
               <para>The following table describes the required and
                optional attributes in the request body:</para>
               <table width="75%" rules="all">
                  <caption>Create Metering
                    label rule Request Attributes</caption>
                  <thead>
                     <tr>
                        <th>Attribute</th>
                        <th>Required</th>
                        <th>Description</th>
                     </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>
                           <para>direction</para>
                        </td>
                        <td>
                           <para>Optional</para>
                        </td>
                        <td>
                           <para>Ingress or egress: The direction in
                                which metering rule is applied.
                                Default: ingress</para>
                        </td>
                     </tr>
                    <tr>
                        <td>
                           <para>metering_label_id</para>
                        </td>
                        <td>
                           <para>Required</para>
                        </td>
                        <td>
                           <para>The meteting label ID to associate
                                with this metering
                        rule.</para>
                        </td>
                     </tr>
                    <tr>
                        <td>
                           <para>excluded</para>
                        </td>
                        <td>
                           <para>Optional</para>
                        </td>
                        <td>
                           <para>
                                Specify whether the remote_ip_prefix
                                will be excluded or not from traffic
                                counters of the metering label, ie: to
                                not count the traffic of a specific IP
                                address of a range. Default:
                                False</para>
                        </td>
                     </tr>
                    <tr>
                        <td>
                           <para>remote_ip_prefix</para>
                        </td>
                        <td>
                           <para>Required</para>
                        </td>
                        <td>
                           <para>The
                                remote IP prefix to be associated with
                                this metering rule.
                            packet.</para>
                        </td>
                     </tr>
                  </tbody>
               </table>
               <para>This operation returns a response body.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "metering_label_rule": {
        "remote_ip_prefix": "10.0.1.0/24",
        "direction": "ingress",
        "metering_label_id": "e131d186-b02d-4c0b-83d5-0c0725c4f812"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="201">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "metering_label_rule": {
        "remote_ip_prefix": "10.0.1.0/24",
        "direction": "ingress",
        "metering_label_id": "e131d186-b02d-4c0b-83d5-0c0725c4f812",
        "id": "00e13b58-b4f2-4579-9c9c-7ac94615f9ae",
        "excluded": false
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
            <response status="400">
               <representation mediaType="application/xml" element="metering:badRequest"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="metering:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="404">
               <representation mediaType="application/xml" element="metering:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="409">
               <representation mediaType="application/xml" element="metering:buildInProgress"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
                
                
                <resource path="/v2.0/metering/metering-label-rules/{metering-label-rule-id}"
                id="metering-label-rule-id">
         <param name="metering-label-rule-id" style="template" type="csapi:uuid">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>The unique identifier of
                                metering label rule.</para>
            </wadl:doc>
                    </param>
         <method name="GET" rax:id="getMeteringLabelRule">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Show metering label rule">
               <para role="shortdesc">Shows detailed informations for a
                specified metering label rule.</para>
               <para>This operation does not require a request
                body.</para>
               <para>This operation returns a response body, which
                contains the following informations about the metering
                label rule:</para>
               <itemizedlist>
                  <listitem>
                     <para>
                        <code>direction</code>.
                        Either ingress or egress.</para>
                  </listitem>
                  <listitem>
                     <para>
                        <code>excluded</code>. Either True or
                        False.</para>
                  </listitem>
                  <listitem>
                     <para>The ID for the specified metering
                        label rule</para>
                  </listitem>
                  <listitem>
                     <para>The remote IP prefix</para>
                  </listitem>
                  <listitem>
                     <para>The metering label ID for the metering
                        label with which the rule is
                    associated</para>
                  </listitem>
               </itemizedlist>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">GET /v2.0/metering/metering-label-rules/9536641a-7d14-4dc5-afaf-93a973ce0eb8 HTTP/1.1
Host: controlnode:9696
User-Agent: python-neutronclient
Content-Type: application/json
Accept: application/json
X-Auth-Token: c52a1b304fec4ca0ac85dc1741eec6e2
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "metering_label_rule": {
        "remote_ip_prefix": "20.0.0.0/24",
        "direction": "ingress",
        "metering_label_id": "e131d186-b02d-4c0b-83d5-0c0725c4f812",
        "id": "9536641a-7d14-4dc5-afaf-93a973ce0eb8",
        "excluded": false
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="metering:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="404">
               <representation mediaType="application/xml" element="metering:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method name="DELETE" rax:id="deleteMeteringLabelRule">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Delete metering label rule">
               <para role="shortdesc">Deletes a specified l3 metering
                label rule.</para>
               <para>This operation does not require a request
                body.</para>
               <para>This operation does not return a response
                body.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">DELETE /v2.0/metering/metering-labels/37b31179-71ee-4f0a-b130-0eeb28e7ede7 HTTP/1.1
Host: controlnode:9696
User-Agent: python-neutronclient
Content-Type: application/json
Accept: application/json
X-Auth-Token: c52a1b304fec4ca0ac85dc1741eec6e2
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="204">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">status: 204
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="metering:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="404">
               <representation mediaType="application/xml" element="metering:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
                    
                    
                    
                
            
    </resources>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://www.w3.org/2001/XMLSchema"
           xmlns:metering="http://docs.openstack.org/neutron/api/v2.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listMeteringLabels">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                
            </representation>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="metering:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://www.w3.org/2001/XMLSchema"
           xmlns:metering="http://docs.openstack.org/neutron/api/v2.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="createMeteringLabel">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                
            </representation>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="metering:badRequest"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="metering:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://www.w3.org/2001/XMLSchema"
           xmlns:metering="http://docs.openstack.org/neutron/api/v2.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="getMeteringLabel">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                
            </representation>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="metering:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="metering:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://www.w3.org/2001/XMLSchema"
           xmlns:metering="http://docs.openstack.org/neutron/api/v2.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="deleteMeteringLabel">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="204">
            <representation mediaType="application/json">
                
            </representation>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="metering:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="metering:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://www.w3.org/2001/XMLSchema"
           xmlns:metering="http://docs.openstack.org/neutron/api/v2.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listMeteringLabelRules">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                
            </representation>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="metering:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://www.w3.org/2001/XMLSchema"
           xmlns:metering="http://docs.openstack.org/neutron/api/v2.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="createMeteringLabelRule">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                
            </representation>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="metering:badRequest"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="metering:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="metering:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="409">
            <representation mediaType="application/xml" element="metering:buildInProgress"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://www.w3.org/2001/XMLSchema"
           xmlns:metering="http://docs.openstack.org/neutron/api/v2.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="getMeteringLabelRule">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                
            </representation>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="metering:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="metering:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://www.w3.org/2001/XMLSchema"
           xmlns:metering="http://docs.openstack.org/neutron/api/v2.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="deleteMeteringLabelRule">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="204">
            <representation mediaType="application/json">
                
            </representation>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="metering:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="metering:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
</wadl:application>
