api-ref/rackerlabs-wadl2swagger/openstack/wadls/os-coverage.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2013-2014 OpenStack Foundation, All Rights Reserved -->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <resources xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:csapi="http://docs.openstack.org/compute/api/v2"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://servers.api.openstack.com"
              xml:id="os-coverage-v2">
        <resource path="/v2/{tenant_id}/os-coverage/action" id="action">
         <param name="tenant_id" style="template" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>The ID for the tenant or
                            account in a multi-tenancy
                        cloud.</para>
            </wadl:doc>
                </param>
         <method name="POST" rax:id="getReport">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Get coverage report">
               <para role="shortdesc">Generates a coverage report.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Start combined report: JSON request">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "report": {
        "xml": true,
        "file": "report"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Start combined report: XML request">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;report&gt;
    &lt;file&gt;report&lt;/file&gt;
    &lt;xml&gt;True&lt;/xml&gt;
&lt;/report&gt;</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <param name="file" style="plain" type="csapi:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="name">
                        <para>The file name for the report.</para>
                    </wadl:doc>
                  </param>
                  <param name="xml" style="plain" type="csapi:bool" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="xml">
                        <para>Set to true to generate the report in
                            XML format.</para>
                    </wadl:doc>
                  </param>
                  <param name="html" style="plain" type="csapi:bool" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="html">
                        <para>Set to true to generate the report in
                            HTML format.</para>
                    </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="200">

               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "path": "/tmp/tmp6kdYaa/nova-coverage_TOTUbz/report"
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version='1.0' encoding='UTF-8'?&gt;
&lt;path&gt;/tmp/tmp4j87bp/nova-coverage_7ViTA7/report&lt;/path&gt;</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <param name="path" style="plain" type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The path to the report file.</para>
                    </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
         <method name="POST" rax:id="startReport">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Start coverage report">
               <para role="shortdesc">Starts Nova coverage
                reporting.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "start": {}
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;start&gt;&lt;/start&gt;</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <param name="start" style="plain" type="csapi:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Specify <code>start</code> in the
                            request body.</para>
                    </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="202"/>
         </method>
         <method name="POST" rax:id="startCombinedReport">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Start combined coverage report">
               <para role="shortdesc">Starts coverage reporting for all
                services.</para>
               <para>All reports are combined into a single
                report.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Start combined report: JSON request">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "start": {
        "combine": true
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Start combined report: XML request">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;start&gt;
    &lt;combine&gt;True&lt;/combine&gt;
&lt;/start&gt;</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <param name="start" style="plain" type="csapi:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Specify <code>start</code> in the
                            request body.</para>
                    </wadl:doc>
                  </param>
                  <param name="combine" style="plain" type="csapi:bool" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Set to true to generate a combined
                            report for all services.</para>
                    </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="200"/>
         </method>
         <method name="POST" rax:id="stopReport">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Stop coverage report">
               <para role="shortdesc">Stops coverage reporting.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "stop": {}
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;stop&gt;&lt;/stop&gt;</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <param name="stop" style="plain" type="csapi:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Specify <code>stop</code> in the request
                            body.</para>
                    </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="202">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Stop report: JSON response">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "path": "/tmp/tmpua9HvB/nova-coverage_rs2CaS"
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Stop report: XML response">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version='1.0' encoding='UTF-8'?&gt;
&lt;path&gt;/tmp/tmpCLve38/nova-coverage_GJ4BZ_&lt;/path&gt;</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
      </resource>
                        
                        
                        
                        
                    
    </resources>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v2"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="getReport">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml">
                
                <param name="file" style="plain" type="csapi:string" required="true">
                    
                </param>
                <param name="xml" style="plain" type="csapi:bool" required="false">
                    
                </param>
                <param name="html" style="plain" type="csapi:bool" required="false">
                    
                </param>
            </representation>
        </request>
        <response status="200">

            <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml">
                
                <param name="path" style="plain" type="xsd:string" required="true">
                    
                </param>
            </representation>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v2"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="startReport">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml">
                
                <param name="start" style="plain" type="csapi:string" required="true">
                    
                </param>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v2"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="startCombinedReport">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml">
                
                <param name="start" style="plain" type="csapi:string" required="true">
                    
                </param>
                <param name="combine" style="plain" type="csapi:bool" required="true">
                    
                </param>
            </representation>
        </request>
        <response status="200"/>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v2"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="stopReport">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml">
                
                <param name="stop" style="plain" type="csapi:string" required="true">
                    
                </param>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml">
                
            </representation>
        </response>
    </method>
</wadl:application>
