api-ref/rackerlabs-wadl2swagger/openstack/wadls/os-layer3-ext.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2013-2014 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent os-layer3-ext.wadl              -->
<!--*******************************************************-->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns:linkend="http://www.w3.org/1999/linkend"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://neutron.example.com/"
              xml:id="os-layer3-ext-v2.0">
        <resource id="Routers" path="/v2.0/routers">
         <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Router list">
            <para>A list of routers.</para>
        </wadl:doc>
         <method name="GET" rax:id="listRouters">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List routers">
               <para role="shortdesc">Lists logical routers that are
                accessible to the tenant who submits the
                request.</para>
               <para>Default policy settings return only those routers
                that are owned by the tenant who submits the request,
                unless an admin user submits the request.</para>
               <para>This example request lists routers in JSON
                format:</para>
               <programlisting>GET /v2.0/routers
Accept: application/json</programlisting>
               <para>Use the <code>fields</code> query parameter to
                control which fields are returned in the response
                body. Additionally, you can filter results by using
                query string parameters. For information, see <link xlink:href="http://docs.openstack.org/api/openstack-network/2.0/content/filtering.html">Filtering and Column Selection</link> in the
                    <citetitle>OpenStack Networking API v2.0
                    Reference</citetitle>.</para>
            </wadl:doc>
            <response status="200"> 
               <param required="true" name="status" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The router status.</para>
                  </wadl:doc>
               </param>
            
               <param required="true"
                      name="external_gateway_info"
                      style="plain"
                      type="xsd:dict">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The <code>network_id</code>, for the external
            gateway.</para>
                  </wadl:doc>
               </param> 
               <param required="true" name="name" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The router name.</para>
                  </wadl:doc>
               </param>
            
               <param required="true"
                      name="admin_state_up"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The administrative state of the router, which is up (<code>true</code>) or down (<code>false</code>).</para>
                  </wadl:doc>
               </param> 
               <param required="true"
                      name="tenant_id"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The tenant ID.</para>
                  </wadl:doc>
               </param>
            
               <param required="true" name="id" style="plain" type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The router ID.</para>
                  </wadl:doc>
               </param> 
               <representation mediaType="application/json" element="csapi:router">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "routers": [
        {
            "status": "ACTIVE",
            "external_gateway_info": null,
            "name": "second_routers",
            "admin_state_up": true,
            "tenant_id": "6b96ff0cb17a4b859e1e575d221683d3",
            "id": "7177abc4-5ae9-4bb7-b0d4-89e94a4abf3b"
        },
        {
            "status": "ACTIVE",
            "external_gateway_info": {
                "network_id": "3c5bcddd-6af9-4e6b-9c3e-c153e521cab8"
            },
            "name": "router1",
            "admin_state_up": true,
            "tenant_id": "33a40233088643acb66ff6eb0ebea679",
            "id": "a9254bdb-2613-4a13-ac4c-adc581fba50d"
        }
    ]
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response> 
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response> 
         </method>
         <method name="POST" rax:id="createRouter">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create router">
               <para role="shortdesc">Creates a logical router.</para>
               <para>This operation creates a new logical router. When it
                is created, a logical router does not have any
                internal interface; it is not associated to any
                subnet. You can optionally specify an external gateway
                for a router at create time. The external gateway for
                the router must be plugged into an external network.
                An external network has its extended field
                    <code>router:external</code> set to true. To
                specify an external gateway, the identifier of the
                external network must be passed in the
                    <code>external_gateway_info</code> attribute in
                the request body, as follows:</para>
               <programlisting language="json">{
   "router":{
      "external_gateway_info":{
         "network_id":"8ca37218-28ff-41cb-9b10-039601ea7e6b"
      }
   }
}</programlisting>
            </wadl:doc>
            <request> 
               <param required="true" name="router" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>A <code>router</code> object.</para>
                  </wadl:doc>
               </param> 
               <param required="true" name="name" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The router name.</para>
                  </wadl:doc>
               </param>
            
               <param required="true"
                      name="admin_state_up"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The administrative state of the router, which is up (<code>true</code>) or down (<code>false</code>).</para>
                  </wadl:doc>
               </param> 
               <representation mediaType="application/json" element="csapi:router">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "router": {
        "name": "another_router",
        "external_gateway_info": {
            "network_id": "8ca37218-28ff-41cb-9b10-039601ea7e6b"
        },
        "admin_state_up": true
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="201"> 
               <param required="true" name="router" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>A <code>router</code> object.</para>
                  </wadl:doc>
               </param> 
               <param required="true" name="status" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The router status.</para>
                  </wadl:doc>
               </param>
            
               <param required="true"
                      name="external_gateway_info"
                      style="plain"
                      type="xsd:dict">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The <code>network_id</code>, for the external
            gateway.</para>
                  </wadl:doc>
               </param> 
               <param required="true" name="name" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The router name.</para>
                  </wadl:doc>
               </param>
            
               <param required="true"
                      name="admin_state_up"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The administrative state of the router, which is up (<code>true</code>) or down (<code>false</code>).</para>
                  </wadl:doc>
               </param> 
               <param required="true"
                      name="tenant_id"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The tenant ID.</para>
                  </wadl:doc>
               </param>
            
               <param required="true" name="id" style="plain" type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The router ID.</para>
                  </wadl:doc>
               </param> 
               <representation mediaType="application/json" element="csapi:router">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "router": {
        "status": "ACTIVE",
        "external_gateway_info": {
            "network_id": "8ca37218-28ff-41cb-9b10-039601ea7e6b"
        },
        "name": "another_router",
        "admin_state_up": true,
        "tenant_id": "6b96ff0cb17a4b859e1e575d221683d3",
        "id": "8604a0de-7f6b-409a-a47c-a1cc7bc77b2e"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response> 
            <response status="400">
               <representation mediaType="application/xml" element="csapi:badRequest"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response> 
         </method>
      </resource>
      <resource path="/v2.0/routers/{router_id}" id="router_id">
         <param name="router_id" style="template" type="csapi:UUID">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Router ID">
               <para>The UUID of the
                                   router.</para>
            </wadl:doc>
                        </param>
         <method name="GET" rax:id="showRouter">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Show router details">
               <para role="shortdesc">Shows details for a specified
                router.</para>
               <para>This example request shows details for a router in
                JSON format:</para>
               <programlisting>GET /v2.0/routers/{router_id}
Accept: application/json</programlisting>
               <para>Use the <code>fields</code> query parameter to
                control which fields are returned in the response
                body. For information, see <link xlink:href="http://docs.openstack.org/api/openstack-network/2.0/content/filtering.html">Filtering and Column Selection</link> in the
                    <citetitle>OpenStack Networking API v2.0
                    Reference</citetitle>.</para>
            </wadl:doc>
            <response status="200"> 
               <param required="true" name="routers" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>A <code>routers</code> object.</para>
                  </wadl:doc>
               </param> 
               <param required="true" name="status" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The router status.</para>
                  </wadl:doc>
               </param>
            
               <param required="true"
                      name="external_gateway_info"
                      style="plain"
                      type="xsd:dict">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The <code>network_id</code>, for the external
            gateway.</para>
                  </wadl:doc>
               </param> 
               <param required="true" name="name" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The router name.</para>
                  </wadl:doc>
               </param>
            
               <param required="true"
                      name="admin_state_up"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The administrative state of the router, which is up (<code>true</code>) or down (<code>false</code>).</para>
                  </wadl:doc>
               </param> 
               <param required="true"
                      name="tenant_id"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The tenant ID.</para>
                  </wadl:doc>
               </param>
            
               <param required="true" name="id" style="plain" type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The router ID.</para>
                  </wadl:doc>
               </param> 
               <representation mediaType="application/json" element="csapi:router">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "router": {
        "status": "ACTIVE",
        "external_gateway_info": {
            "network_id": "85d76829-6415-48ff-9c63-5c5ca8c61ac6"
        },
        "name": "router1",
        "admin_state_up": true,
        "tenant_id": "d6554fe62e2f41efbb6e026fad5c1542",
        "id": "a07eea83-7710-4860-931b-5fe220fae533"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response> 
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="403">
               <representation mediaType="application/xml" element="csapi:forbidden"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="404">
               <representation mediaType="application/xml" element="csapi:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response> 
         </method>
         <method name="PUT" rax:id="updateRouter">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Update router">
               <para role="shortdesc">Updates a logical router.</para>
               <para>You can update the name, administrative state, and
                the external gateway. For more information about how
                to set the external gateway for a router, see the
                create router operation. This operation does not
                enable the update of router interfaces. To update a
                router, use the add router interface and remove router
                interface operations.</para>
               <para>This example updates the external gateway
                information for a router:</para>
               <programlisting>PUT /v2.0/routers/{router_id}
Accept: application/json</programlisting>
            </wadl:doc>
            <request> 
               <param required="true" name="routers" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>A <code>routers</code> object.</para>
                  </wadl:doc>
               </param> 
               <param required="true" name="status" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The router status.</para>
                  </wadl:doc>
               </param>
            
               <param required="true"
                      name="external_gateway_info"
                      style="plain"
                      type="xsd:dict">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The <code>network_id</code>, for the external
            gateway.</para>
                  </wadl:doc>
               </param> 
               <param required="true" name="name" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The router name.</para>
                  </wadl:doc>
               </param>
            
               <param required="true"
                      name="admin_state_up"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The administrative state of the router, which is up (<code>true</code>) or down (<code>false</code>).</para>
                  </wadl:doc>
               </param> 
               <param required="true"
                      name="tenant_id"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The tenant ID.</para>
                  </wadl:doc>
               </param>
            
               <param required="true" name="id" style="plain" type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The router ID.</para>
                  </wadl:doc>
               </param> 
               <representation mediaType="application/json" element="csapi:router">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "router": {
        "external_gateway_info": {
            "network_id": "8ca37218-28ff-41cb-9b10-039601ea7e6b"
        }
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="200"> 
               <param required="true" name="router" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>A <code>router</code> object.</para>
                  </wadl:doc>
               </param> 
               <param required="true" name="status" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The router status.</para>
                  </wadl:doc>
               </param>
            
               <param required="true"
                      name="external_gateway_info"
                      style="plain"
                      type="xsd:dict">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The <code>network_id</code>, for the external
            gateway.</para>
                  </wadl:doc>
               </param> 
               <param required="true" name="name" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The router name.</para>
                  </wadl:doc>
               </param>
            
               <param required="true"
                      name="admin_state_up"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The administrative state of the router, which is up (<code>true</code>) or down (<code>false</code>).</para>
                  </wadl:doc>
               </param> 
               <param required="true"
                      name="tenant_id"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The tenant ID.</para>
                  </wadl:doc>
               </param>
            
               <param required="true" name="id" style="plain" type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The router ID.</para>
                  </wadl:doc>
               </param> 
               <representation mediaType="application/json" element="csapi:router">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "router": {
        "status": "ACTIVE",
        "external_gateway_info": {
            "network_id": "8ca37218-28ff-41cb-9b10-039601ea7e6b"
        },
        "name": "another_router",
        "admin_state_up": true,
        "tenant_id": "6b96ff0cb17a4b859e1e575d221683d3",
        "id": "8604a0de-7f6b-409a-a47c-a1cc7bc77b2e"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response> 
            <response status="400">
               <representation mediaType="application/xml" element="csapi:badRequest"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="404">
               <representation mediaType="application/xml" element="csapi:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response> 
         </method>
         <method name="DELETE" rax:id="deleteRouter">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Delete router">
               <para role="shortdesc">Deletes a logical router and, if
                present, its external gateway interface.</para>
               <para>This operation fails if the router has attached
                interfaces.</para>
               <para>Use the remove router interface operation to remove
                all router interfaces before you delete the
                router.</para>
               <para>This example deletes a router:</para>
               <programlisting>DELETE /v2.0/routers/{router_id}
Accept: application/json</programlisting>
            </wadl:doc>
            <response status="204"/> 
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="404">
               <representation mediaType="application/xml" element="csapi:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="409">
               <representation mediaType="application/xml" element="csapi:conflict"/>
               <representation mediaType="application/json"/>
            </response> 
         </method>
      </resource>
                        
                        
                        
                        
                        <resource id="add_router_interface"
                path="/v2.0/routers/{router_id}/add_router_interface">
         <param name="router_id" style="template" type="csapi:UUID">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Router ID">
               <para>The UUID of the
                                   router.</para>
            </wadl:doc>
                        </param>
         <method name="PUT" rax:id="addRouterInterface">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Add interface to router">
               <para role="shortdesc">Adds an internal interface to a
                logical router.</para>
               <para>This operation attaches a subnet to an internal
                router interface. You must specify either a subnet or
                port ID in the request body. If you specify both IDs,
                the operation returns a <code>400 Bad Request</code>
                error.</para>
               <para>If you specify a subnet ID in the request body, the
                gateway IP address for the subnet is used to create
                the router interface.</para>
               <para>If you specify a port ID in the request body, the IP
                address associated with the port is used to create the
                router interface.</para>
               <para>The operation returns a <code>400 Bad Request</code>
                error if several IP addresses are associated with the
                specified port, or if no IP address is associated with
                the port.</para>
               <para>The operation returns a
                    <code>409 Conflict</code> error if the port is
                already used.</para>
               <para>The port ID that is returned by this operation can
                either be the same ID passed in the request body or
                the ID of a new port created by this operation to
                attach the specified subnet to the router. After you
                run this operation, the device ID of this port is set
                to the router ID, and the <code>device_owner</code>
                attribute is set to
                    <code>network:router_interface</code>, as shown in
                this example:</para>
               <programlisting language="json">{
   "port":{
      "status":"ACTIVE",
      "name":"",
      "admin_state_up":true,
      "network_id":"5307648b-e836-4658-8f1a-ff7536870c64",
      "tenant_id":"6b96ff0cb17a4b859e1e575d221683d3",
      "device_owner":"network:router_interface",
      "mac_address":"fa:16:3e:f7:d1:9c",
      "fixed_ips":[
         {
            "subnet_id":"a2f1f29d-571b-4533-907f-5803ab96ead1",
            "ip_address":"10.1.1.1"
         }
      ],
      "id":"3a44f4e5-1694-493a-a1fb-393881c673a4",
      "device_id":"7177abc4-5ae9-4bb7-b0d4-89e94a4abf3b"
   }
}</programlisting>
            </wadl:doc>
            <request> 
               <param required="true" name="router" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>A <code>router</code> object.</para>
                  </wadl:doc>
               </param> 
               <param required="true" name="name" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The router name.</para>
                  </wadl:doc>
               </param>
            
               <param required="true"
                      name="admin_state_up"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The administrative state of the router, which is up (<code>true</code>) or down (<code>false</code>).</para>
                  </wadl:doc>
               </param> 
               <representation mediaType="application/json" element="csapi:router">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "subnet_id": "a2f1f29d-571b-4533-907f-5803ab96ead1"
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="200"> 
               <param required="true"
                      name="subnet_id"
                      style="plain"
                      type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The subnet ID.</para>
                  </wadl:doc>
               </param>
            
               <param required="true" name="port_id" style="plain" type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The port ID.</para>
                  </wadl:doc>
               </param> 
               <representation mediaType="application/json" element="csapi:router">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "subnet_id": "a2f1f29d-571b-4533-907f-5803ab96ead1",
    "port_id": "3a44f4e5-1694-493a-a1fb-393881c673a4"
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response> 
            <response status="400">
               <representation mediaType="application/xml" element="csapi:badRequest"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="404">
               <representation mediaType="application/xml" element="csapi:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="409">
               <representation mediaType="application/xml" element="csapi:conflict"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
                            
                        
                        <resource id="remove_router_interface"
                path="/v2.0/routers/{router_id}/remove_router_interface">
         <param name="router_id" style="template" type="csapi:UUID">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Router ID">
               <para>The UUID of the
                                   router.</para>
            </wadl:doc>
                        </param>
         <method name="PUT" rax:id="removeRouterInterface">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Remove interface from router">
               <para role="shortdesc">Removes an internal interface from
                a logical router.</para>
               <para>This operation removes an internal router interface,
                which detaches a subnet from the router. You must
                specify either a subnet ID or port ID in the request
                body; this value is used to identify the router
                interface to remove.</para>
               <para>You can also specify both a subnet ID and port ID.
                If you specify both IDs, the subnet ID must correspond
                to the subnet ID of the first IP address on the port
                specified by the port ID. Otherwise, the operation
                returns a <code>409 Conflict</code> error. The
                response contains information about the affected
                router and interface.</para>
               <para>The operation returns a <code>404 Not Found</code>
                if the router or the subnet and port do not exist or
                are not visible to you. As a consequence of this
                operation, the port connecting the router with the
                subnet is removed from the subnet for the
                network.</para>
               <para>This example removes an interface from a
                router:</para>
               <programlisting>PUT /v2.0/routers/{router_id}/remove_router_interface
Accept: application/json</programlisting>
            </wadl:doc>
            <request> 
               <param required="true"
                      name="subnet_id"
                      style="plain"
                      type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The subnet ID.</para>
                  </wadl:doc>
               </param> 
               <param required="true" name="port_id" style="plain" type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The port ID.</para>
                  </wadl:doc>
               </param>
                <representation mediaType="application/json" element="csapi:router">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "subnet_id": "a2f1f29d-571b-4533-907f-5803ab96ead1"
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="200"> 
               <param required="true" name="id" style="plain" type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The router ID.</para>
                  </wadl:doc>
               </param> 
               <param required="true"
                      name="tenant_id"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The tenant ID.</para>
                  </wadl:doc>
               </param>
            
               <param required="true" name="port_id" style="plain" type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The port ID.</para>
                  </wadl:doc>
               </param> 
               <param required="true"
                      name="subnet_id"
                      style="plain"
                      type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The subnet ID.</para>
                  </wadl:doc>
               </param> 
               <representation mediaType="application/json" element="csapi:router">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "id": "8604a0de-7f6b-409a-a47c-a1cc7bc77b2e",
    "tenant_id": "2f245a7b-796b-4f26-9cf9-9e82d248fda7",
    "port_id": "3a44f4e5-1694-493a-a1fb-393881c673a4",
    "subnet_id": "a2f1f29d-571b-4533-907f-5803ab96ead1"
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response> 
            <response status="400">
               <representation mediaType="application/xml" element="csapi:badRequest"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="404">
               <representation mediaType="application/xml" element="csapi:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="409">
               <representation mediaType="application/xml" element="csapi:conflict"/>
               <representation mediaType="application/json"/>
            </response> 
         </method>
      </resource>
                            
                        
                    <resource id="FloatingIps" path="/v2.0/floatingips">
         <wadl:doc xmlns="http://docbook.org/ns/docbook"
                   xml:lang="EN"
                   title="Floating IPs list">
            <para>A list of floating IPs.</para>
        </wadl:doc>
         <method name="GET" rax:id="listFloatingIps">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List floating IPs">
               <para role="shortdesc">Lists floating IPs that are
                accessible to the tenant who submits the
                request.</para>
               <para>Default policy settings return only those floating
                IPs that are owned by the tenant who submits the
                request, unless an admin user submits the
                request.</para>
               <para>This example request lists floating IPs in JSON
                format:</para>
               <programlisting>GET /v2.0/floatingips
Accept: application/json</programlisting>
               <para>Use the <code>fields</code> query parameter to
                control which fields are returned in the response
                body. Additionally, you can filter results by using
                query string parameters. For information, see <link xlink:href="http://docs.openstack.org/api/openstack-network/2.0/content/filtering.html">Filtering and Column Selection</link> in the
                    <citetitle>OpenStack Networking API v2.0
                    Reference</citetitle>.</para>
            </wadl:doc>
            <response status="200"> 
               <param required="true"
                      name="floatingip"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>A <code>floatingips</code> object.</para>
                  </wadl:doc>
               </param>
            
               <param required="true"
                      name="tenant_id"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The tenant ID.</para>
                  </wadl:doc>
               </param> 
               <param required="false"
                      name="floating_network_id"
                      style="plain"
                      type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The ID of the network associated with the floating
            IP.</para>
                  </wadl:doc>
               </param>
            
               <param required="false"
                      name="fixed_ip_address"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The fixed IP address associated with the floating
            IP. If you intend to associate the floating IP with a
            fixed IP at creation time, then you must indicate the
            identifier of the internal port. If an internal port
         has multiple associated IP addresses, the service chooses the first IP
         unless you explicitly specify the parameter fixed_ip_address to select
          a specific IP.</para>
                  </wadl:doc>
               </param> 
               <param required="false"
                      name="floating_ip_address"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The floating IP address.</para>
                  </wadl:doc>
               </param>
            
               <param required="true" name="port_id" style="plain" type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The port ID.</para>
                  </wadl:doc>
               </param> 
               <param required="true" name="id" style="plain" type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The router ID.</para>
                  </wadl:doc>
               </param> 
               <representation mediaType="application/json" element="csapi:floatingip">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "floatingips": [
        {
            "router_id": "d23abc8d-2991-4a55-ba98-2aaea84cc72f",
            "tenant_id": "4969c491a3c74ee4af974e6d800c62de",
            "floating_network_id": "376da547-b977-4cfe-9cba-275c80debf57",
            "fixed_ip_address": "10.0.0.3",
            "floating_ip_address": "172.24.4.228",
            "port_id": "ce705c24-c1ef-408a-bda3-7bbd946164ab",
            "id": "2f245a7b-796b-4f26-9cf9-9e82d248fda7"
        },
        {
            "router_id": null,
            "tenant_id": "4969c491a3c74ee4af974e6d800c62de",
            "floating_network_id": "376da547-b977-4cfe-9cba-275c80debf57",
            "fixed_ip_address": null,
            "floating_ip_address": "172.24.4.227",
            "port_id": null,
            "id": "61cea855-49cb-4846-997d-801b70c71bdd"
        }
    ]
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response> 
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response> 
         </method>
         <method name="POST" rax:id="createFloatingIp">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create floating IP">
               <para role="shortdesc">Creates a floating IP, and, if you
                specify port information, associates the floating IP
                with an internal port.</para>
               <para>If you do not specify port information in the
                request, you can issue an <command>PUT</command> request.</para>
               <para>You can create floating IPs on external networks
                only. If you specify a network that is not external,
                such as <code>router:external=False</code>, the
                operation returns a <code>400</code> error.</para>
               <para>If you do not specify a floating IP address in the
                request, the operation automatically allocates an
                address for the floating IP. If the requested floating
                IP address does not fall in the subnet range for the
                external network, the operation returns a
                    <code>400</code> error. If the requested floating
                IP address is already in use, the operation returns a
                    <code>409</code> error code.</para>
               <para>You can associate the floating IP with an internal
                port by using the port ID attribute in the request
                body. If you specify a port ID that is not valid, the
                operation returns a <code>404</code> error
                code.</para>
               <para>You must configure an IP address with the internal
                OpenStack Networking port associated with the floating
                IP or the operation returns a <code>400</code> error
                code. Because an OpenStack Networking port might be
                associated with multiple IP addresses, you can use the
                    <code>fixed_ip_address</code> attribute in the
                request body to associate a particular IP address with
                the floating IP.</para>
               <para>By default, this operation associates the floating
                IP with a single IP address that is configured on a
                port. Therefore, if a port has multiple IP addresses,
                you must specify the <code>fixed_ip_address</code>
                attribute.</para>
               <para>If you specify an IP address that is not valid in
                the <code>fixed_ip_address</code> attribute, the
                operation returns a <code>400</code> error code. If
                the internal OpenStack Networking port and specified
                IP address are already associated with another
                floating IP, the operation returns a <code>409</code>
                error code.</para>
            </wadl:doc>
            <request> 
               <param required="true"
                      name="floatingip"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>A <code>floatingip</code> object. When you associate a
        floating IP address with a VM, the instance has the same public IP
        address each time that it boots, basically to maintain a consistent
        IP address for maintaining DNS assignment.</para>
                  </wadl:doc>
               </param> 
               <param required="true"
                      name="tenant_id"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The tenant ID.</para>
                  </wadl:doc>
               </param>
            
               <param required="false"
                      name="floating_network_id"
                      style="plain"
                      type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The ID of the network associated with the floating
            IP.</para>
                  </wadl:doc>
               </param> 
               <param required="false"
                      name="fixed_ip_address"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The fixed IP address associated with the floating
            IP. If you intend to associate the floating IP with a
            fixed IP at creation time, then you must indicate the
            identifier of the internal port. If an internal port
         has multiple associated IP addresses, the service chooses the first IP
         unless you explicitly specify the parameter fixed_ip_address to select
          a specific IP.</para>
                  </wadl:doc>
               </param>
            
               <param required="false"
                      name="floating_ip_address"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The floating IP address.</para>
                  </wadl:doc>
               </param> 
               <param required="true" name="port_id" style="plain" type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The port ID.</para>
                  </wadl:doc>
               </param>
            
               <param required="true" name="id" style="plain" type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The router ID.</para>
                  </wadl:doc>
               </param> 
               <representation mediaType="application/json" element="csapi:floatingip">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "floatingip": {
        "floating_network_id": "376da547-b977-4cfe-9cba-275c80debf57",
        "port_id": "ce705c24-c1ef-408a-bda3-7bbd946164ab"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="201"> 
               <param required="true"
                      name="floatingip"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>A <code>floatingip</code> object. When you associate a
        floating IP address with a VM, the instance has the same public IP
        address each time that it boots, basically to maintain a consistent
        IP address for maintaining DNS assignment.</para>
                  </wadl:doc>
               </param>
            
               <param required="true"
                      name="tenant_id"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The tenant ID.</para>
                  </wadl:doc>
               </param> 
               <param required="false"
                      name="floating_network_id"
                      style="plain"
                      type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The ID of the network associated with the floating
            IP.</para>
                  </wadl:doc>
               </param>
            
               <param required="false"
                      name="fixed_ip_address"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The fixed IP address associated with the floating
            IP. If you intend to associate the floating IP with a
            fixed IP at creation time, then you must indicate the
            identifier of the internal port. If an internal port
         has multiple associated IP addresses, the service chooses the first IP
         unless you explicitly specify the parameter fixed_ip_address to select
          a specific IP.</para>
                  </wadl:doc>
               </param> 
               <param required="false"
                      name="floating_ip_address"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The floating IP address.</para>
                  </wadl:doc>
               </param>
            
               <param required="true" name="port_id" style="plain" type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The port ID.</para>
                  </wadl:doc>
               </param> 
               <param required="true" name="id" style="plain" type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The router ID.</para>
                  </wadl:doc>
               </param> 
               <representation mediaType="application/json" element="csapi:floatingip">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "floatingip": {
        "router_id": "d23abc8d-2991-4a55-ba98-2aaea84cc72f",
        "tenant_id": "4969c491a3c74ee4af974e6d800c62de",
        "floating_network_id": "376da547-b977-4cfe-9cba-275c80debf57",
        "fixed_ip_address": "10.0.0.3",
        "floating_ip_address": "172.24.4.228",
        "port_id": "ce705c24-c1ef-408a-bda3-7bbd946164ab",
        "id": "2f245a7b-796b-4f26-9cf9-9e82d248fda7"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response> 
            <response status="400">
               <representation mediaType="application/xml" element="csapi:badRequest"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="409">
               <representation mediaType="application/xml" element="csapi:conflict"/>
               <representation mediaType="application/json"/>
            </response> 
         </method>
      </resource>
      <resource path="/v2.0/floatingips/{floatingip_id}" id="floatingip_id">
         <param name="floatingip_id" style="template" type="csapi:UUID">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Floating IP ID">
               <para>The UUID of the floating
                                   IP.</para>
            </wadl:doc>
                        </param>
         <method name="GET" rax:id="showFloatingIp">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Show floating IP details">
               <para role="shortdesc">Shows details for a specified
                floating IP.</para>
               <para>Use the <code>fields</code> query parameter to
                control which fields are returned in the response
                body. For information, see <link xlink:href="http://docs.openstack.org/api/openstack-network/2.0/content/filtering.html">Filtering and Column Selection</link> in the
                    <citetitle>OpenStack Networking API v2.0
                    Reference</citetitle>.</para>
               <para>This example request shows details for a floating IP
                in JSON format. This example also filters the result
                by the <code>fixed_ip_address</code> and
                    <code>floating_ip_address</code> fields.</para>
               <programlisting>GET /v2.0/floatingips/{floatingip_id}?fields=fixed_ip_address&amp;fields=floating_ip_address
Accept: application/json</programlisting>
            </wadl:doc>
            <response status="200"> 
               <param required="true"
                      name="floatingip"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>A <code>floatingip</code> object. When you associate a
        floating IP address with a VM, the instance has the same public IP
        address each time that it boots, basically to maintain a consistent
        IP address for maintaining DNS assignment.</para>
                  </wadl:doc>
               </param>
            
               <param required="true"
                      name="tenant_id"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The tenant ID.</para>
                  </wadl:doc>
               </param> 
               <param required="false"
                      name="floating_network_id"
                      style="plain"
                      type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The ID of the network associated with the floating
            IP.</para>
                  </wadl:doc>
               </param>
            
               <param required="false"
                      name="fixed_ip_address"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The fixed IP address associated with the floating
            IP. If you intend to associate the floating IP with a
            fixed IP at creation time, then you must indicate the
            identifier of the internal port. If an internal port
         has multiple associated IP addresses, the service chooses the first IP
         unless you explicitly specify the parameter fixed_ip_address to select
          a specific IP.</para>
                  </wadl:doc>
               </param> 
               <param required="false"
                      name="floating_ip_address"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The floating IP address.</para>
                  </wadl:doc>
               </param>
            
               <param required="true" name="port_id" style="plain" type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The port ID.</para>
                  </wadl:doc>
               </param> 
               <param required="true" name="id" style="plain" type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The router ID.</para>
                  </wadl:doc>
               </param> 
               <representation mediaType="application/json" element="csapi:floatingip">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "floatingip": {
        "fixed_ip_address": "10.0.0.3",
        "floating_ip_address": "172.24.4.228"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response> 
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="403">
               <representation mediaType="application/xml" element="csapi:forbidden"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="404">
               <representation mediaType="application/xml" element="csapi:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response> 
         </method>
         <method name="PUT" rax:id="updateFloatingIp">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Update floating IP">
               <para role="shortdesc">Updates a floating IP and its
                association with an internal port.</para>
               <para>The association process is the same as the process
                for the create floating IP operation.</para>
               <para>To disassociate a floating IP from a port, set the
                    <code>port_id</code> attribute to null or omit it
                from the request body.</para>
               <para>This example updates a floating IP:</para>
               <programlisting>PUT /v2.0/floatingips/{floatingip_id}
Accept: application/json</programlisting>
               <para>Depending on the request body that you submit, this
                request associates a port with or disassociates a port
                from a floating IP.</para>
            </wadl:doc>
            <request> 
               <param required="true" name="port_id" style="plain" type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The port ID.</para>
                  </wadl:doc>
               </param> 
               <representation mediaType="application/json" element="csapi:floatingip">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Update floating IP (associate port): JSON">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "floatingip": {
        "port_id": "fc861431-0e6c-4842-a0ed-e2363f9bc3a8"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/json" element="csapi:floatingip">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Update floating IP (disassociate port): JSON">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "floatingip": {
        "port_id": null
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="200"> 
               <param required="true"
                      name="floatingip"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>A <code>floatingip</code> object. When you associate a
        floating IP address with a VM, the instance has the same public IP
        address each time that it boots, basically to maintain a consistent
        IP address for maintaining DNS assignment.</para>
                  </wadl:doc>
               </param>
            
               <param required="true"
                      name="tenant_id"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The tenant ID.</para>
                  </wadl:doc>
               </param> 
               <param required="false"
                      name="floating_network_id"
                      style="plain"
                      type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The ID of the network associated with the floating
            IP.</para>
                  </wadl:doc>
               </param>
            
               <param required="false"
                      name="fixed_ip_address"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The fixed IP address associated with the floating
            IP. If you intend to associate the floating IP with a
            fixed IP at creation time, then you must indicate the
            identifier of the internal port. If an internal port
         has multiple associated IP addresses, the service chooses the first IP
         unless you explicitly specify the parameter fixed_ip_address to select
          a specific IP.</para>
                  </wadl:doc>
               </param> 
               <param required="false"
                      name="floating_ip_address"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The floating IP address.</para>
                  </wadl:doc>
               </param>
            
               <param required="true" name="port_id" style="plain" type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The port ID.</para>
                  </wadl:doc>
               </param> 
               <param required="true" name="id" style="plain" type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook">
                     <para>The router ID.</para>
                  </wadl:doc>
               </param> 
               <representation mediaType="application/json" element="csapi:floatingip">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Update floating IP (associate port): JSON">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "floatingip": {
        "router_id": "d23abc8d-2991-4a55-ba98-2aaea84cc72f",
        "tenant_id": "4969c491a3c74ee4af974e6d800c62de",
        "floating_network_id": "376da547-b977-4cfe-9cba-275c80debf57",
        "fixed_ip_address": "10.0.0.4",
        "floating_ip_address": "172.24.4.228",
        "port_id": "fc861431-0e6c-4842-a0ed-e2363f9bc3a8",
        "id": "2f245a7b-796b-4f26-9cf9-9e82d248fda7"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/json" element="csapi:floatingip">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Update floating IP (disassociate port): JSON">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "floatingip": {
        "router_id": "d23abc8d-2991-4a55-ba98-2aaea84cc72f",
        "tenant_id": "4969c491a3c74ee4af974e6d800c62de",
        "floating_network_id": "376da547-b977-4cfe-9cba-275c80debf57",
        "fixed_ip_address": null,
        "floating_ip_address": "172.24.4.228",
        "port_id": null,
        "id": "2f245a7b-796b-4f26-9cf9-9e82d248fda7"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response> 
            <response status="400">
               <representation mediaType="application/xml" element="csapi:badRequest"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="404">
               <representation mediaType="application/xml" element="csapi:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="409">
               <representation mediaType="application/xml" element="csapi:conflict"/>
               <representation mediaType="application/json"/>
            </response> 
         </method>
         <method name="DELETE" rax:id="deleteFloatingIp">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Delete floating IP">
               <para role="shortdesc">Deletes a floating IP and, if
                present, its associated port.</para>
               <para>This example deletes a floating IP:</para>
               <programlisting>DELETE /v2.0/floatingips/{floatingip_id}
Accept: application/json</programlisting>
            </wadl:doc>
            <response status="204"/> 
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="404">
               <representation mediaType="application/xml" element="csapi:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response> 
         </method>
      </resource>
                        
                        
                        
                        
                    
    </resources>
    
    
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listRouters">
        
        <response status="200"> 
         <param required="true" name="status" style="plain" type="xsd:string">
    
</param>
            
         <param required="true"
                name="external_gateway_info"
                style="plain"
                type="xsd:dict">
    
</param> 
         <param required="true" name="name" style="plain" type="xsd:string">
    
</param>
            
         <param required="true"
                name="admin_state_up"
                style="plain"
                type="xsd:bool">
    
</param> 
         <param required="true"
                name="tenant_id"
                style="plain"
                type="xsd:string">
    
</param>
            
         <param required="true" name="id" style="plain" type="csapi:uuid">
    
</param> 
         <representation mediaType="application/json" element="csapi:router">
                
            </representation>
        </response> 
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response> 
   </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="createRouter">
        
        <request> 
         <param required="true" name="router" style="plain" type="xsd:string">
    
</param> 
         <param required="true" name="name" style="plain" type="xsd:string">
    
</param>
            
         <param required="true"
                name="admin_state_up"
                style="plain"
                type="xsd:bool">
    
</param> 
         <representation mediaType="application/json" element="csapi:router">
                
            </representation>
        </request>
        <response status="201"> 
         <param required="true" name="router" style="plain" type="xsd:string">
    
</param> 
         <param required="true" name="status" style="plain" type="xsd:string">
    
</param>
            
         <param required="true"
                name="external_gateway_info"
                style="plain"
                type="xsd:dict">
    
</param> 
         <param required="true" name="name" style="plain" type="xsd:string">
    
</param>
            
         <param required="true"
                name="admin_state_up"
                style="plain"
                type="xsd:bool">
    
</param> 
         <param required="true"
                name="tenant_id"
                style="plain"
                type="xsd:string">
    
</param>
            
         <param required="true" name="id" style="plain" type="csapi:uuid">
    
</param> 
         <representation mediaType="application/json" element="csapi:router">
                
            </representation>
        </response> 
      <response status="400">
         <representation mediaType="application/xml" element="csapi:badRequest"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response> 
   </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="showRouter">
        
        <response status="200"> 
         <param required="true" name="routers" style="plain" type="xsd:string">
    
</param> 
         <param required="true" name="status" style="plain" type="xsd:string">
    
</param>
            
         <param required="true"
                name="external_gateway_info"
                style="plain"
                type="xsd:dict">
    
</param> 
         <param required="true" name="name" style="plain" type="xsd:string">
    
</param>
            
         <param required="true"
                name="admin_state_up"
                style="plain"
                type="xsd:bool">
    
</param> 
         <param required="true"
                name="tenant_id"
                style="plain"
                type="xsd:string">
    
</param>
            
         <param required="true" name="id" style="plain" type="csapi:uuid">
    
</param> 
         <representation mediaType="application/json" element="csapi:router">
                
            </representation>
        </response> 
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="403">
         <representation mediaType="application/xml" element="csapi:forbidden"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="404">
            <representation mediaType="application/xml" element="csapi:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response> 
   </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PUT"
           id="updateRouter">
        
        <request> 
         <param required="true" name="routers" style="plain" type="xsd:string">
    
</param> 
         <param required="true" name="status" style="plain" type="xsd:string">
    
</param>
            
         <param required="true"
                name="external_gateway_info"
                style="plain"
                type="xsd:dict">
    
</param> 
         <param required="true" name="name" style="plain" type="xsd:string">
    
</param>
            
         <param required="true"
                name="admin_state_up"
                style="plain"
                type="xsd:bool">
    
</param> 
         <param required="true"
                name="tenant_id"
                style="plain"
                type="xsd:string">
    
</param>
            
         <param required="true" name="id" style="plain" type="csapi:uuid">
    
</param> 
         <representation mediaType="application/json" element="csapi:router">
                
            </representation>
        </request>
        <response status="200"> 
         <param required="true" name="router" style="plain" type="xsd:string">
    
</param> 
         <param required="true" name="status" style="plain" type="xsd:string">
    
</param>
            
         <param required="true"
                name="external_gateway_info"
                style="plain"
                type="xsd:dict">
    
</param> 
         <param required="true" name="name" style="plain" type="xsd:string">
    
</param>
            
         <param required="true"
                name="admin_state_up"
                style="plain"
                type="xsd:bool">
    
</param> 
         <param required="true"
                name="tenant_id"
                style="plain"
                type="xsd:string">
    
</param>
            
         <param required="true" name="id" style="plain" type="csapi:uuid">
    
</param> 
         <representation mediaType="application/json" element="csapi:router">
                
            </representation>
        </response> 
      <response status="400">
         <representation mediaType="application/xml" element="csapi:badRequest"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="404">
            <representation mediaType="application/xml" element="csapi:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response> 
   </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="deleteRouter">
        
        <response status="204"/> 
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="404">
            <representation mediaType="application/xml" element="csapi:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="409">
            <representation mediaType="application/xml" element="csapi:conflict"/>
            <representation mediaType="application/json"/>
        </response> 
   </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PUT"
           id="addRouterInterface">
        
        <request> 
         <param required="true" name="router" style="plain" type="xsd:string">
    
</param> 
         <param required="true" name="name" style="plain" type="xsd:string">
    
</param>
            
         <param required="true"
                name="admin_state_up"
                style="plain"
                type="xsd:bool">
    
</param> 
         <representation mediaType="application/json" element="csapi:router">
                
            </representation>
        </request>
        <response status="200"> 
         <param required="true"
                name="subnet_id"
                style="plain"
                type="csapi:uuid">
    
</param>
            
         <param required="true" name="port_id" style="plain" type="csapi:uuid">
    
</param> 
         <representation mediaType="application/json" element="csapi:router">
                
            </representation>
        </response> 
      <response status="400">
         <representation mediaType="application/xml" element="csapi:badRequest"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="404">
            <representation mediaType="application/xml" element="csapi:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="409">
         <representation mediaType="application/xml" element="csapi:conflict"/>
         <representation mediaType="application/json"/>
      </response>
   </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PUT"
           id="removeRouterInterface">
        
        <request> 
         <param required="true"
                name="subnet_id"
                style="plain"
                type="csapi:uuid">
    
</param> 
         <param required="true" name="port_id" style="plain" type="csapi:uuid">
    
</param>
                <representation mediaType="application/json" element="csapi:router">
                
            </representation>
        </request>
        <response status="200"> 
         <param required="true" name="id" style="plain" type="csapi:uuid">
    
</param> 
         <param required="true"
                name="tenant_id"
                style="plain"
                type="xsd:string">
    
</param>
            
         <param required="true" name="port_id" style="plain" type="csapi:uuid">
    
</param> 
         <param required="true"
                name="subnet_id"
                style="plain"
                type="csapi:uuid">
    
</param> 
         <representation mediaType="application/json" element="csapi:router">
                
            </representation>
        </response> 
      <response status="400">
         <representation mediaType="application/xml" element="csapi:badRequest"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="404">
            <representation mediaType="application/xml" element="csapi:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response> 
      <response status="409">
         <representation mediaType="application/xml" element="csapi:conflict"/>
         <representation mediaType="application/json"/>
      </response> 
   </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listFloatingIps">
        
        <response status="200"> 
         <param required="true"
                name="floatingip"
                style="plain"
                type="xsd:string">
    
</param>
            
         <param required="true"
                name="tenant_id"
                style="plain"
                type="xsd:string">
    
</param> 
         <param required="false"
                name="floating_network_id"
                style="plain"
                type="csapi:uuid">
    
</param>
            
         <param required="false"
                name="fixed_ip_address"
                style="plain"
                type="xsd:string">
    
</param> 
         <param required="false"
                name="floating_ip_address"
                style="plain"
                type="xsd:string">
    
</param>
            
         <param required="true" name="port_id" style="plain" type="csapi:uuid">
    
</param> 
         <param required="true" name="id" style="plain" type="csapi:uuid">
    
</param> 
         <representation mediaType="application/json" element="csapi:floatingip">
                
            </representation>
        </response> 
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response> 
   </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="createFloatingIp">
        
        <request> 
         <param required="true"
                name="floatingip"
                style="plain"
                type="xsd:string">
    
</param> 
         <param required="true"
                name="tenant_id"
                style="plain"
                type="xsd:string">
    
</param>
            
         <param required="false"
                name="floating_network_id"
                style="plain"
                type="csapi:uuid">
    
</param> 
         <param required="false"
                name="fixed_ip_address"
                style="plain"
                type="xsd:string">
    
</param>
            
         <param required="false"
                name="floating_ip_address"
                style="plain"
                type="xsd:string">
    
</param> 
         <param required="true" name="port_id" style="plain" type="csapi:uuid">
    
</param>
            
         <param required="true" name="id" style="plain" type="csapi:uuid">
    
</param> 
         <representation mediaType="application/json" element="csapi:floatingip">
                
            </representation>
        </request>
        <response status="201"> 
         <param required="true"
                name="floatingip"
                style="plain"
                type="xsd:string">
    
</param>
            
         <param required="true"
                name="tenant_id"
                style="plain"
                type="xsd:string">
    
</param> 
         <param required="false"
                name="floating_network_id"
                style="plain"
                type="csapi:uuid">
    
</param>
            
         <param required="false"
                name="fixed_ip_address"
                style="plain"
                type="xsd:string">
    
</param> 
         <param required="false"
                name="floating_ip_address"
                style="plain"
                type="xsd:string">
    
</param>
            
         <param required="true" name="port_id" style="plain" type="csapi:uuid">
    
</param> 
         <param required="true" name="id" style="plain" type="csapi:uuid">
    
</param> 
         <representation mediaType="application/json" element="csapi:floatingip">
                
            </representation>
        </response> 
      <response status="400">
         <representation mediaType="application/xml" element="csapi:badRequest"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="409">
         <representation mediaType="application/xml" element="csapi:conflict"/>
         <representation mediaType="application/json"/>
      </response> 
   </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="showFloatingIp">
        
        <response status="200"> 
         <param required="true"
                name="floatingip"
                style="plain"
                type="xsd:string">
    
</param>
            
         <param required="true"
                name="tenant_id"
                style="plain"
                type="xsd:string">
    
</param> 
         <param required="false"
                name="floating_network_id"
                style="plain"
                type="csapi:uuid">
    
</param>
            
         <param required="false"
                name="fixed_ip_address"
                style="plain"
                type="xsd:string">
    
</param> 
         <param required="false"
                name="floating_ip_address"
                style="plain"
                type="xsd:string">
    
</param>
            
         <param required="true" name="port_id" style="plain" type="csapi:uuid">
    
</param> 
         <param required="true" name="id" style="plain" type="csapi:uuid">
    
</param> 
         <representation mediaType="application/json" element="csapi:floatingip">
                
            </representation>
        </response> 
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="403">
         <representation mediaType="application/xml" element="csapi:forbidden"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="404">
            <representation mediaType="application/xml" element="csapi:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response> 
   </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PUT"
           id="updateFloatingIp">
        
        <request> 
         <param required="true" name="port_id" style="plain" type="csapi:uuid">
    
</param> 
         <representation mediaType="application/json" element="csapi:floatingip">
                
            </representation>
            <representation mediaType="application/json" element="csapi:floatingip">
                
            </representation>
        </request>
        <response status="200"> 
         <param required="true"
                name="floatingip"
                style="plain"
                type="xsd:string">
    
</param>
            
         <param required="true"
                name="tenant_id"
                style="plain"
                type="xsd:string">
    
</param> 
         <param required="false"
                name="floating_network_id"
                style="plain"
                type="csapi:uuid">
    
</param>
            
         <param required="false"
                name="fixed_ip_address"
                style="plain"
                type="xsd:string">
    
</param> 
         <param required="false"
                name="floating_ip_address"
                style="plain"
                type="xsd:string">
    
</param>
            
         <param required="true" name="port_id" style="plain" type="csapi:uuid">
    
</param> 
         <param required="true" name="id" style="plain" type="csapi:uuid">
    
</param> 
         <representation mediaType="application/json" element="csapi:floatingip">
                
            </representation>
            <representation mediaType="application/json" element="csapi:floatingip">
                
            </representation>
        </response> 
      <response status="400">
         <representation mediaType="application/xml" element="csapi:badRequest"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="404">
            <representation mediaType="application/xml" element="csapi:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response> 
      <response status="409">
         <representation mediaType="application/xml" element="csapi:conflict"/>
         <representation mediaType="application/json"/>
      </response> 
   </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="deleteFloatingIp">
        
        <response status="204"/> 
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="404">
            <representation mediaType="application/xml" element="csapi:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response> 
   </method>
</wadl:application>
